DEBUG = True
TEMPLATE_DEBUG = DEBUG

import settings
INSTALLED_APPS = settings.INSTALLED_APPS

# For development this needs to be set for the {{debug}} variable to be
# available in templates
# INTERNAL_IPS = ('127.0.0.1', )

# For development this sets up a dummy email server
# EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
# EMAIL_FILE_PATH = '/tmp/app-messages'
# Otherwise, this default
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

if DEBUG:
    INSTALLED_APPS = INSTALLED_APPS + ('debug_toolbar', )

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'dunya',                      # Or path to database file if using sqlite3.
        'USER': 'dunya',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Celery broker. On a default install this won't need to be changed
BROKER_URL = 'amqp://dunyauser:dunyapassword@sitar.s.upf.edu:5672/CompMusic'
# Celery result backend - where to store data
CELERY_RESULT_BACKEND='redis://sitar.s.upf.edu/0'
# Where the processing servers access redis for a cache
WORKER_REDIS_HOST = 'localhost'

# Absolute filesystem path to the directory that will hold user-uploaded files.
# for example, images
MEDIA_ROOT = ''
#Inside each collection folder, where the derived files are located
DERIVED_FOLDER = 'derived'


# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = '/media/'

SOLR_URL = 'http://dunya.compmusic.upf.edu:8080/solr'

# Sendfile
SENDFILE_BACKEND = 'sendfile.backends.development'

# Notification emails (e.g. account activated)
# Who emails are from
NOTIFICATION_EMAIL_FROM = ""
# Who gets system emails (e.g., new user) [list/set]
NOTIFICATION_EMAIL_TO = ('', )

EXTERNAL_OAUTH_LOGIN = []

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ''
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ''

SOCIAL_AUTH_FACEBOOK_KEY = ''
SOCIAL_AUTH_FACEBOOK_SECRET = ''
SOCIAL_AUTH_TWITTER_KEY = ''
SOCIAL_AUTH_TWITTER_SECRET = ''

# import raven
# RAVEN_CONFIG = {
#     'dsn': 'http://<key>:<secret>@10.55.0.191/sentry/<project>',
# }
