DEBUG = True
TEMPLATE_DEBUG = DEBUG

# For development this needs to be set for the {{debug}} variable to be
# available in templates
# INTERNAL_IPS = ('127.0.0.1', )

# For development this is needed to automatically compile less files
# on page access
# pip install django-less
# INSTALLED_APPS = settings.INSTALLED_APPS + ('less', )
# STATICFILES_FILTERS = settings.STATICFILES_FINDERS + ('less.finders.LessFinder', )
# LESS_OPTIONS  = ["--source-map-map-inline", "--source-map-rootpath=/static/carnatic/css"]
# LESS_ROOT = "carnatic/static/"

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'dunya',                      # Or path to database file if using sqlite3.
        'USER': 'dunya',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Celery broker. On a default install this won't need to be changed
BROKER_URL = 'amqp://dunyauser:dunyapassword@sitar.s.upf.edu:5672/CompMusic'
# Celery result backend - where to store data
CELERY_RESULT_BACKEND='redis://sitar.s.upf.edu/0'

# Absolute filesystem path to the directory that will hold user-uploaded files.
# for example, images
MEDIA_ROOT = ''
# Where generated files live (e.g. extracted features)
AUDIO_ROOT = ''

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = '/media/'

SOLR_URL = 'http://dunya.compmusic.upf.edu:8080/solr'

