{%extends "carnatic/base.html" %}
{% load inline %}

{% block wrap %}
<div id="login" class="logCenter">
	<h1>Welcome</h1>
 {% if form.has_errors %}
  <p>Your username and password didn't match.Please try again.</p>
 {% endif %}
  <form method="post" action=".">
   {% csrf_token %}
   <p><label for="id_username">Username</label></p><p>{{ form.username }}</p>
   <p><label for="id_password">Password</label></p><p>{{ form.password }}</p>
   <input type="submit" value="login" />
   {% if request.GET.next %}
   <input type="hidden" name="next" value="{{ request.GET.next }}" />
   {% else %}
    <input type="hidden" name="next" value="{% url 'carnatic-main' %}" />
   {% endif %}
  </form>
</div>
{% endblock %}

