{% extends "dashboard/base.html" %}
{% block title %}Carnatic Raaga and Taala{% endblock %}

{% block wrap %}

<h1>Carnatic Raaga and Taala</h1>

<a href="#notdb">Raagas and taalas not in the Dunya database</a><br>
<a href="#notag">Recordings with no or unparsable tags</a><br>

<a name="notdb"></a>
<h2>Raagas and taalas not in the Dunya database</h2>
<h3>Raagas</h3>
{% for r in missingr %}
    <li> <a href="{{r.file.get_absolute_url}}">{{r.file.name}}</a> ({{r.raagas|join:", "}})
{% endfor %}
<h3>Taalas</h3>
{% for t in missingt %}
    <li> <a href="{{t.file.get_absolute_url}}">{{t.file.name}}</a> ({{t.taalas|join:", "}})
{% endfor %}

<a name="notag"></a>
<h2>Recordings with no or unparsable tags</h2>
<h3>Raagas</h3>
{% for r in no_r %}
<li><a href="{{r.get_absolute_url}}">{{r.name}}</a>
{% endfor %}
<h3>Taalas</h3>
{% for t in no_t %}
<li><a href="{{t.get_absolute_url}}">{{t.name}}</a>
{% endfor %}

{% endblock %}



