{% extends "dashboard/base.html" %}
{% block title %}Carnatic Statistics{% endblock %}

{% block wrap %}

<h1>Carnatic Statistics</h1>
{% if missing %}
Error: Carnatic collection is not imported
{% else %}

<li>Number of releases: {{releases}}
<li>Number of releases missing audio: {{releases_missing}}
<li>Number of releases currently ignored (bad data): {{releases_ignored}}
<p>
<li>Number of recordings: {{recordings}}
<li>Number of raagas (raw tags): {{raagas}}
<li>Number of taalas (raw tags): {{taalas}}
<li>Number of raagas (imported): {{raaga_objects}}
<li>Number of taalas (imported): {{taala_objects}}
<p>
<li>Number of artists: {{artists}}
<li>Number of lead artists (by relationships): {{lead_artists}}
<li>Number of lead artists (release artists): {{lead_artists_objects}}
<li>Number of composers: {{composers}}

{% endif %}

{% endblock %}

