{% extends "dashboard/base.html" %}
{% block title %}Carnatic Artists{% endblock %}

{% block wrap %}

<h1>Carnatic Artists</h1>

<h2>Artists missing images</h2>
<ul>
    {% for a in noimages %}
        <li><a href="{{a.get_musicbrainz_url}}">{{a}}</a>
        <ul>
            {% for r in a.references.all %}
            <li>{{r.source_name.name}} - <a href="{{r.uri}}">{{r.uri}}</a>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

<h2>Artists missing biographies</h2>
<ul>
    {% for a in nobios %}
        <li><a href="{{a.get_musicbrainz_url}}">{{a}}</a>
        <ul>
            {% for r in a.references.all %}
            <li>{{r.source_name.name}} - <a href="{{r.uri}}">{{r.uri}}</a>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

<h2>All Artists</h2>
{% for a in all %}
<li><a href="{{a.get_musicbrainz_url}}">{{a}}</a>
{% endfor %}

{% endblock %}


