{% extends "dashboard/base.html" %}
{% block title %}Carnatic Works{% endblock %}

{% block wrap %}

<h1>Carnatic Works</h1>

<a href="#missing">Works missing composers</a><br>
<a href="#duplicate">Works with more than one composer</a><br>
<a href="#all">All works</a><br>

<a name="missing"></a>
<h2>Works missing composers</h2>
{% for w in nocomposer %}
    <li><a href="{{w.get_musicbrainz_url}}">{{w}}</a>
{% endfor %}

<a name="duplicate"></a>
<h2>Works with more than one composer</h2>
{% for w in duplicatecomposer %}
    <li><a href="{{w.get_musicbrainz_url}}">{{w}}</a>
{% endfor %}

<a name="all"></a>
<h2>All Works</h2>
{% for w in all %}
    <li><a href="{{w.get_musicbrainz_url}}">{{w}}</a>
{% endfor %}

{% endblock %}


