{% extends "dashboard/base.html" %}
{% block title %}Carnatic Recordings{% endblock %}

{% block css %}
<style type="text/css">
h3 {
    margin-top: 10px;
    margin-bottom: 3px;
}
</style>
{% endblock %}

{% block wrap %}

<h1>Carnatic Recordings</h1>

{% for c in concerts %}
{% if not c.got_perf or not c.got_works %}
    <h3><a href="{{c.get_musicbrainz_url}}">{{c}}</a></h3>
    {% if not c.got_works %}
        Tracks missing works:<br>
        {% for t in c.tracks.all %}
            {% if not t.work %}
            <li><a href="{{t.get_musicbrainz_url}}">{{t}}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not c.got_track_perf and not c.got_perf %}
        Tracks missing performance information<br>
        {% for t in c.tracks.all %}
            {% if not t.performance.count %}
            <li><a href="{{t.get_musicbrainz_url}}">{{t}}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if c.missing_rel_artists %}
        Lead artists who have no relationships<br>
        {% for a in c.artists.all %}
            <li><a href="{{a.get_musicbrainz_url}}">{{a}}</a></li>
        {% endfor %}
    {% endif %}
{% endif %}
{% endfor %}

{% endblock %}


