{% extends "dashboard/base.html" %}
{% block title %}Hindustani Statistics{% endblock %}

{% block wrap %}

<h1>Hindustani Statistics</h1>
{% if missing %}
Error: Hindustani collection is not imported
{% else %}

<li>Number of releases: {{releases}}
<li>Number of releases missing audio: {{releases_missing}}
<li>Number of releases currently ignored (bad data): {{releases_ignored}}
<p>
<li>Number of recordings: {{recordings}}
<li>Number of raagas (raw tags): {{raagas}}
<li>Number of taalas (raw tags): {{taalas}}
<p>
<li>Number of artists: {{artists}}
<li>Number of lead artists (release artists): {{releaseartists}}
<li>Number of composers: {{composers}}
<li>Number of works: {{works}}

{% endif %}

{% endblock %}

