{% extends "dashboard/base.html" %}
{% block title %}Makam recordings{% endblock %}

{% block wrap %}

<h1>Makam Recordings</h1>

<a href="#moretags">Recordings with more than 1 tag of the same type</a><br>
<a href="#moreworks">Recordings with more than 1 work</a><br>
<a href="#noworks">Recordings with no work (and not taksim)</a><br>
<a href="#badtags">Recordings with unmatching number of tags</a><br>

<a name="moretags"></a>
<h2>Recordings with more than 1 tag of the same type</h2>
<ul>
    {% for r in moreonetag %}
    <li><a href="{{r.get_musicbrainz_url}}">{{r}}</a>
    {% endfor %}
</ul>

<a name="moreworks"></a>
<h2>Recordings with more than 1 work</h2>
<ul>
    {% for r in moreonework %}
    <li><a href="{{r.get_musicbrainz_url}}">{{r}}</a>
    {% endfor %}
</ul>

<a name="noworks"></a>
<h2>Recordings with no work (and not taksim)</h2>
<ul>
    {% for r in nowork %}
    <li><a href="{{r.get_musicbrainz_url}}">{{r}}</a>
    {% endfor %}
</ul>


<a name="badtags"></a>
<h2>Recordings with unmatching number of tags</h2>
<ul>
    {% for r in unmatchingtag %}
    <li><a href="{{r.get_musicbrainz_url}}">{{r}}</a>
    {% endfor %}
</ul>


{% endblock %}
