{% extends "browse/base.html" %}
{% load inline %}
{% load comments %}


{% block wrap %}
<h2>Artist</h2>

<p>Name: {{artist.name}}

{% include "carnatic/concerts_by_artist_list.html" with artist=artist only %}

<h2>Comments:</h2>
{% render_comment_list for artist %}

<h2>Post comment:</h2>
{% if user.is_authenticated %}
 {% get_comment_form for artist as form_comment %}

{% include "browse/form-comment.html" %}

	<input type="hidden" name="next" value="{% url 'carnatic-artist' artist.id %}" />
	<input type="submit" value="Add comment" id="id_submit" />
        <input type="submit" name="preview" value="Preview">
 </form>
 
 <h2>Post Tag:</h2>
	{% include "form-tag.html" %}


{% else %}
    <p>Please <a href="{{ login_url }}?next={% firstof request.path '/' %}">log in</a> to leave a comment.</p>
{% endif %}

<h2>Tags:</h2>

	{% include "tag_cloud.html" %}

{% endblock %}
