{% extends "carnatic/base.html" %}
{% load inline %}
{% load comments %}

{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
	$("#filterMask").toggleClass('querybar');
	parseAllFilters({{ filter_items|safe }});
    widthOfChildren('.metaContainer');

});
</script>
{% endblock %}

{% block title %}{{artist.name}} - {% endblock %}

{% block wrap %}
<!--
<div id="filterMask">
	    <div id="filterArea">
	    	<div id="entitiesList" class="filterList">
	    		<h3>Chose your query</h3>
	        	<ul>

	        	</ul>
	    	</div>

	    	<div id="breadcrumb">
	    		<div class="bread entity_1 artist">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    		<div class="bread entity_3 work">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    		<div class="bread entity_4 instrument">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    	</div>
	    </div>
     </div>
            -->

<div id="detail" class="artist">
        <div id="header">
            <div id="summary">
                <div id="innerSummary">
	     			<span>
		     			<h1>{{artist.name}}</h1>
                        <h2>{% inline_instrument artist.instruments %}</h2>
	     			</span>
                </div>
                <div id="summaryBack"></div>
                <div id="icon"></div>
            </div>
            <div class="bigImage"><img src="{{artist.get_image_url}}"></div>
            <div id="meta">
<!--
										<h3>Common raagas</h3>
										<span>
                                            {% for ref in artist.reference_urls %}
                                            <a href="{{ref.url}}">{{ref.title}}</a>

                                            {% endfor %}
										</span>
-->
                <div class="metaBlock">
                    <div class="metaMask">
                            <div class="metaContainer" style="width: 200px !important;">
                            <div class="splitMeta">
                                <div id="editorial" class="metaDetails">
                                <h3>Biographical data</h3>
                                    <div class="inner">
                                        <span class="list">
                                            <label>Date of birth:</label><b>{{artist.begin}}</b>
                                            <label>Region of birth:</label><b>{{artist.state.name}}</b>
                                        </span>
                                    </div>
                                </div>
                                <div id="samples" class="metaDetails">
                                    <h3>Data sources</h3>
                                    <div class="inner">
                                        <span class="list">
                                            {% if mb %}
                                            <a href="{{mb}}">Musicbrainz</a>
                                            {% endif %}
                                            {% if kutcheris %}
                                            <a href="{{kutcheris}}">Kutcheris</a>
                                            {% endif %}
                                            {% if wiki %}
                                            <a href="{{wiki}}">Wikipedia</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                        <div class="metaContainer" style="width: 315px;">
                            <div class="metaDetails">
                                <h3>Biography</h3>
                                {% if artist.description.description %}
                                <span>{{artist.description.description}}
                                <p><label>Description from </label> <a href="{{artist.description.source.uri}}">{{artist.description.source.source_name.name}}</a><br>
                                Read more on <a href="">Wikipedia</a><br>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div><!-- HEADER END -->

            <div class="thedata">
                <div class="leftdata">
                    <h3>Concerts by this artist</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        <div class="scrollblock isotope" id="results" style="width: 34785px; position: relative; overflow: hidden; height: 290px;">
                            {% for concert in artist.concerts %}
                                {% badge_detail_concert concert %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="thedata">
                <div class="leftdata">
                    <h3>Similar artists</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        <div class="scrollblock isotope" id="results" style="width: 34785px; position: relative; overflow: hidden; height: 290px;">
                            {% for a in artist.similar_artists %}
                                {% badge_detail_artist a %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="thedata">
                <div class="leftdata">
                    <h3>Common collaborating artists</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        <div class="scrollblock isotope" id="results" style="width: 34785px; position: relative; overflow: hidden; height: 290px;">
                            {% for a in artist.similar_artists %}
                                {% badge_detail_artist a %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

	     	<!-- COMMENTS -->
	        {% if tags %}
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Tags</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata">
			 			{% include "tag_cloud.html" %}
	     			</div>
	     		</div>
			 </div>
            {% endif %}


	        {% get_comment_list for artist as comment_list %}
	        {% if comment_list %}
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Comments</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata">
	                    <div id="comments">
	                    {% for comment in comment_list %}
	                    	<div class="acomment">
	                    		<div class="commentMeta">
		                    		{{comment.submit_date}}
									<b>{{comment.user_name}}</b>
	                    		</div>
	                    		<div class="thecomment">
	                    			{{comment.comment}}
	                    		</div>
	                    	<div class="pastilla"></div>
	                    	</div>
	                    {% endfor %}
	                    </div>
	                    <div class="clearfix"></div>
	     			</div>
	     		</div>
	     	</div>
	        {% endif %}

	     	{% if user.is_authenticated %}

				 <div class="thedata">
		     		<div class="leftdata">
			     		<h3>Post comment</h3>
		     		</div>
		     		<div class="rightdata">
		     			<div class="innerrightdata">
				 			{% get_comment_form for artist as form_comment %}
							{% include "browse/form-comment.html" %}
							<input type="hidden" name="next" value="{% url 'carnatic-artist' artist.id %}" />
							<input type="submit" value="Add comment" id="id_submit" />
							<input type="submit" name="preview" value="Preview">
							</form>
		     			</div>
		     		</div>
		     	</div>

				<div class="thedata">
		     		<div class="leftdata">
			     		<h3>Post Tag</h3>
		     		</div>
		     		<div class="rightdata">
		     			<div class="innerrightdata">
				 			{% include "form-tag.html" %}
		     			</div>
		     		</div>
		     	</div>

			{% else %}

				<div class="thedata">
		     		<div class="leftdata">
			     		<h3></h3>
		     		</div>
		     		<div class="rightdata">
		     			<div class="innerrightdata">
				 			<p>Please <a href="{{ login_url }}?next={% firstof request.path '/' %}">log in</a> to leave a comment or to add a tag.</p>
		     			</div>
		     		</div>
		 		</div>

			{% endif %}


	     	<div class="clearfix"></div>
	 	</div>
</div>
{% endblock %}
