{% extends "carnatic/base.html" %}
{% load firstof from future %}
{% load carnatic.inline %}

{% load carnatic.badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    widthOfChildren('.inforight');
    widthOfChildren('.metaContainer');

    $(".inforight .desc .plus").click(function() {
        $(this).parent().parent().toggleClass("open");
        widthOfChildren('.inforight');
    });
});
</script>
{% endblock %}
{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{artist.name}} - {% endblock %}

{% block wrap %}
<div id="detail" class="artist">
        <div id="header">
            <div id="summary">
                <div id="innerSummary">
                     <span>
                         <h1>{{artist.name}}</h1>
                        <h2>{% inline_instrument artist.instruments %}</h2>
                     </span>
                </div>
                <div id="summaryBack"></div>
                {% include "hindustani/sample.html" %}
            </div>
            <div class="bigImage"><img src="{{artist.get_image_url}}"></div>
            <div id="meta">
                <div class="metaBlock">
                    <div class="metaMask">
                            <div class="metaContainer">
                            <div class="splitMeta">
                                <div id="editorial" class="metaDetails">
                                <h3>Biographical data</h3>
                                    <div class="inner">
                                        <span class="list">
                                            <label>Date of birth:</label><b>{% firstof artist.begin "(unknown)" %}</b>
                                            <label>Region of birth:</label><b>{% firstof artist.state.name "(unknown)" %}</b>
                                        </span>
                                    </div>
                                </div>
                                <div id="samples" class="metaDetails">
                                    <h3>Data sources</h3>
                                    <div class="inner">
                                        <span class="list">
                                            {% if mb %}
                                            <a href="{{mb}}">Musicbrainz</a>
                                            {% endif %}
                                            {% if kutcheris %}
                                            <a href="{{kutcheris}}">Kutcheris.com</a>
                                            {% endif %}
                                            {% if wiki %}
                                            <a href="{{wiki}}">Wikipedia</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="metaDetails">
                                <h3>Biography</h3>
                                <div class="inner">
                                <span>
                                    {% if artist.description.description %} {{artist.description.description|safe}} {% else %}Sorry, we have no information for this section{% endif %}
                                    </span>
                                </div>
                            </div>
                            {% if raagas or taalas %}
                                    <div class="metaDetails">
                                    {% if raagas %}
                                    <h3>Common raagas</h3>
                                    {% endif %}
                                    {% if taalas %}
                                    <h3>Common taalas</h3>
                                    {% endif %}
                                <div class="inner">
                                    <span>
                                    {% for r, count in raagas %}
                                        <li>{% inline_raaga r %}
                                    {% endfor %}
                                    {% for t, count in taalas %}
                                        <li>{% inline_taala t %}
                                    {% endfor %}
                                </span>
                            </div>
                                </div>
                            {% endif %}
                                {% if artist.group_members.count %}
                                <div class="metaDetails">
                                <h3>Group members</h3>
                                <div class="inner">
                                    <span>
                                {% for member in artist.group_members.all %}
                                {% badge_mini_artist member %}
                                {% endfor %}
                            </span>
                        </div>
                                </div>
                                {% endif %}

                                {% if artist.groups.count %}
                                <div class="metaDetails">
                                <h3>Part of group</h3>
                                <div class="inner">
                                    <span>
                                {% for member in artist.groups.all %}
                                {% badge_mini_artist member %}
                                {% endfor %}
                                </span></div>
                                </div>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div><!-- HEADER END -->

            <div class="thedata">
                <div class="leftdata">
                    <h3>Concerts by this artist</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        {% if artist.concerts %}
                        <div class="scrollblock inforight" style="height: 290px">
                            {% for concert in artist.concerts %}
                                {% badge_detail_concert concert %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin 10px;">Sorry, we have no information for this section</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="thedata">
                <div class="leftdata">
                    <h3>Similar artists</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        {% if artist.similar_artists %}
                        <div class="scrollblock inforight" style="height: 290px;">

                            {% for a, guru in artist.similar_artists %}
                                {% badge_similar_artist a guru=guru %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin 10px;">Sorry, we have no information for this section</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="thedata">
                <div class="leftdata">
                    <h3>Common collaborating artists</h3>
                </div>
                <div class="rightdata">
                    <div class="innerrightdata scrolldata">
                        {% artist_collaborating_artists_with_bootleg artist request.show_bootlegs as collaborating_artists %}
                        {% if collaborating_artists %}
                        <div class="scrollblock inforight" style="height: 290px;">
                            {% for a in collaborating_artists %}
                                {% badge_similar_artist a.artist a.concerts a.bootlegs %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin 10px;">Sorry, we have no information for this section</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

             <div class="clearfix"></div>
         </div>
</div>
{% endblock %}
