{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}Dunya</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="{% static 'carnatic/css/main.css' %}"> -->
        <link rel="stylesheet/less" type="text/css" href="{% static 'carnatic/css/main.less' %}" />
	<link rel="stylesheet/less" type="text/css" href="{% static 'social/css/main.css' %}" />
        <link href="{% static 'carnatic/css/ui-lightness/jquery-ui-1.10.1.custom.min.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'carnatic/js/vendor/less.min.js' %}"></script>
        <script src="{% static 'carnatic/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <script src="{% static 'carnatic/js/vendor/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'carnatic/js/vendor/jquery-ui-1.10.1.custom.min.js' %}"></script>

        <script src="{% static 'carnatic/js/main.js' %}"></script>
        <script src="{% static 'carnatic/js/plugins.js' %}"></script>
	
		<script>
		$(document).ready(function() {
			$('#user').click(function() {
				$(this).find('#userOptions').addClass( "open", globalSpeed, "easeInOutQuad");
			});
			$('#user').mouseleave(function() {
				$(this).find('#userOptions').removeClass( "open", globalSpeed, "easeInOutQuad");
  			});
  			$('#guest').click(function() {
				$(this).find('#guestOptions').addClass( "open", globalSpeed, "easeInOutQuad");
			});
			$('#guest').mouseleave(function() {
				$(this).find('#guestOptions').removeClass( "open", globalSpeed, "easeInOutQuad");
  			});
		});
		</script>
        {% block script %}
        {% endblock %}

    </head>
    <body>
	
	{% url 'social-auth-login' as login_url %}
	{% url 'social-auth-logout' as logout_url %}
	{% url 'social-auth-register' as register_url %}
	{% url 'social-main' as social_main %}
	{% url 'carnatic-main' as carnatic_main %}
	{% url 'carnatic-overview' as carnatic_overview %}
	{% url 'social-user-profile' as social_user_profile %}
	{% url 'social-tag-autocomplete' as social_tag_autocomplete %}
	{% url 'social-users-list' as social_users_list %}
    	<!-- //////  HEADER BLOCK  ////// -->
        <div class="header-container">
            <header>
            	<div id="logo"></div>
            	<div id="globalsearch">
	            	<input type="text" value="search..." />
	            	<div class="button"></div>
            	</div><!-- globalserach -->
            	<div id="globalMusic">
            		<label>Select Music Style</label>
            		<span id="gmSelected">Carnatic</span>
            		<ul id="gmDropDown">
            			<li>Music Style 1</li>
            			<li>Music Style 2</li>
            			<li>Music Style 3</li>
            		</ul>
            	</div><!-- globalmusic -->
                <nav id="mainmenu">
                    	<a href="#">PLAYER</a>
			<a href="#" id="toggleMain">EDIT QUERY</a>
			<a href="#">BOOKMARKS</a>
			<a href="#">ABOUT</a>
			<a href="#">SEARCH</a>
			{% if user.is_authenticated %}
			    <!--welcome {{ user.username }}-->
				<div href="#" id="user">
					<a href="#">{{ user.username }} <img src="{% static 'carnatic/img/develop/avatar.png' %}" /></a>
				    <div id="userOptions">
				    	<div id="userArrow"></div>
				    	<h3>Hi <b>{{ user.username }}!</b></h3>
				    	<img src="{% static 'carnatic/img/develop/avatar.png' %}" />
					    <a href="{{ logout_url }}?next={% firstof request.path '/' %}">LOGOUT</a>
					    <a href="{{ social_user_profile }}">PROFILE</a>
					    <a href="{{ social_users_list }}">USERS</a>
				    </div>	
			    </div>
			{% else %}
				<div href="#" id="guest">
					<a href="#">USER<img src="{% static 'carnatic/img/develop/avatar.png' %}" /></a>
				    <div id="guestOptions">
				    	<div id="userArrow"></div>
				    	<h3>Hi! what do you want to do?</h3>
					    <a href="{{ login_url }}?next={% firstof request.path '/' %}">LOGIN</a>
					    <a href="{{ register_url }}">REGISTER</a>
				    </div>
				</div>
			{% endif %}
                </nav>
                <div class="clearfix"></div>
            </header>
        </div>
        <!-- //////  HEADER BLOCK end ////// -->



        <div class="main-container">
        {% block wrap %}
        {% endblock %}
        </div>

<!--
        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>
-->

        <div id="footage">

        	<!-- //////////////// -->
        	<!-- FILTER BASE MODEL -->
        	<!-- //////////////// -->

        	<div id="filterModel" class="filters">
        		<div class="filterBall shadow1">
        			<span>new filter</span>
        			<div class="arrow"></div>
        			<div class="filterSummary shadow1">No selection yet</div>
        			<div class="closeFilter"></div><div class="resizeFilter"></div>
        		</div>
        		<div class="formFilter"></div>
	            <div class="filterList filterGlobalList"></div>
        	</div>

        </div>

    </body>
</html>
