{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}Dunya</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="en_US" />

        {% if debug %}
        <link href="{% static 'carnatic/css/font.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'carnatic/css/ui-lightness/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
        {% load less %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/main.less' %}" />
        {% else %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/main.css' %}" />
        {% endif %}
        {% block extra_css %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/360player.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/flashblock.css' %}" />
        {% if not debug %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-45126878-1', 'upf.edu');
          ga('send', 'pageview');

        </script>
        {% endif %}
        <script src="{% static 'carnatic/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        {% if debug %}
        <script src="{% static 'carnatic/js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'carnatic/js/vendor/jquery-ui-1.10.3.min.js' %}"></script>
        <script src="{% static 'carnatic/js/vendor/jquery.cookie.js' %}"></script>
        {% else %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        {% endif %}
        <script src="{% static 'carnatic/js/vendor/packery.pkgd.min.js' %}"></script>
        <script src="{% static 'carnatic/js/berniecode-animator.js' %}"></script>
        <script src="{% static 'carnatic/js/soundmanager2.js' %}"></script>
        <script src="{% static 'carnatic/js/360player.js' %}"></script>

        <script src="{% static 'carnatic/js/main.js' %}"></script>
        <script src="{% static 'carnatic/js/plugins.js' %}"></script>

        <script>
            $(document).ready(function() {
                soundManager.setup({
                  //useFlashBlock: true,
                  url: "{% static 'carnatic/swf/' %}"
                });

                $("#playback_dialog").dialog({
                  autoOpen: false,
                  show: {
                    effect: "blind",
                    duration: 100
                  },
                  hide: {
                    effect: "explode",
                    duration: 100
                  }
                });

                $(".player").click(function() {
                    $("#playback_dialog").dialog("open");
                });

                $("#aboutdialog").dialog({
                  autoOpen: false,
                });

                $("#aboutbutton").click(function() {
                    $("#aboutdialog").dialog("open");
                });

                $("#previewicon.disabled").click(function() {
                    $( "#playback_dialog" ).dialog( "open" );
                });

            });
        </script>
        {% block script %}
        {% endblock %}
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>

        <div id="playback_dialog" title="Audio playback">
        <p>Sorry, only registered users can play music in Dunya. Please <a href="/social/register/?next={{request.path}}">register</a>. Already registered? then <a href="/social/login/?next={{request.path}}">login</a></p>
        </div>

        <div id="aboutdialog" title="Dunya">
            <p>Dunya is a prototype being developed in the context of CompMusic, a research project that studies several world music traditions from the point of view of the information technologies, with the aim to facilitate the cataloging and discovery of music recordings within large repositories. For more information: <a href="http://compmusic.upf.edu">http://compmusic.upf.edu</a></p>
        </div>

        <!-- //////  HEADER BLOCK  ////// -->
        <div class="header-container">
            <header>
            <div id="logo">
                <a href="/carnatic">
                <img src="{% static 'carnatic/img/logoDunya.png' %}">
            </a>
            </div>
                <div id="globalsearch">
                    <form method="get" action="/carnatic">
                        <input id="searchbox" type="text" name="q" value="{% if query %}{{query}}{% endif %}" />
                    <button type="submit" class="button"/>
                </form>
                </div><!-- globalserach -->
                <div id="globalMusic">
                    <label>Exploring music style</label>
                    <span id="gmSelected">Carnatic</span>
                </div><!-- globalmusic -->
                <nav id="mainmenu">
            <a href="#" id="aboutbutton">About</a>
            <div href="#" id="usermenu">
            {% if user.is_authenticated %}
                    <a href="#" class="loggedin">{{ user.username }} <img src="{% static 'carnatic/img/avatar.png' %}" /></a>
                    <div id="usermenuoptions">
                        <div id="userArrow"></div>
                        <h3>Hi <b>{{ user.username }}!</b></h3>
                        <a href="{% url 'social-user-profile' %}">View profile</a>
                        <a href="{% url 'social-auth-logout' %}?next={% firstof request.path '/' %}">Logout</a>
                        <a href="{% url 'social-user-changepw' %}">Change password</a>
                    </div>

            {% else %}
                    <a href="#">Login<img src="{% static 'carnatic/img/avatar.png' %}" /></a>
                    <div id="usermenuoptions">
                        <div id="userArrow"></div>
                        <h3>Hi! what do you want to do?</h3>
                        <a href="{% url 'social-auth-login' %}?next={% firstof request.path '/' %}">Login</a>
                        <a href="{% url 'social-auth-register' %}">Register</a>
                    </div>
            {% endif %}
                </div>
                </nav>
                <div class="clearfix"></div>
            </header>
        </div>
        <!-- //////  HEADER BLOCK end ////// -->

        <div class="main-container">
        {% block wrap %}
        {% endblock %}
        </div>


        <div id="cookie-bar">
           <div style="float:left">
               <p>
                   We use cookies to ensure you get the best experience on our website. By browsing our site you agree to our use of cookies.<br>
                    For more information see our <a href="{% url 'cookies' %}">cookies policy</a>.
               </p>
           </div>
           <div style="float:right; margin-top:10px;margin-right:10px;">
               <button id="cookie-accept">Ok</button>
           </div>
        </div>
        <div id="footage">

            <!-- //////////////// -->
            <!-- FILTER BASE MODEL -->
            <!-- //////////////// -->

            <div id="filterModel" class="filters">
                <div class="filterBall shadow1">
                    <span></span>
                    <div class="arrow"></div>
                    <div class="filterSummary shadow1"></div>
                    <div class="closeFilter"></div><div class="resizeFilter"></div>
                </div>
                <!--<div class="formFilter"></div>-->
                <div class="filterList filterGlobalList"></div>
            </div>
        </div>

    </body>
</html>
