{% load extras %}
<div>
    <h5>Concerts by {{artist.name}}</h5>
    As a main performer<br>
    <ul>
        {% for concert in artist.concert_set.all %}
        <li>{{concert}}</li>
        {% endfor %}
    </ul>
    As an accompanying musician<br>
    <ul>
        {% for concert, perf in artist.performances %}
        <li>{% inline_concert concert %} (
        {% for p in perf %}
        {% inline_instrument p.instrument %}
        {% if p.lead %}*{% endif %},
        {% endfor %}
        )</li>
        {% endfor %}
    </ul>
</div>
