{% extends "browse/base.html" %}
{% load inline %}
{% load comments %}

{% block wrap %}
<h2>Concert</h2>

{{concert.title}} by {% inline_artist concert.artists.get %}<br>
<h3>Performers</h3>
{% for artist in concert.performers %}
<li>{% inline_artist artist %}
{% endfor %}

<h3>Tracks</h3>

{% include "carnatic/recordings_by_release_list.html" with concert=concert only %}

<h2>Comments:</h2>
{% render_comment_list for concert %}

<h2>Post comment:</h2>
{% if user.is_authenticated %}
 {% get_comment_form for concert as form %}

{% include "browse/form-comment.html" %}

	<input type="hidden" name="next" value="{% url 'carnatic-concert' concert.id %}" />
	<input type="submit" value="Add comment" id="id_submit" />
        <input type="submit" name="preview" value="Preview">
 </form> 
{% else %}
    <p>Please <a href="{{ login_url }}?next={% firstof request.path '/carnatic/overview' %}">log in</a> to leave a comment.</p>
{% endif %}

{% endblock %}
