{% extends "carnatic/base.html" %}
{% load carnatic.inline %}
{% load carnatic.badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    widthOfChildren('.inforight');
    widthOfChildren('.tracklist');
	$(".inforight .desc .plus").click(function() {
		$(this).parent().parent().toggleClass("open");
        widthOfChildren('.inforight');
	});
	$('.item .similarity div').click(function(){
        $('.item .similarity div').removeClass('active');
        theparent = $(this).parent();
        buscar = ".right ."+$(this).attr('class');
        theparent.parent().parent().find(".right .similarList").removeClass('active');
        theparent.parent().parent().find(buscar).addClass('active');
        theparent.parent().parent().find(".right").fadeIn('slow');
        $(this).addClass("active");
        widthOfChildren('.inforight');
    });
});
</script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{concert.title}} - {% endblock %}

{% block wrap %}
{% if bootleg %}
    <div id="bootleg-bar">
       <div style="float:left">
           <p>This is a bootleg release only visible to CompMusic researchers.
           <br>Do not share.</p>
       </div>
       <div style="float:right; margin-top:10px;margin-right:10px;">
           <button onclick='$("#bootleg-bar").hide()'>Ok</button>
       </div>
    </div>
{% endif %}
     <div id="detail" class="concert">
     	<div id="header">
     		<div id="summary">
     			<div id="innerSummary">
	     			<span>
		     			<h1>{{concert.title}}</h1>
		     			<h2>Release by {%inline_artist_list concert.artistnames %}</h2>
	     			</span>
     			</div>

                {% include "hindustani/sample.html" %}
     		</div>
            <div class="bigImage"><img src="{{image}}" /></div>
     		<div id="meta">
     			<div class="metaBlock">
					<div class="metaMask">
			 			<div class="metaContainer">
							<div  class="splitMeta">
								<div id="editorial" class="metaDetails">
									<h3>Editorial Metadata</h3>
									<div class="inner">
										<span class='list info'>
                                            {% if concert.year %}
                                            <span class="title">Year: </span>
                                            <span class="data">{{concert.year}}</span>
                                            {% endif %}
                                            <span class="title">Length: </span>
                                            <span class="data">{{concert.length}}</span>
                                            <span class="title">Data source: </span>
                                            <span class="data"><a href="{{concert.get_musicbrainz_url}}">MusicBrainz</a></span>
									</div>
								</div>
							</div>

			 			</div>
			 		</div>
			 	</div>
     		</div>

	     	<div class="clearfix"></div>

     	</div><!-- HEADER END -->
	 	<div class="alldata">
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>List of tracks</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
	                    <div class="tracklist">
                            {% for t in recordings  %}
                            {% badge_recording t %}
                            {% endfor %}
	                    </div>
	     			</div>
	     		</div>
	     	</div>

	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Artists</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
                        {% if concert.performers %}
                        <div class="scrollblock inforight" style="height: 290px;">
	                    {% for artist in concert.performers %}
	                        {% badge_performance concert artist %}
	                    {% endfor %}
                        </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin: 10px;">Sorry, we have no information for this section yet.</span>
                        </div>
                        {% endif %}
		     			<div class="clearfix"></div>
	     			</div>
	     		</div>
	     	</div>
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Similar concerts</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
                        {% if similar_concerts %}
	                    <div class="scrollblock inforight" style="height: 290px; width:3000px;">
                            {% for concert, similarity in similar_concerts %}
                                {% badge_similar_concert concert similarity %}
                            {% endfor %}
	                    </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin: 10px;">Sorry, we have no information for this section yet.</span>
                        </div>
                        {% endif %}
	     			</div>
	     		</div>
	     	</div>

		 	<div class="clearfix"></div>
	 	</div>
</div>

{% endblock %}
