{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
	$("#filterMask").toggleClass('querybar');
    parseAllFilters({{ filter_items|safe }});
});
</script>
{% endblock %}

{% block wrap %}
    <div id="filterMask">
	    <div id="filterArea">

	    	<div id="entitiesList" class="filterList">
	    		<h3>Chose your query</h3>
	        	<ul>

	        	</ul>
	    	</div>

	    	<div id="breadcrumb">
	    		<div class="bread entity_1 artist">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    		<div class="bread entity_3 work">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    		<div class="bread entity_4 instrument">
	    			<div class="breadarrow"></div>
	    			<span><a href="#">No selection</a></span>
	    		</div>
	    	</div>

	    </div>
     </div>


     <div id="detail" class="concert">
     	<div id="header">
     		<div id="summary">
     			<div id="innerSummary">
	     			<span>
		     			<h1>{{concert.title}}</h1>
		     			<h2>Release by {{concert.artistnames}}</h2>
		     			<h3>Bootleg</h3>
	     			</span>
     			</div>
     			<div id="summaryBack"></div>
     			<div id="icon"></div>
     		</div>
     		<div class="bigImage"><img src="{% static 'carnatic/img/develop/concert.jpg' %}" /></div>
     		<div id="meta">
     			<div class="metaBlock">
					<div class="metaMask">
			 			<div class="metaContainer">
							<div id="structure" class="metaDetails">
								<h3>Structure</h3>
								<div class="inner">
									<span>rAgam</span>
									<span>tAgam</span>
									<span>pallavL</span>
								</div>
							</div>
							<div id="tonic" class="metaDetails">
								<h3>Tonic</h3>
								<div class="inner">
									<span>Rãgam<b>D</b></span>
									<span>´Sruti Tonic<b>C</b></span>
									<span>Shankarabharanam<b>R2</b></span>
								</div>
							</div>
							<div id="samples" class="metaDetails">
								<h3>Samples</h3>
								<div class="inner">
									<span>
									<div class="player">Palghat Raghu, K. S. Nārāyanaswāmi, Narayana</div>
									<div class="player">Palghat Raghu, V. V. Subramaniam, K. V.</div>
									</span>
								</div>
							</div>
							<div id="editorial" class="metaDetails">
								<h3>Editorial Metadata</h3>
								<div class="inner">
									<span class='list'>
									<label>date:</label><b>1969</b>
									<label>format:</label><b>CD</b>
									<label>length:</label><b>2:32:26</b>
									<label>status:</label><b>Bootleg</b>
									<label>script:</label><b>Latin</b>
									<label>quality:</label><b>Normal</b>
									</span>
								</div>
							</div>
			
							<div id="artists" class="metaDetails">
								<h3>Artists</h3>
								<div class="inner">
									<span class='list2'>
									<label>ghatam:</label><b>Vikku Vinayakram</b>
									<label>mridangam:</label><b>Palghat Raghu</b>
									<label>violin:</label><b>Chalakudy Narayanaswamy Iyer</b>
									<label>live recording of:</label><b>Chalamela</b>
									<label>composer:</label><b>Kuppuswamy Iyer, Tiruvottiyur Thyagaiyer, Vadivelu</b>
									<label>lyricist:</label><b>Kuppuswamy Iyer</b>
									</span>
								</div>
							</div>
							<div id="external" class="metaDetails">
								<h3>External references</h3>
								<div class="inner">
									<span>
									<a href="#">Official Website of Palghat R Raghu</a>
									<a href="#">Obituary in The Hindu newspaper</a>
									</span>
								</div>
							</div>
			 			</div>
			 		</div>
			 	</div>
     		</div>

	     	<div class="clearfix"></div>

     	</div><!-- HEADER END -->

	 	<div class="alldata">
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>List of tracks</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
	                    <div class="scrollblock">
			                <div class="track">
				                   <h4>Chalamela jesevura chala nammina napai (tv)</h4>
				                   <div class="trackWave">
				                   		<img src="{% static 'carnatic/img/develop/track.png' %}" />
				                   </div>
				                   <div class="trackMeta">
					                   <label>Raagas:</label><b>abheri / abhogi</b>
					                   <label>Taalas:</label><b>eka / tishra eka</b>
				                   </div>
		                    </div>
		                    <div class="track">
				                   <h4>Gajavadana </h4>
				                   <div class="trackWave">
				                   		<img src="{% static 'carnatic/img/develop/track.png' %}" />
				                   </div>
				                   <div class="trackMeta">
					                   <label>Raagas:</label><b>abheri / abhogi</b>
					                   <label>Taalas:</label><b>eka / tishra eka</b>
				                   </div>
		                    </div>
		                    <div class="track">
				                   <h4>Divakara tanujam jnanaishvaram </h4>
				                   <div class="trackWave">
				                   		<img src="{% static 'carnatic/img/develop/track.png' %}" />
				                   </div>
				                   <div class="trackMeta">
					                   <label>Raagas:</label><b>abheri / abhogi</b>
					                   <label>Taalas:</label><b>eka / tishra eka</b>
				                   </div>
		                    </div>
	                    </div>        
	     			</div>
	     		</div>
	     	</div>

	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Accompanying artists</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata nopad">
	                    {% for performance in concert.performers %}
	                        {% badge_performance performance %}
	                    {% endfor %}
		     			<div class="clearfix"></div>
	     			</div>
	     		</div>
	     	</div>

	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Similar concerts</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata">
	                    <div class="scrollblock">
	                        {% for concert in concert.artist.concerts %}
	                            {% badge_concert concert %}
	                        {% endfor %}
	                    </div>
	     			</div>
	     		</div>
	     	</div>
		 	<div class="clearfix"></div>
	 	</div>     	
</div>

{% endblock %}
