{% extends "carnatic/base.html" %}
{% block title %}Cookie policy | {% endblock %}

{% block extra_head %}
<style type="text/css">
.centering {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
</style>
{% endblock %}

{% block wrap %}
<div class="centering">
    <h2>Dunya: Cookies Policy</h2>

    <p>DUNYA portal - http://dunya.compmusic.upf.edu/- (hereinafter "DUNYA") is managed by the Music Technology Group at Universitat Pompeu Fabra, Barcelona, Spain Universitat Pompeu Fabra (“UPF” or “WE/US”) domiciled at Plaça de la Mercè, 10-12, Barcelona, Spain, with tax number (CIF) Q-5850017. DUNYA uses our own and third-party tracking and analytical cookies in order to improve our service and for Research and Development purposes within the context of the Compmusic research project (http://compmusic.upf.edu).
    </p>

    <h3>What is a cookie?</h3>
    <p>A cookie is any type of file or device that is downloaded to the terminal equipment of a user in order to store data. This data can be updated and retrieved by the entity responsible for your installation. These cookies can not read data from the hard drive.</p>

    <h3>What kinds of cookies are accepted by me in order to be an user of DUNYA</h3>
    <p>Besides some technical cookies for session management and internal tracking of user browsing, we use analytical cookies for registered and unregistered users. The analytical cookies allow the owner to follow the behavior of web users to whom they are linked. The information gathered through such cookies is used for measuring the activity on the web site or platform and for analysing user browsing behaviour and usage, in order to make improvements based on the analysis of data of users who use the service.</p>

    <h3>Third parties involved in cookies that are used in DUNYA</h3>
    <p>The only third party involved in cookies that are managed by us is “Google Analytics” (analytic cookie):  For more information, please consult. <a href="http://www.google.com/intl/es_ALL/analytics/index.html">http://www.google.com/intl/es_ALL/analytics/index.html</a> <a href="http://www.google.com/analytics/terms/es.html">http://www.google.com/analytics/terms/es.html</a> <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es</a></p>

    <h3>Withdrawing consent</h3>
    <p>To use the Dunya site and service, you must accept our Cookies Policy (as our cookies are an inseparable part of the service). If you do not accept this use, or want to withdraw your consent to this Cookies Policy, be aware that you should not re-use our website after completing the process of withdrawal of the consent, as the cookies will be stored again (unless blocked by you in your browser).</p>
    <p>To withdraw your consent to this Policy Cookies
    <ul><li>First, if you have registered, you must unregister from the services of DUNYA here.
        <li>You must delete the cookies stored on your computer/smartphone (PC or others) through the configuration and settings of your Internet browser.
    </ul>
    There are available instructions about how to configure the way that cookies works and how to delete the cookies for these browsers (which are the most used) <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647">Chrome / Chrome</a>, <a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">Internet Explorer</a>, <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Mozilla Firefox</a> or <a href="http://support.apple.com/kb/ph5042">Safari</a>. If you use other programs you should consult the help documentation for each browser.
    <h3>Others</h3>
    <p>If you want to gather more information about the cookies that we use on this website, you can send an email to the following address: mtg@upf.edu</a>

</div>

{% endblock %}
