{% extends "carnatic/base.html" %}
{% block title %}Terms and Conditions | {% endblock %}

{% block extra_head %}
<style type="text/css">
.centering {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
table {
    border-collapse: collapse;
}
table td {
    vertical-align: top;
}
table td:first-of-type {
    border-right: 1px solid black;
    width: 600px;
    padding-left: 0;
}

table td, table tr {
    padding: 5px;
}
</style>
{% endblock %}

{% block info_link %}
<li><a href="/about/info">Info</a></li>
{% endblock %}
{% block wrap %}

<div class="centering">
<h2>Developers</h2>

<h3>Dunya API</h3>

<p>To use the api first you need to register on dunya <a href='http://dunya.compmusic.upf.edu/social/register/'>here</a>. Once your account is active you can start using the api, for example you can get the information of all the recordings of the makam collections with this url:<br> <a href='http://dunya.compmusic.upf.edu/api/makam/recording'>http://dunya.compmusic.upf.edu/api/makam/recording</a></p>
<p>
In <a href='https://github.com/MTG/pycompmusic'>this repository</a> you can find the code to access the API with python. For example to access the recording in the makam collection:
</p>
<p>
from compmusic import dunya<br>
dunya.set_token("<your_token>")<br>
recordings = dunya.makam.get_recordings()<br>
</p>
<p>
In order to get your API token you have to <a href='http://dunya.compmusic.upf.edu/social/login/'>log in</a> to dunya and then go to your <a href='http://dunya.compmusic.upf.edu/social/profile/'>profile</a> where you will find your token.
</p>

<p>
Some resources require special access that will be granted for research purpose, if you need this permission please contact <a href="mailto:alastair.porter@upf.edu">Alastair Porter</a> or <a href="mailto:andres.ferraro@upf.edu">Andr&eacure; Ferraro</a>
</p>
</div>

{% endblock %}
