{% extends "dashboard/base.html" %}
{% block title %}Edit forms for concert{% endblock %}

{% block wrap %}

<p><a href="{% url 'carnatic-formedit' %}">Return to list</a></p>
<h2>Edit forms for concert {{concert.title}}</h2>

<p><a href="{{concert.get_musicbrainz_url}}">Concert on musicbrainz</a><br>
<a href="{% url 'carnatic-concert' concert.mbid %}">Concert on dunya</a><br>
<a href="{{dashrelease.get_absolute_url}}">Concert on dashboard</a></p>

<form method="POST">
    {% csrf_token %}
<table width="100%">
    <tr><th>Recording</th><th>Work</th><th>Form</th></tr>

    {% for r in tracks %}
    <tr>
        <td>{{r.1.title}} /
            <a href="{{r.1.get_musicbrainz_url}}">mb</a> /
            <a href="{% url 'carnatic-recording' r.1.mbid %}">dunya</a>
        </td>

        <td>{{r.1.work.title}}</td>
        <td><select name="form_{{r.0}}"><option>------</option>
                {% for f in forms %}
                   {% if f.id == r.1.forms.all.0.id %}
                <option value="{{f.id}}" selected >{{f.name}}</option>
                {% else %}
                <option value="{{f.id}}">{{f.name}}</option>
                {% endif %}
                {% endfor %}
            </option>
    </td></tr>
    {% endfor %}

</table>
<input type="submit" value="Update forms">
</form>

{% endblock %}

