{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    parseAllFilters({{ filter_items|safe }});
});
</script>
{% endblock %}

{% block wrap %}
    <div id="filterMask">
	    <div id="filterArea">

	    	<div id="entitiesList" class="filterList">
	    		<h3>Chose your query</h3>
	        	<ul>

	        	</ul>
	    	</div>
			
	    	<div id="breadcrumb">
	    	</div>
	    </div>
	    
     </div>
     
     <div id="queryCont">
		<div id="query" class="shadow1">
        	<span>QUERY</span>
		</div>
	 </div>

	 <div id="resultsstats">
        <table>
        	<tr>
        		<td><h3>Statistics</h3></td>
        		<td>{{numartists}} <b>Artists</b></td>
        		<td>{{numcomposers}} <b>Composers</b></td>
        		<td>{{numrecordings}} <b>Recordings</b></td>
        		<td>{{numraaga}} <b>Raagas attached to recordings</b></td>
        		<td>{{numtaala}} <b>Taalas attached to recordings</b></td>
        	</tr>
        </table>
     </div>

     <div id="results">

        {% for c in concerts %}
            {% badge_concert c %}
        {% endfor %}

        {% for a in artists %}
            {% badge_artist a %}
        {% endfor %}

     </div>



{% endblock %}
