{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    parseAllFilters({{ filter_items|safe }});
});
</script>
{% endblock %}

{% block wrap %}
    <div id="filterMask">
	    <div id="filterArea">

	    	<div id="entitiesList" class="filterList">
	    		<h3>Chose your query</h3>
	        	<ul>

	        	</ul>
	    	</div>
			
	    	<div id="breadcrumb">
	    	</div>
	    </div>
	    
     </div>
     
     <div id="queryCont">
		<div id="query" class="shadow1">
        	<span>QUERY</span>
		</div>
	 </div>

	 <div id="resultsstats">
        <table>
        	<tr>
        		<td><h3>Collection statistics</h3></td>
        		<td class="artist">{{numartists}} <b>Artists</b></td>
        		<td class="artist">{{numcomposers}} <b>Composers</b></td>
        		<td class="concert">{{numconcert}} <b>Concerts</b></td>
        		<td class="recording">{{numrecordings}} <b>Recordings</b></td>
        		<td class="raaga">{{numraaga}} <b>Raagas</b></td>
        		<td class="taala">{{numtaala}} <b>Taalas</b></td>
        	</tr>
        </table>
     </div>

     <div id="results">
         {% if results %}
         Query results:<br>
         {% else %}
         Some items from our collection:<br>
         {% endif %}

        {% for c in concerts %}
            {% badge_concert c %}
        {% endfor %}

        {% for a in artists %}
            {% badge_artist a %}
        {% endfor %}

        {% for i in instruments %}
            {% badge_instrument i %}
        {% endfor %}

     </div>



{% endblock %}
