{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    parseAllFilters({{ filter_items|safe }});
});
</script>
{% endblock %}

{% block wrap %}
    <div id="filterMask">
	    <div id="filterArea">

	    	<div id="entitiesList" class="filterList">
	    		<h3>Chose your query</h3>
	        	<ul>

	        	</ul>
	    	</div>

	    	<div id="breadcrumb">
	    	</div>

	    </div>
     </div>


     <div id="detail">
        Dunya search results
        {% for c in concerts %}
            {% badge_concert c %}
        {% endfor %}

        {% for a in artists %}
            {% badge_artist a %}
        {% endfor %}

        <div>
            <h3>Statistics</h3>
            <p>Number of artists: {{numartists}}
            <p>Number of composers: {{numcomposers}}
            <p>Number of recordings: {{numrecordings}}
            <p>Number of raagas attached to recordings: {{numraaga}}
            <p>Number of taalas attached to recordings: {{numtaala}}
        </div>
     </div>



{% endblock %}
