{% load staticfiles %}
<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}Dunya</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="en_US" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>
        <link href='{% static 'carnatic/css/index.css' %}' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="middle">
                    <div class="header-centered">
                      <img id="logo" src="{% static 'carnatic/img/logo.svg' %}">  
                        <div class="menu">
                            <ul>
                                <li><a href="{% url 'general-info' %}">Info</a></li>
                                <li><a href="{% url 'terms' %}">Legal</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="/social/profile">{{ user.username }}</a></li>
                                <li><a href="/social/logout">Logout</a></li>
                                {% else %}
                                <li><a href="/social/register">Register</a></li>
                                <li><a href="/social/login">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rainbow">
            </div>
            <div class="middle">
                <br />
                <p>Dunya comprises the music corpora and related software tools that have been developed as part of the CompMusic project. These corpora have been created with the aim of studying particular music traditions and they include audio recordings plus complementary information that describes the recordings. Each corpus has specific characteristics and the developed software tools allow to process the available information in order to study and explore the characteristics of each musical repertoire.</p>
                <h2>Explore our collections</h2>
                <div class="traditions">
                    <a href="{% url 'carnatic-main' %}"><div class="home carnatic">
                    <span>Carnatic</span>

                    </div></a>
                    <a href="{% url 'hindustani-main' %}"><div class="home hindustani">
                    <span>Hindustani</span>
                    </div></a>
                    <a href="{% url 'makam-main' %}"><div class="home makam">
                    <span>Makam</span>
                    </div></a>
                    <a href="{% url 'jingju-main' %}"><div class="home jingju">
                    <span>Jingju</span>
                    </div></a>
                    <a href="{% url 'andalusian-main' %}"><div class="home andalusi">
                    <span>Andalusian</span>
                    </div></a>
                </div>
            </div>
            <div class="footer">
                <div class="middle">
                
                <img id="erc-logo" src="{% static 'carnatic/img/ERC-logo.png' %}">
                <a href="http://mtg.upf.edu/"><img id="mtg-logo" src="{% static 'carnatic/img/mtg.png' %}"></a>
                </div>
            </div>
        </div>
    </body>
</html>
 
