{% extends "carnatic/base.html" %}
{% load inline %}
{% load comments %}
{% load badges %}
{% load staticfiles %}

{% block title %}{{recording.title}} - {% endblock %}

{% block script %}
<script>
$(document).ready(function() {
	$("#filterMask").toggleClass('querybar');
    parseAllFilters({{ filter_items|safe }});
     audio = $("#theaudio")[0];
     renders = $('#renders');
     rendersMask = $('#rendersMask');
     capcal = $('#capcal');
     capcalTotal = $('#capcalTotal');
     renderTotal = $('#renderTotal');
     zoomFactor = "";
     waveform = $('#bigWave img');
     plButton = $("#control .plButton");
     timecode = $("#timecode");
     zooms = $(".zoom");
	/* waveform.click(function(e) {
	 	var offset_l = $(this).offset().left - $(window).scrollLeft();
		var left = Math.round( (e.clientX - offset_l) );
	    mouPlay(left);
	});*/
});

function mouPlay(desti){
	posicio = renders.position();
	distclick = Math.abs(posicio.left)+desti;
	percentPunt = (distclick*100)/(waveform.width());
	nouPunt = (audio.duration*percentPunt)/100;
	console.log(nouPunt+" - "+audio.duration);
	audio.pause();
	audio.currentTime = Math.ceil(nouPunt);
	audio.play();
	audio.currentTime = Math.ceil(nouPunt);
}
function play() {
    audio.play();
    int = window.setInterval(updateProgress, 30);
}
function pause() {
    audio.pause();
    window.clearInterval(int);
}
function updateProgress() {
    progress_seconds = Math.ceil(audio.currentTime);
    progress_minutes = Math.floor(audio.currentTime/60);
    resto = (progress_seconds-(progress_minutes*60));
    if(resto<10){
		resto = "0"+resto;
    }
    if(progress_minutes<10){
		progress_minutes = "0"+progress_minutes;
    }
    progress_percent = (audio.currentTime / audio.duration * 100);
	ampleMask = rendersMask.width();
	ampleRenders = renders.width();
	ampleRenderTotal = renderTotal.width();
    $('#progress_seconds').html('Seconds: ' + progress_seconds);
    $('#progress_seconds').html('Seconds: ' + ampleRenders);
    nouLeft = ((ampleRenders*progress_percent)/100);
    nouLeft2 = ((ampleRenderTotal*progress_percent)/100);
    capcal.css('left',nouLeft);
    capcalTotal.css('left',nouLeft2);

    if(nouLeft>(ampleMask/2)){
    	decalatge = (nouLeft-(ampleMask/2))*(-1);
	    renders.css('left',decalatge);
    }
    timecodeHtml = ""+progress_minutes+":"+resto;
    timecode.html(timecodeHtml);
};
function zoom(factor){
	zoomFactor = factor;
	renders.width((factor*901));
	zooms.removeClass("selected");
	$("#zoom"+factor).addClass("selected");
}
function playrecord(){
	if(plButton.hasClass("stop")){
		pause();
		plButton.removeClass("stop");
	}else{
		play();
		plButton.addClass("stop");
	}
}

</script>
{% endblock %}

{% block wrap %}


<div id="detail" class="recording">
     	<div id="header">
     	   <div id="scrollrec">
         <div id="summary">
     			<div id="innerSummary">
	     			<span>
		     			<h1>{{recording.title}}</h1>
		     			<h2> by {% inline_artist recording.all_artists.get %}</h2>
	     			</span>
     			</div>
     			<div id="summaryBack"></div>
     		</div>
         <div id="meta">
	     		<div class="metaBlock">
					<div class="metaMask">
				 		<div class="metaContainer">
							<div id="excerpt" class="metaDetails">
								<span class="list">
									<label>From album</label><b>{% inline_concert recording.concert_set.get %}</b>
                                    {% if recording.work %}
									<label>Performing</label><b>{% inline_work recording.work %}</b>
                                    {% if recording.work.composer %}
                                    <label>Composer</label><b>
                                        {% inline_composer recording.work.composer %}</b>
                                    {% endif %}
									{% if recording.work.taala %}
									<label>Taala</label><b>
										{% for t in recording.work.taala.all %}
										    {% inline_taala t %}
		    							{% endfor %}
		    						</b>
									{% endif %}

									{% if recording.work.raaga %}
									<label>Raaga</label><b>
					     				{% for r in recording.work.raaga.all %}
											{% inline_raaga r %}
		    							{% endfor %}
									</b>
									{% endif %}

                                {% endif %}
									{% if tonic %}
                                    <label>Tonic</label><b>{{tonicname}} ({{tonic}} Hz)</b>
									{% endif %}
									{% if akshara %}
                                    <label>Akshara time period</label><b>{{akshara}} seconds </b>
									{% endif %}

								</span>
							</div>
				 		</div>
					</div>
	     		</div>
     		</div>
     	   </div>
         <div id="totalcontrol">
          <div id="control">
            <div class="revButton"></div>
            <div class="plButton" onclick="playrecord();"></div>
            <div class="folButton"></div>
          </div>
         </div>
         <div class="graph">
           <img src="./Dunya_files/graph.png">
         </div>
	     	<div class="clearfix"></div>
     	</div><!-- HEADER END -->

	 	<div class="alldata">
	 	    <div class="container">
	     	<div class="thedata">
	     		<div id="rendersMask">
	     			<div id="renders">
	     				<div id="capcal"></div>
		     			<div id="bigWave">
                            <img src="{{waveform}}">
		     			   <div id="zooms">
                  <a class="zoom" id="zoom1" href="#" onclick="zoom(1);">x1</a>
                  <a class="zoom" id="zoom2" href="#" onclick="zoom(2);">x2</a>
                  <a class="zoom" id="zoom3" href="#" onclick="zoom(3);">x3</a>
                  <a class="zoom" id="zoom4" href="#" onclick="zoom(4);">x4</a>
                </div>
              </div>
		     			<div id="renderTotal">
		     			   <div id="capcalTotal"></div>
                           <img src="{{smallimage}}">
              </div>
		     			<div id="bigPitch">
                            <img src="{{spectrogram}}">
		     			 <div id="zooms">
                  <a class="zoom" id="zoom1" href="#" onclick="zoom(1);">x1</a>
                  <a class="zoom" id="zoom2" href="#" onclick="zoom(2);">x2</a>
                  <a class="zoom" id="zoom3" href="#" onclick="zoom(3);">x3</a>
                  <a class="zoom" id="zoom4" href="#" onclick="zoom(4);">x4</a>
                </div>
		     			</div>
	     			</div>
	     		</div>
	     		<div class="container2">
	     		  <div class="waveLabel">
	     		    <h1>rhythm</h1>
	     		  </div>
	     		  <div id="totalcontrol2">
                      <div id="timecode">00:00<span>03:24</span></div>

            </div>
            <div class="pitchLabel">
              <h1>melody</h1>
            </div>
	     		</div>
	     	</div>
	     	</div>
		 	<div class="clearfix"></div>
	 	</div>

	 	<div class="clearfix"></div>
</div>

<audio id="theaudio">
    <source src="{{audio}}" type="audio/mp3" preload>
</audio>

{% endblock %}
