{% load comments %}
<!-- COMMENTS -->
{% if tags %}
<div class="thedata">
    <div class="leftdata">
        <h3>Tags</h3>
    </div>
    <div class="rightdata">
        <div class="innerrightdata">
            {% include "tag_cloud.html" %}
        </div>
    </div>
 </div>
{% endif %}
{% get_comment_list for concert as comment_list %}
{% if comment_list %}
<div class="thedata">
    <div class="leftdata">
        <h3>Comments</h3>
    </div>
    <div class="rightdata">
        <div class="innerrightdata">
            <div id="comments">
            {% for comment in comment_list %}
                <div class="acomment">
                    <div class="commentMeta">
                        {{comment.submit_date}}
                        <b>{{comment.user_name}}</b>
                    </div>
                    <div class="thecomment">
                        {{comment.comment}}
                    </div>
                <div class="pastilla"></div>
                </div>
            {% endfor %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}

     <div class="thedata">
        <div class="leftdata">
            <h3>Post comment</h3>
        </div>
        <div class="rightdata">
            <div class="innerrightdata">
                {% get_comment_form for concert as form_comment %}
                {% include "browse/form-comment.html" %}
                <input type="hidden" name="next" value="{% url 'carnatic-concert' concert.id %}" />
                <input type="submit" value="Add comment" id="id_submit" />
                <input type="submit" name="preview" value="Preview">
                </form>
            </div>
        </div>
    </div>

    <div class="thedata">
        <div class="leftdata">
            <h3>Post Tag</h3>
        </div>
        <div class="rightdata">
            <div class="innerrightdata">
                {% include "form-tag.html" %}
            </div>
        </div>
    </div>

{% else %}

    <div class="thedata">
        <div class="leftdata">
            <h3></h3>
        </div>
        <div class="rightdata">
            <div class="innerrightdata">
                <p>Please <a href="{{ login_url }}?next={% firstof request.path '/' %}">log in</a> to leave a comment or to add a tag.</p>
            </div>
        </div>
    </div>

{% endif %}

