{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    widthOfChildren('.metaContainer');
    $('.scrollblock').isotope({
      itemSelector : '.item',
      layoutMode : 'straightAcross'
    });
});
</script>
{% endblock %}

{% block title %}{{taala.name|title}} taala - {% endblock %}

{% block wrap %}


  <div id="detail" class="taala">
     	<div id="header">
     		<div id="summary">
     			<div id="innerSummary">
	     			<span>
		     			<h1>{{taala.name|title}} taala</h1>
	     			</span>
     			</div>
     			<div id="summaryBack"></div>
     			<div id="icon"></div>
     		</div>
            <div class="bigImage"><img src="{{taala.get_image_url}}" /></div>
     		<div id="meta">
     			<div class="metaBlock">
					<div class="metaMask">
			 			<div class="metaContainer">
							<div id="artists" class="metaDetails">
								<div class="inner">
									<h3>Percussionists who play this taala</h3>
									{% for a in taala.percussion_artists %}
										{% badge_mini_artist a %}
									{% endfor %}
								</div>
							</div>
							<div id="composers" class="metaDetails">
								<div class="inner">
									<h3>Composers who write in this taala</h3>
									{% for c in taala.composers %}
									{% badge_mini_composer c %}
									{% endfor %}
								</div>
							</div>

							<div id="works" class="metaDetails">
								<div class="inner">
									<h3>Compositions written in this taala</h3>
                                    {% for w in taala.works %}
                                    {% badge_mini_work w %}
                                    {% endfor %}
								</div>
							</div>
			 			</div>
			 		</div>
				</div>
     		</div>

	     	<div class="clearfix"></div>

     	</div><!-- HEADER END -->

	 	<div class="alldata">
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Similar taalas</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata">
                        {% if similar %}
                        <div class="scrollblock" id="results" style="height: 290px;">
                            {% for t in similar %}
                                {% badge_taala t %}
                            {% endfor %}
	                    </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin 10px;">Sorry, we have no information for this section yet.</span>
                        </div>
                        {% endif %}
	     			</div>
	     		</div>
	     	</div>
	     	<div class="clearfix"></div>
	 	</div>
</div>

{% endblock %}
