{% extends "carnatic/base.html" %}
{% load inline %}
{% load badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    widthOfChildren('.metaContainer');
    widthOfChildren('.inforight');
      $(".inforight").packery({
        itemSelector: '.item',
        gutter: 0
      });
});
</script>
{% endblock %}
{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{taala.name|title}} taala - {% endblock %}

{% block wrap %}


  <div id="detail" class="taala">
     	<div id="header">
     		<div id="summary">
     			<div id="innerSummary">
	     			<span>
                        <h1 title="{{taala.transliteration|title}}">{{taala.name|title}} taala</h1>
	     			</span>
     			</div>
     			<div id="summaryBack"></div>
     			{% if user.is_authenticated %}
				<div id="previewicon" class="enabled">
                    {% if sample %}
						<div class="ui360"><a href="{{sample.absolute_mp3_url}}" style="display: none;">{{sample.title}}</a></div>
                <a href="{% url 'carnatic-recording' sample.mbid %}" title={{sample.title}}>{{sample.title|slice:":35"}}{% if sample.title|length > 35 %}...{% endif %}</a>
                {% endif %}
				</div>
				{% else %}
				<div id="previewicon" class="disabled"></div>
				{% endif %}
     		</div>
            <div class="bigImage"><img src="{{taala.get_image_url}}" /></div>
     		<div id="meta">
     			<div class="metaBlock">
					<div class="metaMask">
			 			<div class="metaContainer">
							<div id="artists" class="metaDetails">
								<div class="inner withpadding">
									<h3>Percussionists who play this taala</h3>
									{% for a in taala.percussion_artists %}
										{% badge_mini_artist a %}
                                    {% empty %}
                                        Sorry, we have no information for this section
									{% endfor %}
								</div>
							</div>
							<div id="composers" class="metaDetails">
								<div class="inner withpadding">
									<h3>Composers who write in this taala</h3>
									{% for c in taala.composers %}
									{% badge_mini_composer c %}
                                    {% empty %}
                                        Sorry, we have no information for this section
									{% endfor %}
								</div>
							</div>

							<div id="works" class="metaDetails">
								<div class="inner withpadding">
									<h3>Compositions written in this taala</h3>
                                    {% for w in taala.works %}
                                    {% badge_mini_work w %}
                                    {% empty %}
                                        Sorry, we have no information for this section
                                    {% endfor %}
								</div>
							</div>
			 			</div>
			 		</div>
				</div>
     		</div>

	     	<div class="clearfix"></div>

     	</div><!-- HEADER END -->

	 	<div class="alldata">
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Similar taalas</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata">
                        {% if similar %}
                        <div class="scrollblock inforight" style="height: 290px;">
                            {% for t in similar %}
                                {% badge_taala t %}
                            {% endfor %}
	                    </div>
                        {% else %}
                        <div style="height: 290px; border: none;">
                            <span style="font-size: 14px; margin 10px;">Sorry, we have no information for this section</span>
                        </div>
                        {% endif %}
	     			</div>
	     		</div>
	     	</div>
	     	<div class="clearfix"></div>
	 	</div>
</div>

{% endblock %}
