{% extends "browse/base.html" %}
{% load inline %}
{% load comments %}

{% block wrap %}
<h2>Work</h2>

Work title: {{ work.title }}<br>
Composed by: {% inline_composer work.composer %}<br>
{% if work.raaga %}
{% for r in work.raaga.all %}
    Raaga: {% inline_raaga r %}<br>
{% endfor %}
{% endif %}
{% if work.taala %}
{% for t in work.taala.all %}
    Taala: {% inline_taala t %}<br>
{% endfor %}
{% endif %}

<h3>Concerts</h3>
{% for c in work.concerts %}
<li>{% inline_concert c %}
{% endfor %}

<h2>Comments:</h2>
{% render_comment_list for work %}

<h2>Post comment:</h2>
{% if user.is_authenticated %}
 {% get_comment_form for work as form %}
 <form action="{% comment_form_target %}" method="post">
	{% csrf_token %}
	{{ form.comment }}
	{{ form.honeypot }}
	{{ form.content_type }}
	{{ form.object_pk }}
	{{ form.timestamp }}
	{{ form.security_hash }}
        <br>
	<!--Redirecting to work after the comment post -->
	<input type="hidden" name="next" value="{% url 'carnatic-work' work.id %}" />
	<input type="submit" value="Add comment" id="id_submit" />
        <input type="submit" name="preview" value="Preview">
 </form> 
{% else %}
    <p>Please <a href="{{ login_url }}">log in</a> to leave a comment.</p>
{% endif %}

{% endblock %}
