{% extends "carnatic/base.html" %}
{% load carnatic.inline %}
{% load carnatic.badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
	$("#filterMask").toggleClass('querybar');
    widthOfChildren('.metaContainer');
});
</script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{work.title}} - {% endblock %}

{% block wrap %}
 <div id="detail" class="work">
			<div class="missingdata">
				<h2>Sorry</h2>
				<p>
					We are still missing some information about this work.<br/> Our team is working on it. <br/> We are very sorry for the inconvenience.
				</p>
			</div>
     		<div class="clearfix"></div>
     </div>

{% endblock %}
