{
  "presets": ["es2015", "react"],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./frontend/src"],
      "alias": {
        "test": "./frontend/test",
        "underscore": "lodash"
      }
    }]
  ]
}
