{% extends "jingju/recording.html" %}

{% block title %}锁麟囊:春秋亭外风雨暴 - {% endblock %}

{% block recordingtitle %}
<span>
    <h1 title="Suǒ lín náng: Chūn qiū tíng wài fēng yǔ bào">锁麟囊:春秋亭外风雨暴</h1>
    <h2 title="Li Peihong">李佩红</h2>
</span>
{% endblock %}

{% block metadata %}
<span class="list">
    <label title="Album">专辑</label>
    <b title="Jīng jù zhī xīng: Li Pèi hóng zhuān jí">京剧之星:李佩红专辑</b>

    <label title="Aria">唱段</label>
    <b label='Suǒ lín náng. "Chūn qiū tíng wài fēng yǔ bào" (Xue Xiangling)'>“春秋亭外风雨暴”——《锁麟囊》(薛湘灵)</b>

    <label title="shengqiang">声腔</label>
    <b title="xipi">西皮</b>

    <label title="role type">行当</label>
    <b title="dan">旦</b>

    <label title="school">流派</label>
    <b title="Cheng">程派</b>
    <label title="first degree">主音</label><b>E4 (332)</b>

</span>
{% endblock %}
