{% extends "jingju/recording.html" %}

{% block title %}捉放曹 ∙ 宿店【二黄慢板、原板】 - {% endblock %}

{% block recordingtitle %}
<span>
    <h1 title="Zhuō fàng cáo ­ Sù diàn [èr huáng màn bǎn, yuán bǎn]">捉放曹 ∙ 宿店【二黄慢板、原板】</h1>
    <h2 title="Geng Qichang">耿其昌</h2>
</span>
{% endblock %}

{% block metadata %}
<span class="list">
    <label title="Album">专辑</label>
    <b title="Gěng Qí chāng jīng jù chàng duàn xuǎn">耿其昌京剧唱段选</b>

    <label title="Aria">唱段</label>
    <b label='Zhuō fàng Cáo. "Yī lún míng yuè zhào chuāng xià" (Chen Gong)'>“一轮明月照窗下”——《捉放曹》(陈宫)</b>

    <label title="shengqiang">声腔</label>
    <b title="erhuang">二黄</b>

    <label title="role type">行当</label>
    <b title="laosheng">老生</b>

    <label title="school">流派</label>
    <b title="Yu">余派</b>
    <label title="first degree">主音</label><b>F#4 (362.28)</b>

</span>
{% endblock %}
