{% extends "jingju/recording.html" %}

{% block title %}盗御马:将酒宴摆至在聚义厅上 - {% endblock %}

{% block recordingtitle %}
<span>
    <h1 title="Dào yù mǎ: Jiāng jiǔ yàn bǎi zhì zài jù yì tīng shàng">盗御马:将酒宴摆至在聚义厅上</h1>
    <h2 title="An Ping">安平</h2>
</span>
{% endblock %}

{% block metadata %}
<span class="list">
    <label title="Album">专辑</label>
    <b title="Jīng jù zhī xīng: Ān Píng zhuān jí">京剧之星:安平专辑</b>

    <label title="Aria">唱段</label>
    <b label='Dào yù mǎ. "Jiāng jiǔ yàn bǎi zhì zài jù yì tīng shàng" (Dou Erdun)'>“将酒宴摆至在聚义厅上”——《盗御马》(窦尔敦)</b>

    <label title="shengqiang">声腔</label>
    <b title="xipi">西皮</b>

    <label title="role type">行当</label>
    <b title="jing">净</b>

    <label title="school">流派</label>
    <b title="Qiu">裘派</b>
    <label title="first degree">主音</label><b>G4 (391)</b>

</span>
{% endblock %}
