{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/recording.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/recording.css' %}" />
    {% endif %}
    <style type="text/css">
        #detail.recording #header #scrollrec #meta .metaBlock .metaMask .metaContainer .metaDetails span label {
          width: 14% !important;
        }
        #detail.recording #header #scrollrec #summary #innerSummary span h1 {
              font-size: 14px !important;
        }
    </style>
{% endblock %}


{% block script %}
<script>
    var pitchtrackurl = "/static/jingju/data/{{mbid}}-pitch.dat";
    var histogramurl = "/static/jingju/data/{{mbid}}-histogram.json";
    var banshiurl = "/static/jingju/data/{{mbid}}-banshi.json";
    var luoguurl = "/static/jingju/data/{{mbid}}-luogu.json";
    var lyricsurl = "/static/jingju/data/{{mbid}}-lyrics.json";
    var waveformurl = "http://dunya.compmusic.upf.edu{{waveform|safe}}";
    var specurl = "http://dunya.compmusic.upf.edu{{spectrogram|safe}}";
    var smallurl = "{{smallimage|safe}}";
    var secondsPerView = 32;
    var pitchtrackdata = null;
    var histogramdata = null;
    var luogudata = null;
    var banshidata = null;
    var lyricsdata = null;
    var audiourl = "http://dunya.compmusic.upf.edu{{audio|safe}}";
    var recordinglengthfmt = "{{length_format}}";
    var recordinglengthseconds = "{{length}}";
    var drawoctave = {{drawoctave}};

    {% if user.is_authenticated %}
    function playrecord(){
        if(plButton.hasClass("stop")){
            pause();
            plButton.removeClass("stop");
        }else{
            play();
            plButton.addClass("stop");
        }
    }
    {% else %}
    function playrecord(){
        $( "#playback_dialog" ).dialog( "open" );
    }
    {% endif %}

    widthOfChildren('.metaContainer');

</script>
<script src="{% static 'jingju/js/recording.js' %}"></script>
{% endblock %}

{% block title %}{{meta.title.val}}{% endblock %}

{% block wrap %}
<div id="detail" class="recording">
     	<div id="header">
     	   <div id="scrollrec">
         <div id="summary">
     			<div id="innerSummary">
                <span>
                    <h1 title="{{meta.title.enval}}">{{meta.title.val}}</h1>
                    <h2 title="{{meta.artist.enval}}">{{meta.artist.val}}</h2>
                </span>
     			</div>
     			<div id="summaryBack"></div>
     		</div>
         <div id="meta">
	     		<div class="metaBlock">
					<div class="metaMask">
				 		<div class="metaContainer">
							<div id="excerpt" class="metaDetails recordingDetails">
                            <span class="list">
                                <label title="{{meta.album.enkey}}">{{meta.album.key}}</label>
                                <b title="{{meta.album.enval}}">{{meta.album.val}}</b>

                                <label title="{{meta.aria.enkey}}">{{meta.aria.key}}</label>
                                <b label='{{meta.aria.enval}}'>{{meta.aria.val}}</b>

                                <label title="{{meta.shengqiang.enkey}}">{{meta.shengqiang.key}}</label>
                                <b title="{{meta.shengqiang.enval}}">{{meta.shengqiang.val}}</b>

                                <label title="{{meta.roletype.enkey}}">{{meta.roletype.key}}</label>
                                <b title="{{meta.roletype.enval}}">{{meta.roletype.val}}</b>

                                <label title="{{meta.school.enkey}}">{{meta.school.key}}</label>
                                <b title="{{meta.school.enval}}">{{meta.school.val}}</b>

                                <label title="{{meta.firstdegree.enkey}}">{{meta.firstdegree.key}}</label>
                                <b>{{meta.firstdegree.val}}</b>

                            </span>
							</div>
				 		</div>
					</div>
	     		</div>
     		</div>
     	   </div>
         <div id="totalcontrol">
          <div id="control">
              {% if prevrecording %}
                  <a href="{{prevrecording.get_absolute_url}}"><div class="revButton active"></div></a>
              {% else %}
                  <div class="revButton"></div>
              {% endif %}
              <div class="plButton" onclick="playrecord();"></div>
              {% if nextrecording %}
                  <a href="{{nextrecording.get_absolute_url}}"><div class="folButton active"></div></a>
              {% else %}
                  <div class="folButton"></div>
              {% endif %}
          </div>
         </div>
         <div class="graph">
             <canvas id="histogramcanvas" style="height:256px; width:200px;"></canvas>
         </div>
	     	<div class="clearfix"></div>
     	</div><!-- HEADER END -->

	 	<div class="alldata">
	 	    <div class="container">
	     	<div class="thedata">
	     		<div id="rendersMask" style="height:640px;">
	     			<div id="renders">
	     				<div id="capcal" style="height:640px;"></div>
		     			<div id="bigWave">
                            <canvas id="rhythmcanvas" style="width:900px; height:256px;"></canvas>
                            <!--<img src="{{waveform}}">-->
		     			   <div id="zooms">
                  <a class="zoom zoom1 selected" data-length="32" href="#">x1</a>
                  <a class="zoom zoom2" data-length="16" href="#">x2</a>
                  <a class="zoom zoom3" data-length="8" href="#">x3</a>
                  <a class="zoom zoom4" data-length="4" href="#">x4</a>
                </div>
              </div>
		     			<div id="renderTotal">
		     			   <div id="capcalTotal"></div>
		     			   <div id="timepoint"></div>
		     			   <div id="miniviewHighlight"></div>
                           <canvas id="smallcanvas"></canvas>
              </div>
		     			<div id="bigPitch" style="height:286px;">
                            <canvas id="pitchcanvas" style="width:900px; height:256px;"></canvas>
		     			 <div id="zooms" style="bottom: 34px;">
                  <a class="zoom zoom1 selected" data-length="32" href="#">x1</a>
                  <a class="zoom zoom2" data-length="16" href="#">x2</a>
                  <a class="zoom zoom3" data-length="8" href="#">x3</a>
                  <a class="zoom zoom3" data-length="4" href="#">x4</a>
                </div>
                <div id="lyrics">

                </div>
                    <div id="timecodes">
                    <span class="timecode1"></span>
                    <span class="timecode2"></span>
                    <span class="timecode3"></span>
                    <span class="timecode4"></span>
                    <span class="timecode5"></span>
                </div>
		     			</div>
	     			</div>
	     		</div>
	     		<div class="container2">
	     		  <div class="waveLabel">
	     		    <h1>rhythm</h1>
                  <span class="tempoup"></span>
                  <span class="tempodown"></span>
	     		  </div>
	     		  <div id="totalcontrol2">
                      <div id="timecode">00:00<span>{{recording.length_format}}</span></div>

            </div>
            <div class="pitchLabel">
              <h1>melody</h1>
            </div>
	     		</div>
	     	</div>
	     	</div>
		 	<div class="clearfix"></div>
	 	</div>

	 	<div class="clearfix"></div>
</div>

{% endblock %}
