{% extends "dunya/base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/recording.css' %}" />
    <style type="text/css">
        #detail.recording #header #scrollrec #meta .metaBlock .metaMask .metaContainer .metaDetails span label {
          width: 14% !important;
        }
        #detail.recording #header #scrollrec #summary #innerSummary span h1 {
              font-size: 14px !important;
        }
        #detail.recording .alldata .container .thedata #renderTotal #smallcanvas {
          opacity: 1;
        }

#detail.recording .alldata .container .thedata #renderTotal #miniviewHighlight {
  background: none;
  border: black thick solid;
  height: 64px;
  z-index: 4;
}

#lyrics {
  position: relative;
  height: 30px;
  font-size: 20px;
}
#lyrics .lyric {
  position: absolute;
  height: 30px;
  margin: 2px;
}

#banshis {
  position: relative;
  height: 25px;
  font-size: 15px;
}
#banshis .banshi {
  position: absolute;
  height: 25px;
  margin: 2px;
}

#percussions {
  position: relative;
  height: 25px;
  font-size: 15px;
}
#percussions .percussion {
  position: absolute;
  height: 25px;
  margin: 2px;
}

#timecodes {
  position: relative;
  height: 20px;
}
#timecodes span {
  position: absolute;
  height: 25px;
  margin: 2px;
}
#timecodes .timecode1 {
  left: 0px;
}
#timecodes .timecode2 {
  left: 220px;
}
#timecodes .timecode3 {
  left: 445px;
}
#timecodes .timecode4 {
  left: 670px;
}
#timecodes .timecode5 {
  right: 0px;
}
    </style>
{% endblock %}


{% block script %}
<script>
    var pitchtrackurl = "/static/jingju/data/{{mbid}}-pitch.dat";
    var histogramurl = "/static/jingju/data/{{mbid}}-histogram.json";
    var banshiurl = "/static/jingju/data/{{mbid}}-banshi.json";
    var luoguurl = "/static/jingju/data/{{mbid}}-luogu.json";
    var lyricsurl = "/static/jingju/data/{{mbid}}-lyrics.json";
    var specurl = "http://dunya.compmusic.upf.edu{{spectrogram|safe}}";
    var smallurl = "http://dunya.compmusic.upf.edu{{smallimage|safe}}";
    var mbid = "{{mbid}}";
    var secondsPerView = 32;
    var pitchtrackdata = null;
    var histogramdata = null;
    var luogudata = null;
    var banshidata = null;
    var lyricsdata = null;
    var audiourl = "http://dunya.compmusic.upf.edu{{audio|safe}}";
    var recordinglengthfmt = "{{length_format}}";
    var recordinglengthseconds = "{{length}}";
    var drawoctave = {{drawoctave}};

    {% if user.is_authenticated %}
    function playrecord(){
        if(plButton.hasClass("stop")){
            pause();
            plButton.removeClass("stop");
        }else{
            play();
            plButton.addClass("stop");
        }
    }
    {% else %}
    function playrecord(){
        $( "#playback_dialog" ).dialog( "open" );
    }
    {% endif %}

    widthOfChildren('.metaContainer');

</script>
<script src="{% static 'jingju/js/recording.js' %}"></script>
{% endblock %}

{% block title %}{{meta.title.val}}{% endblock %}

{% block wrap %}
<div id="detail" class="recording">
     	<div id="header">
     	   <div id="scrollrec">
         <div id="summary">
     			<div id="innerSummary">
                <span>
                    <h1 title="{{meta.title.enval}}">{{meta.title.val}}</h1>
                    <h2 title="{{meta.artist.enval}}">{{meta.artist.val}}</h2>
                </span>
     			</div>
     			<div id="summaryBack"></div>
     		</div>
         <div id="meta">
	     		<div class="metaBlock">
					<div class="metaMask">
				 		<div class="metaContainer">
							<div id="excerpt" class="metaDetails recordingDetails">
                            <span class="list">
                                <label title="{{meta.album.enkey}}">{{meta.album.key}}</label>
                                <b title="{{meta.album.enval}}">{{meta.album.val}}</b>

                                <label title="{{meta.aria.enkey}}">{{meta.aria.key}}</label>
                                <b label='{{meta.aria.enval}}'>{{meta.aria.val}}</b>

                                <label title="{{meta.shengqiang.enkey}}">{{meta.shengqiang.key}}</label>
                                <b title="{{meta.shengqiang.enval}}">{{meta.shengqiang.val}}</b>

                                <label title="{{meta.roletype.enkey}}">{{meta.roletype.key}}</label>
                                <b title="{{meta.roletype.enval}}">{{meta.roletype.val}}</b>

                                <label title="{{meta.school.enkey}}">{{meta.school.key}}</label>
                                <b title="{{meta.school.enval}}">{{meta.school.val}}</b>

                                <label title="{{meta.firstdegree.enkey}}">{{meta.firstdegree.key}}</label>
                                <b>{{meta.firstdegree.val}}</b>

                            </span>
							</div>
				 		</div>
					</div>
	     		</div>
     		</div>
     	   </div>
         <div id="totalcontrol">
          <div id="control">
              {% if prevrecording %}
                  <a href="{{prevrecording.get_absolute_url}}"><div class="revButton active"></div></a>
              {% else %}
                  <div class="revButton"></div>
              {% endif %}
              <div class="plButton" onclick="playrecord();"></div>
              {% if nextrecording %}
                  <a href="{{nextrecording.get_absolute_url}}"><div class="folButton active"></div></a>
              {% else %}
                  <div class="folButton"></div>
              {% endif %}
          </div>
         </div>
    <div style="padding-top:6px; margin-right:1em;">
         <div style="position:relative; height:20px; text-align:right;"></div>
         <div style="position:relative; height:30px; text-align:right; vertical-align:bottom">歌词</div>
         <div style="position:relative; height:25px; text-align:right; vertical-align:bottom">板式</div>
         <div style="position:relative; height:25px; text-align:right; vertical-align:bottom">锣鼓经</div>
</div>
	     	<div class="clearfix"></div>
     	</div><!-- HEADER END -->

	 	<div class="alldata">
	 	    <div class="container">
	     	<div class="thedata">
	     		<div id="rendersMask" style="height:640px;">
	     			<div id="renders">
	     				<div id="capcal" style="height:320px;"></div>

                 <div id="bigPitch">
                         <canvas id="pitchcanvas" style="width:900px; height:256px;"></canvas>
		     			 <div id="zooms" style="bottom: 5px;">
                  <a class="zoom zoom1 selected" data-length="32" href="#">x1</a>
                  <a class="zoom zoom2" data-length="16" href="#">x2</a>
                  <a class="zoom zoom3" data-length="8" href="#">x3</a>
                  <a class="zoom zoom3" data-length="4" href="#">x4</a>
                </div>
                        </div>


		     	<div id="renderTotal">
		     			   <div id="capcalTotal"></div>
		     			   <div id="timepoint"></div>
		     			   <div id="miniviewHighlight"></div>
                           <canvas id="smallcanvas"></canvas>
              </div>
              <div>
                    <div id="timecodes">
                    <span class="timecode1"></span>
                    <span class="timecode2"></span>
                    <span class="timecode3"></span>
                    <span class="timecode4"></span>
                    <span class="timecode5"></span>
                </div>
                <div id="lyrics">
                </div>
                <div id="banshis">
                </div>
                <div id="percussions">
                </div>
		     			</div>
	     			</div>
	     		</div>
	     		<div class="container2">
                        <div class="waveLabel">
                 <canvas id="histogramcanvas" style="height:251px; width:200px;"></canvas>
	     		  </div>
                          <div id="totalcontrol2">
                      <div id="timecode">00:00<span>{{recording.length_format}}</span></div>

            </div>
	     		</div>
	     	</div>
	     	</div>
		 	<div class="clearfix"></div>
	 	</div>

	 	<div class="clearfix"></div>
</div>

{% endblock %}
