{% extends "motifdiscovery/base.html" %}
{% load staticfiles %}
{% block body %}
{% load app_filters %}
    <h2>Seed patterns for recording: {{recording.title}}, release: {{recording.concert_set.all.0.title}}, by {{recording.concert_set.all.0.artists.all.0.name}}</h2>
       
        <ul>
         <table>
         <tr>
                <th>Similarity</th>
                <th>Seed_Id</th>
                <th>Start(s)</th>
                <th>End(s)</th>
                <th>Pair_Id</th>
                <th>Start(s)</th>
                <th>End(s)</th>
                <th>Distance</th>
                

         </tr>
         {% for match in matches %}
                <tr>                
                    {% if match.distance < 1000000  %}
                        <td><img src="{% static "motifdiscovery/correct.png" %}" width="16" height="16"></td>
                    {% else %}
                        <td><img src="{% static "motifdiscovery/wrong.png" %}" width="12" height="12"></td>
                    {% endif %}
                    
                    <td><a href="" class="seed" data-pattern="{{match.source.id}}">{{match.source.id}}</a>
                    <a href="{% url 'motif-results' match.source.file.mbid match.source.id %}"><img src="{% static "motifdiscovery/search.png" %}" width="20" height="12"></a>
                    </td>
                    <td>{{match.source.start_time|floatformat:1}}</td>
                    <td>{{match.source.end_time|floatformat:1}}</td>
                     <td><a href="" class="seed" data-pattern="{{match.target.id}}">{{match.target.id}}</a>
                    <a href="{% url 'motif-results' match.target.file.mbid match.target.id %}"><img src="{% static "motifdiscovery/search.png" %}" width="20" height="12"></a>
                    </td>
                    <td>{{match.target.start_time|floatformat:1}}</td>
                    <td>{{match.target.end_time|floatformat:1}}</td>
                    <td>{{match.distance}}</td>

            </tr>
        {% endfor %}
         </table>
        </ul>
        
        
        
        
        <script type="text/javascript">
            $(function() {
                var mbid = '{{patterns.0.file.mbid}}';
                soundManager.setup({
                    url: '{% static 'motifdiscovery/swf' %}',
                    preferFlash: false,
                    onready:  function() {
                    },
                });

            $(".seed").click(function(e) {
                    e.preventDefault();
                    var seed = $(this).data('pattern');
                    var mbid = $(this).data('mbid');
                    var start = parseInt($(this).data('start')) * 1000;
                    var end = parseInt($(this).data('end')) * 1000;

                         var sound = soundManager.createSound({
                             id: 'sound'+mbid,
                             url: 'http://dunya.compmusic.upf.edu/document/by-id/'+mbid+'.mp3',

            position: start,
            from: start,
            to: end,
							 autoLoad: true
                         });
						console.debug("mbid");
						console.debug(mbid);
						console.debug("start");
						console.debug(start);
						console.debug(end);
					sound.unload();

        sound.play({
            from: start,
            position: start,
            to: end,
            onstop: function() {
                soundManager._writeDebug('sound stopped at position ' + this.position);
            }
        });
                    }); 
    $("#stop").click(function(e) {
        e.preventDefault();
        soundManager.stopAll();
    });

});
        
        </script>

{% endblock %}
{% block footer %}
We obtain melodic similarity thresholds using expert feedback (explanation in the submitted article) and indicate similar by <img src="{% static "motifdiscovery/correct.png" %}" width="16" height="16"> and not similar by <img src="{% static "motifdiscovery/wrong.png" %}" width="12" height="12"><br/>
*Time stamps are rounded off to 1 decimal point just for the sake of displaying
{% endblock %}

{% block nav %}
<li><a href="{% url 'motif-main'%}">Browsing options</a></li>
<li><a href="{% url 'motif-artists'%}">Artist list </a></li>
<li><a >Releases</a></li>
<li><a href="{% url 'motif-release' recording.concert_set.get.mbid %}">Recordings</a></li>
<br>
<br>
<a href="" id="stop">Stop Audio</a><p>

{% endblock %}        
