html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.header {
    height: 200px;
}
.rainbow {
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(58, 139, 138, 1) 0%,
        rgba(106, 153, 32, 1) 15%,
        rgba(250, 239, 46, 1) 30%,
        rgba(233, 178, 89, 1) 50%,
        rgba(179, 65, 30, 1) 65%,
        rgba(179, 65, 30, 1) 80%,
        rgba(179, 65, 30, 1) 100%);
    background: -webkit-gradient(linear,  left top,  right top, 
        color-stop(0%, rgba(58, 139, 138, 1)), 
        color-stop(15%, rgba(106, 153, 32, 1)),
        color-stop(30%, rgba(250, 239, 46, 1)),
        color-stop(50%, rgba(233, 178, 89, 1)),
        color-stop(65%, rgba(179, 65, 30, 1)),
        color-stop(100%, rgba(179, 65, 30, 1)));
}

.rainbow {
    width: 100%;
    height: 5px;
}
.footer{
    position:absolute;
    bottom:0;    
    width:100%;
    height:200px;   /* Height of the footer */
    background:#0e213d;
}
.container{
    min-height:100%;
    position:relative;
}
.middle{
    margin:auto;
    width:800px;
}
.middle p{
    width: 800px;
    font-size: 20px;
}
#logo{
    font-size: 99px;
    color: #b3411e;
    letter-spacing: -7px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
.menu{
    float:right;
    margin: 60px 10px;
}
.header-centered{
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}
.middle h2{
    font-size: 34px;
    color: #753522;
}
.home{
    position: relative;
    overflow: hidden;
    /*width: 200px;
    height: 200px;*/
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 2px;
    
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
}
.home span{

    z-index: 2;
    color: #fff;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
}
.traditions{
    padding-bottom: 350px;
}

.carnatic:hover{
    background-color: rgba(241,171,57,1);
}
.carnatic{
    background-color: rgba(241,171,57,0.9);
    background-blend-mode: soft-light;
    background-position: 30% 20%; 
    background-size: 148%;
    background-image: url(/static/carnatic/img/carnatic.png);
}
.hindustani:hover{
    background-color: rgba(109,154,26,1);
}
.hindustani{
    background-color: rgba(109,154,26,0.9);
    background-blend-mode: soft-light;
    background-position: -6px 39%; 
    background-size: 119%;
    background-image: url(/static/carnatic/img/hindustani.png);
}
.makam:hover{
    background-color: rgba(58,139,139,1);
}
.makam{
    background-color: rgba(58,139,139,0.9);
    background-blend-mode: soft-light;
    background-position: 44% 55%; 
    background-size: 95%;
    background-image: url(/static/carnatic/img/makam.png);
}
.jingju:hover{
    background-color: rgba(179,65,30,1);
}
.jingju{
    background-color: rgba(179,65,30,0.9);
    background-blend-mode: soft-light;
    background-position: 96% 73%; 
    background-size: 94%;
    background-image: url(/static/carnatic/img/jingju.png);
    
}
.andalusi:hover{
    background-color: rgba(14,33,61,1);
}
.andalusi{
    background-color: rgba(14,33,61,0.9);
    background-blend-mode: soft-light;
    background-position: 19% 27%;
    background-size: 191%;
    background-image: url(/static/carnatic/img/andalusi.png);
}
#erc-logo{
    width: 125px;
    margin-top: 30px;
    display: inline;
}
#mtg-logo{
    float:right;
    margin-top: 50px;
}
