@import "normalize.min.less";
@import "variables.less";
@import "mixins.less";

/* ==========================================================================
    BASE ELEMENTS
   ========================================================================== */

* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 12px;
    background: #fff;
    font-family:'Open Sans', sans-serif;
}

::-moz-selection {
    background: @selectionColor;
    text-shadow: none;
}

::selection {
    background: @selectionColor;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.nopad { padding: 0px !important; }
.header-container, .main-container { min-width: 1024px; }
#entitiesList.filterListClosed, #entitiesList { width: 150px !important; }

/* ==========================================================================
   HEADER 
   ========================================================================== */

.header-container {
    position: relative; 
    width: 100%; 
    #logo { 
        position: relative; 
        top:8px; 
        left: 0px; 
        width:57px; 
        height: 59px; 
        float: left; 
        margin-left:15px;
        margin-bottom: 13px;
    }
    #globalsearch {
        position: relative;
        top:15px;
        float: left;
        margin-left: 15px;
        input {  
            background: url("../img/searchBackground.png") 0 0 no-repeat;
            border:none;
            width: 411px;
            height: 44px;
            font-family:'Open Sans', sans-serif;
            padding:10px;
            font-size: 14px;
            color:@gris6;
            box-shadow: inset 0px 1px 5px #aaa;
            .rounded(4px);
        }
        .button {  
            background: url("../img/icon_search.png") 0 0 no-repeat;
            width: 28px;
            height: 29px;
            position: absolute;
            top:8px;
            border: none;
            right: 5px;
        }
    }
    #globalMusic { 
        position: relative;
        float:left;
        top:16px; 
        margin-left: 15px;
        label {
            position: relative;
            font-size: 10px;
        }
        #gmSelected { 
            position: absolute;
            top:16px;
            left: 0px;
            background: url("../img/smallArrow.png") 0 7px no-repeat;
            padding-left: 12px;
            cursor: pointer;
        }
        #gmDropDown {
            list-style: none;
            margin:0px;
            position: absolute;
            z-index: 1;
            .boxesCloth;
            display: none;
            li {
                list-style: none;
                display: block;
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
    nav#mainmenu {
        float: right;
        margin-top:24px;
        margin-right: 10px;
        >a {
            float: left;
            margin: 0;
            margin-left: 5px;
            padding: 4px 7px 3px 7px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            color: #221F1F;
            background: #eeeded;
            .rounded (4px);
            font-size: 12px;
            box-shadow: inset 0px 1px 5px #ddd, 2px 2px 2px #888;
        }
        #usermenu {
            float: left;
            display: block;
            position: relative;
            width:auto;
            height: auto;
            padding-right: 5px;
            >a {
                margin: 0;
                margin-left: 5px;
                padding: 4px 7px 3px 7px;
                display: block;
                text-align: center;
                text-decoration: none;
                font-size: 14px;
                .rounded (4px);
                font-size: 12px;
                box-shadow: inset 0px 1px 5px #ddd, 2px 2px 2px #888;
                background: #666;
                background-size: 177px 157px;
                color: #fff;
                cursor: pointer;
                img {
                    width: 20px;
                }
                &.loggedin {
                    background: url("../img/texturelogo.png") 21% 42% no-repeat;
                }
            }
        }
        #usermenuoptions {
            display: none;
            position: absolute;
            right: 9px;
            top: 30px;
            font-size: 14px;
            .rounded (4px);
            font-size: 12px;
            box-shadow: inset 0px 1px 5px #ddd, 2px 2px 4px #666;
            color: #221F1F;
            background: #eeeded;  
            padding:15px;
            z-index:40;
            margin-top:5px;
            >img {
                width: 150px;
            }
            >a {
                color: #000;
                text-decoration: none;
                display: block;
                white-space: nowrap;
                &:hover {
                    text-decoration: underline;
                }
            }
            >h3 {
                b {
                    color:#600;
                }
                color: #000;
                display: block;
                white-space: nowrap;
            }  
            #userArrow {
                position: absolute;
                width: 27px;
                height: 15px;
                background: url("../img/userArrow.png") 0 0 no-repeat;
                top: -9px;
                right: 8px;
            }    
            &.open {
                margin-top:0px;
            }
        }
        li:first-child a {
               margin-left: 0;
           }
        li:last-child a {
            margin-right: 0;
        }
        ul li {
            display: inline;
        }
        .oldie nav a {
            margin: 0 0.7%;
        }
    }
}

/* ==========================================================================
   LOGIN
   ========================================================================== */
#login {
    position: relative;
    margin:0 auto;
    width:500px;
    padding: 30px;
    padding-top:100px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    .rounded(10px);
    font-size: 12px;
    box-shadow: inset 0px 1px 8px #ddd, 2px 2px 10px #888;
    background: #fff url("../img/logoDunya.png") 50% 40px no-repeat;
    color: #333;
    margin-top: 100px;
    text-align: center;
    h1 { 
        text-shadow: 1px 2px 2px black;
        color:#ddd;
    }
    label {
        text-align: right;
        width: 125px;
        position: relative;
        display: inline-block;
    }
    &.logCenter label {
        text-align: center;
    } 
}

input[type="button"], input[type="submit"] {
    position: relative;
    text-align: center;
    .rounded(5px);
    font-size: 12px;
    box-shadow: inset 0px 1px 5px #ddd, 2px 2px 2px #888;
    background: #fff;
    color: #444;
    border: none;
    text-transform: uppercase;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background: #444;
    color: #ddd;
}

input[type="text"], input[type="password"], input[type="email"] {
    position: relative;
    padding: 10px;
    .rounded(5px);
    font-size: 12px;
    border:none;
    box-shadow: inset 0px 1px 5px #ddd, 2px 2px 2px #888;
    background: #fff;
    color: #000;
    outline: 0;
}

/************
 * Top segment, used for browse interface and also navigation header on other pages
 ************/

#filterMask #filterArea #entitiesList ul li.artist .colorCode { border-color: @artist_color; } 
#filterMask #filterArea #entitiesList ul li.concert .colorCode { border-color: @concert_color; } 
#filterMask #filterArea #entitiesList ul li.work .colorCode { border-color: @work_color; } 
#filterMask #filterArea #entitiesList ul li.instrument .colorCode { border-color: @instrument_color; } 
#filterMask #filterArea #entitiesList ul li.raaga .colorCode { border-color: @raaga_color; } 
#filterMask #filterArea #entitiesList ul li.taala .colorCode { border-color: @taala_color; } 
#filterMask #filterArea #entitiesList ul li.recording .colorCode { border-color: @recording_color; } 
#filterMask #filterArea #entitiesList ul li.composer .colorCode { border-color: @composer_color; } 
#filterMask #filterArea #entitiesList ul li.entity_9 .colorCode { border-color: @entity_9_color; } 
#filterMask #filterArea #entitiesList ul li.entity_10 .colorCode { border-color: @entity_10_color; } 

/******************************
 * Small things inside badges or on page lists
 *****************************/

.miniitem.artist .colorCode { border-color: @artist_color !important; } 
.miniitem.concert .colorCode { border-color: @concert_color !important; } 
.miniitem.work .colorCode { border-color: @work_color !important; } 
.miniitem.instrument .colorCode { border-color: @instrument_color !important; } 
.miniitem.raaga .colorCode { border-color: @raaga_color !important; } 
.miniitem.taala .colorCode { border-color: @taala_color !important; } 
.miniitem.recording .colorCode { border-color: @recording_color !important; } 
.miniitem.composer .colorCode { border-color: @composer_color !important; } 
.miniitem.entity_9 .colorCode { border-color: @entity_9_color !important; } 
.miniitem.entity_10 .colorCode { border-color: @entity_10_color !important; } 

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.invisible {
    visibility: hidden;
}
.clearer { clear: both; }
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

