Musicbrainz recording: <a href="http://musicbrainz.org/recording/{{data.recordingid}}">http://musicbrainz.org/recording/{{data.recordingid}}</a><br>

{% if data.gotraaga or data.missingr %}
<h3>Raaga</h3>
{% if data.gotraaga %}Got raaga: {{data.raaga|join:", "}}{% else %}Missing raagas:{% endif %}<br>
{% for r in data.missingr %}
    <li><a href="{% url 'dashboard-raagas' %}?newname={{r}}">{{r}}</a>
{% endfor %}
{% endif %}

{% if data.gottaala or data.missingt %}
<h3>Taala</h3>
{% if data.gottaala %}Got taala: {{data.taala|join:", "}}{% else %}Missing taalas:{% endif %}<br>
{% for t in data.missingt %}
<li><a href="{% url 'dashboard-taalas' %}?newname={{t}}">{{t}}</a>
{% endfor %}
{% endif %}
