{% if data.missingworks %}
<h3>Recordings with no works</h3>
{% for w in data.missingworks %}
    <li><a href="http://musicbrainz.org/recording/{{w.id}}">{{w.title}}</a>
{% endfor %}
{% endif %}

{% if data.missingcomposers %}
<h3>Works with no composers</h3>
{% for c in data.missingcomposers %}
    <li><a href="http://musicbrainz.org/work/{{c.id}}">{{c.title}}</a>
{% endfor %}
{% endif %}

{% if data.missingperformers %}
<h3>Recordings with no performers</h3>
{% for p in data.missingperformers %}
    <li><a href="http://musicbrainz.org/recording/{{p.id}}">{{p.title}}</a>
{% endfor %}
{% endif %}

{%if data.missinginstruments %}
<h3>Unknown Instruments</h3>
{% for i in data.missinginstruments %}
    <li><a href="{% url 'dashboard-instruments' %}?newname={{i}}">{{i}}</a>
{% endfor %}
{% endif %}
