Hi,

You recently asked for your Dunya account (username: {{ username }}) to have
access to our restricted content.

Unfortunately we were unable to approve your request. We only give access to this
restricted content to researchers who adequately describe why they need access
to this content.

If you want to give us more information about your research please feel free to
send us another access request.

If you have any questions about Dunya, reply to this email or see how to contact
us here: https://{{ domain }}{% url 'general-info' %}

Thank you for using Dunya.

Regards,
The CompMusic team
