{% load staticfiles %}
{% load hindustanibadges %}
{% load hindustaniinline %}

<div class="artist item">
  <div class="disc pict">
    <a href="{{artist.get_absolute_url}}"><img src="{{artist.get_image_url}}"></a>
</div>
  <div class="desc">
    <div class="plus"></div>
    {% inline_artist artist %}<br>
{% if artist.begin %}
<span class="year">{{artist.begin}}{% if artist.end %} - {{artist.end}}{% endif %}</span><br>
{% endif %}
    <a href="{{artist.main_instrument.get_absolute_url}}" class="belongs">{{artist.main_instrument.name}}</a>
  </div>
  <div class="descOpen">
    {{artist.description.description|safe}}
  </div>
  <div class="lists">
    <div class="left">
      <h3>Releases</h3>
      {% for c in artist.releases %}
          {% badge_mini_release c %}
      {% endfor %}
    </div>
    <div class="right"></div>
  </div>
</div>
