{% load staticfiles %}
{% load hindustaniinline %}
{% load hindustanibadges %}

<div class="laya item">
  <div class="disc pict" style="text-align: center">
  <a href="{{laya.get_absolute_url}}"><img src="{{laya.get_image_url}}" style="vertical-align: middle; width:190px !important;"></a>
</div>
  <div class="desc">
      <a href="{{laya.get_absolute_url}}" class="title" title="{{laya.common_name.title}}"><b>{{laya.name|title}} laya</b></a>
</div>
{% comment %}
  <div class="descOpen">
</div>
  <div class="lists">
  <div class="left">
</div>
  <div class="right">
</div>
</div>
{% endcomment %}
</div>
