{% load staticfiles %}
{% load hindustani.inline %}
{% load hindustani.badges %}

<div class="raaga item">
  <div class="disc pict" style="text-align: center">
  <a href="{{raag.get_absolute_url}}"><img src="{{raag.get_image_url}}" style="vertical-align: middle; width:190px !important;"></a>
</div>
  <div class="desc">
      <a href="{{raag.get_absolute_url}}" class="title" title="{{raag.common_name.title}}"><b>Raag {{raag.name|title}}</b></a>
</div>
{% comment %}
  <div class="descOpen">
</div>
  <div class="lists">
  <div class="left">
          <h3>Compositions</h3>
          {% for w in raag.works %}
          {% badge_mini_work w %}
          {% endfor %}
</div>
  <div class="right">
          <h3>Artists who perform</h3>
            {% for a in raag.artists %}
            {% badge_mini_artist a %}
            {% endfor %}
</div>
</div>
{% endcomment %}
</div>
