{% load staticfiles %}
{% load hindustaniinline %}

<div class="track">
    <a href="{{recording.get_absolute_url}}"><h4>{{recording.title}}</h4></a>
       <div class="trackWave">
            <a href="{{recording.get_absolute_url}}">
           <img src="{{recording.waveform_image}}" height="70" width="246">
            </a>
       </div>
       <div class="trackMeta">
           <label>Raag:</label>
           {% if recording.raag %}
           <b>{% inline_raag recording.raag %}</b>
           {% else %}
           unknown
           {% endif %}

           <label>Taala:</label>
           {% if recording.taala %}
           <b>{% inline_taal recording.taal %}</b>
           {% else %}
           unknown
           {% endif %}
       </div>
</div>

