{% load staticfiles %}
{% load hindustaniinline %}
{% load hindustanibadges %}

<div class="taala item">
  <div class="disc pict">
      <a href="{{taal.get_absolute_url}}"><img src="{{taal.get_image_url}}" width="297" style="vertical-align: middle"></a>
</div>
  <div class="desc">
      <a href="{{taal.get_absolute_url}}" class="title" title="{{taal.transliteration.title}}"><b>Taal {{taal.name|title}}</b></a>
</div>
  <div class="descOpen">
</div>
{% comment %}
  <div class="lists">
    <div class="left">
          <h3>Compositions</h3>
          {% for w in taal.works %}
          {% badge_mini_work w %}
          {% endfor %}
    </div>
    <div class="right">
          <h3>Artists</h3>
    {% for a in taal.percussion_artists %}
        {% badge_mini_artist a %}
    {% endfor %}
    </div>
  </div>
  {% endcomment %}
</div>
