@import "../../stylesheets/variables.json";
@import "../../stylesheets/mixins";

.Sidebar {
  box-sizing: border-box;
  padding: $bodyVerticalPadding $sidebarHorizontalPadding;
  background: $gray2;
  box-shadow: 20px 0 20px -20px $softShadowColor;
  margin-left: -30%;
  width: 30%;
  transition: margin-left 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  &.active {
    margin-left: 0;
    width: 100%;
  }
  @include respond-to('medium') {
    margin-left: 0;
    max-height: 100%;
    &.active {
      width: 30%;
    }
  };
}
