/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.footer-container,
.main aside {
   
}

.title {

}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { box-sizing: border-box; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; font-family: 'Abel', sans-serif; }
.filterBall { -webkit-transition: all 0 ease 0; -moz-transition: all 0 ease 0; -o-transition: all 0 ease 0; transition:all 0 ease 0; }
.header-container { position: relative; width: 100%; height: 100px; background: url("../img/headerBackground.png") 0 0 repeat-x; z-index:2; pointer-events: none; }
#filterArea { position: relative; width: 100%; height: 300px; }
.filterBall { position: relative; float: left; background: #666; background: rgba(102,102,102,0.7); width: 120px; height: 120px; -webkit-border-radius: 120px; -moz-border-radius: 120px; border-radius: 120px; display: table; top: 86px; margin-left: 30px; cursor: pointer; margin-right: 25px; border: 8px solid rgba(0,0,0,0);}
.filterBall:hover { border: 8px solid rgba(0,0,0,0.2); }
.filterBall span { display: table-cell; position: relative; top:0px; left: 0px; width: 100%; height: 100%; vertical-align: middle; text-align: center; padding: 0px; color:#fff; text-shadow: 0px 1px 3px black; font-size: 20px; text-transform: uppercase; }
.formFilter { position: relative; float:left; width:300px; height: 300px; overflow-y: scroll; padding:15px; overflow-y: scroll; color:#fff; }
.formFilter fieldset span.output { color: #333; display: block; text-align: center; background: #fff; position: relative; }
.filterList { position: relative; float:left; width:300px; height: 300px; overflow-y: scroll; border-left:1px solid #A7A8AC; border-right:1px solid #A7A8AC; }
.formFilter .filterList { max-height: 234px; height: auto; }
.filterList ul { list-style: none; margin: 0px; padding: 0px; }
.filterList ul li { color:#1B1818; border-bottom:1px solid #A7A8AC; padding-left:10px; text-transform: uppercase; cursor:pointer; }
.filterList ul li.selected { color:#fff; background: #666; background: rgba(50,50,50,0.5); }
.colorCode { position: relative; display: inline-block; width:15px; height: 15px; -webkit-border-radius: 15px; -moz-border-radius: 20px; border-radius: 20px; background: #333; margin-right: 5px; top: 3px; opacity: 0.5; }
#entitiesForm ul li.selected .colorCode { background: #fff; opacity: 1; }
.main-container { margin-top: -24px; }
.arrow { position: absolute; top:50%; margin-top:-15px; right: -34px; background: url("../img/greyTriangle.png") 0 0 no-repeat; width: 15px; height: 30px; }
.arrowClosed { position: absolute; top:50%; margin-top:-15px; right: -20px; background: url("../img/greyTriangleClosed.png") 0 0 no-repeat; width: 15px; height: 30px;}
#filterMask { position: relative; width:100%; height: 300px; overflow: hidden; overflow-x: scroll; background: url("../img/cloth_alike.png") 0 0 repeat; }
.formFilterItem { display: none; background: #fff; background: rgba(256,256,256,0.8); width: 100%; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 10px; -webkit-border-top-left-radius:0px; -webkit-border-top-right-radius:0px; -moz-border-top-left-radius:0px; -moz-border-top-right-radius:0px; border-top-left-radius:0px; border-top-right-radius:0px;}
.formSection { cursor: pointer; background: #000 url("../img/formSectionClose.png") 98% 11px no-repeat; background: rgba(0,0,0,0.5) url("../img/formSectionClose.png") 98% 11px no-repeat; padding:5px; padding-right: 10px; padding-left: 10px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;  width: 100%; position: relative; display: block; border-bottom: 2px solid #ccc; }

fieldset { margin-bottom: 6px; }
.noScroll { overflow: hidden; }

.formSectionOpen { -webkit-border-bottom-left-radius:0px; -webkit-border-bottom-right-radius:0px; -moz-border-bottom-left-radius:0px; -moz-border-bottom-right-radius:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; }
.filterList h2 { margin: 8px; font-size: 17px; background: #777; border-radius: 10px; padding: 4px; font-weight: normal; padding-left: 10px; color: #dcdcdc; }
.ui-slider { margin-bottom: 12px; margin-top: 13px; margin-right:20px; margin-left: 20px; }
.formFilterClosed { width: 0px; padding:0px; } 
.filterListClosed { width: 0px; } 
.filterBallClosed { top: 18px; }
.filterSummary { position: absolute; top: 120px; padding: 10px; background: #f0f0f0; background: rgba(256,256,256,0.5); border-radius: 10px; width: 155px; left: -27px; display: none; }

.filterBallClosed .filterSummary { display: block; }

/*   SHADOW OF THE CIRCLES   */
.shadow1 { box-shadow: 0px 0px 5px #888; }

#footage { display: none; }

.entity_1 .filterBall, .entity_1 .filterList ul li.selected { background: #600; }
.entity_2 .filterBall, .entity_2 .filterList ul li.selected { background: #900; }
.entity_3 .filterBall, .entity_3 .filterList ul li.selected { background: #c00; }
.entity_4 .filterBall, .entity_4 .filterList ul li.selected { background: #f00; }
.entity_5 .filterBall, .entity_5 .filterList ul li.selected { background: #f00; }
.entity_6 .filterBall, .entity_6 .filterList ul li.selected { background: #f30; }
.entity_7 .filterBall, .entity_7 .filterList ul li.selected { background: #f60; }
.entity_8 .filterBall, .entity_8 .filterList ul li.selected { background: #f90; }
.entity_9 .filterBall, .entity_9 .filterList ul li.selected { background: #fc0; }

.entity_1 .formSectionOpen { background: #600 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_2 .formSectionOpen  { background: #900 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_3 .formSectionOpen  { background: #c00 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_4 .formSectionOpen  { background: #f00 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_5 .formSectionOpen  { background: #f00 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_6 .formSectionOpen  { background: #f30 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_7 .formSectionOpen  { background: #f60 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_8 .formSectionOpen  { background: #f90 url("../img/formSectionOpen.png") 98% 11px no-repeat; }
.entity_9 .formSectionOpen  { background: #fc0 url("../img/formSectionOpen.png") 98% 11px no-repeat; }

.entity_1 .formFilter { border-right: 4px solid #600; background: rgba(50,50,50,0.7); }
.entity_2 .formFilter { border-right: 4px solid #900; background: rgba(50,50,50,0.7); }
.entity_3 .formFilter { border-right: 4px solid #c00; background: rgba(50,50,50,0.7); }
.entity_4 .formFilter { border-right: 4px solid #f00; background: rgba(50,50,50,0.7); }
.entity_5 .formFilter { border-right: 4px solid #f00; background: rgba(50,50,50,0.7); }
.entity_6 .formFilter { border-right: 4px solid #f30; background: rgba(50,50,50,0.7); }
.entity_7 .formFilter { border-right: 4px solid #f60; background: rgba(50,50,50,0.7); }
.entity_8 .formFilter { border-right: 4px solid #f90; background: rgba(50,50,50,0.7); }
.entity_9 .formFilter { border-right: 4px solid #fc0; background: rgba(50,50,50,0.7); }

.artistPopularity {}
#filterArea>div { position: relative; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        margin: 0;
        margin-left: 12px;
        padding: 0 10px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
        margin: 23px;
        
    }

    nav {
        float: right;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}