body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
form label {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
form fieldset {
  padding-bottom: 5px;
  border: 0px;
}
form fieldset input[type="text"],
form fieldset input[type="password"],
form fieldset textarea {
  border: 1px solid #CCC;
  padding: 10px;
  width: 65%;
}
form fieldset input[type="submit"] {
  padding: 10px;
  border: 1px solid #3493e0;
  background: #FAFAFA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
form fieldset input[type="submit"]:hover {
  background: #FFF;
  border-color: #60abe7;
}
form .submit {
  margin-top: 10px;
  text-align: center;
}
.hidden {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar {
  height: 45px;
  width: 100%;
  background-color: #1e79c3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3493e0), to(#1e79c3));
  background-image: -moz-linear-gradient(top, #3493e0, #1e79c3);
  background-image: -ms-linear-gradient(top, #3493e0, #1e79c3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3493e0), color-stop(100%, #1e79c3));
  background-image: -webkit-linear-gradient(top, #3493e0, #1e79c3);
  background-image: -o-linear-gradient(top, #3493e0, #1e79c3);
  background-image: linear-gradient(top, #3493e0, #1e79c3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3493e0', endColorstr='#1e79c3', GradientType=0);
}
#navbar ul {
  height: 100%;
  list-style-type: none;
}
#navbar ul li {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
#navbar ul li.title {
  background-image: url('../img/dunya.png');
  background-position: 10px 2px;
  background-repeat: no-repeat;
  padding-left: 80px;
  padding-right: 20px;
  font-size: 1.5em;
  text-shadow: #000000 0 1px 0;
  position: relative;
  top: 2px;
}
#navbar ul li a {
  color: #ff0000;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: #e4e4e4;
}
p {
  margin: 10px 0;
}
#wrap {
  width: 100%;
}
#sidebar {
  -webkit-box-shadow: -1px 0px 10px #888888;
  -moz-box-shadow: -1px 0px 10px #888888;
  box-shadow: -1px 0px 10px #888888;
  position: absolute;
  overflow-y: auto;
  left: 0px;
  top: 45px;
  width: 290px;
  background: #eef6fc;
}
#sidebar:empty {
  display: none;
}
#sidebar #search {
  text-align: center;
  padding: 20px 0;
}
#sidebar #search input {
  padding-right: 30px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: 188.5px 5px;
}
#sidebar .tab {
  padding: 10px;
  color: #888888;
  border-bottom: 1px solid #cccccc;
  background: #fcfcfc;
  display: inline-block;
  cursor: pointer;
}
#sidebar #title-tab {
  padding: 10px;
  color: #888888;
  border-bottom: 1px solid #cccccc;
  background: #fcfcfc;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}
#sidebar #results-tab {
  padding: 10px;
  color: #888888;
  border-bottom: 1px solid #cccccc;
  background: #fcfcfc;
  display: inline-block;
  cursor: pointer;
  display: none;
}
#sidebar .active {
  color: #3493e0 !important;
  border: 1px solid #cccccc;
  border-bottom-color: #fcfcfc !important;
}
#sidebar ul {
  margin-top: -1px;
  list-style-type: none;
  width: 100%;
  background: #fcfcfc;
  border-top: 1px solid #cccccc;
}
#sidebar ul li a {
  display: block;
  height: 66px;
  line-height: 33px;
  padding-left: 10px;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #cccccc;
}
#sidebar ul li a:hover {
  background: #ffffff;
}
.scrollable {
  overflow-y: auto;
  height: 100%;
}
#content {
  padding-left: 290px;
  background: #fcfcfc;
  overflow-x: hidden;
}
section {
  padding: 20px;
}
a {
  color: #1e79c3;
  text-decoration: none;
}
a:hover {
  color: #3493e0;
  text-decoration: underline;
}
h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}
#dialog {
  position: relative;
  width: 600px;
  margin: 50px auto;
  border: 2px solid #e4e4e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fcfcfc;
  padding: 20px;
}
#dialog form {
  width: 420px;
  margin: 0 auto;
}
.alert {
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.alert ul {
  margin-left: 20px;
}
.alert.errors {
  background: #f2c4c4;
}
.alert.ok {
  background: #88e5a0;
}
.alert.neutral {
  background: #e4e4e4;
}
.center-align {
  text-align: center;
}
#masthead {
  margin-top: 20px;
  text-align: center;
}
#masthead h1 {
  font-size: 5.0em;
  color: #333333;
}
#masthead p {
  font-size: 1.5em;
  color: #888888;
}
.one-third {
  display: inline;
  float: left;
  width: 30%;
  margin: 0 1.6666666666666667%;
}
.entire {
  display: inline;
  float: left;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
}
.two-thirds {
  display: inline;
  float: left;
  width: 63.33333333333333%;
  margin: 0 1.6666666666666667%;
}
.blue-block {
  background: #eef6fc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.blue-block .large {
  font-size: 1.9em;
  color: #333333;
  font-weight: bold;
}
.blue-block section {
  padding: 10px;
}
.blue-block ul {
  margin-left: 20px;
}
.blue-block ul li {
  color: #888888;
}
.blue-block ul li span {
  color: #333333;
}
.row {
  clear: both;
}
#main-line-graph {
  display: inline;
  float: left;
  width: 96.66666666666667%;
  margin: 0 1.6666666666666667%;
}
#workers {
  list-style-type: none;
  text-align: center;
}
#workers li {
  position: relative;
  display: inline-block;
  height: 120px;
  border: 1px solid #888888;
  padding: 5px;
  margin: 0 5px;
}
#workers li div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #888888;
}
#workers li div.green {
  background: #2bc253;
}
#workers li div.yellow {
  background: #ffe303;
}
#workers li div.orange {
  background: #f1a165;
}
#workers li div.red {
  background: #f42323;
}
#workers li div .queue-size {
  font-size: 1.5em;
  font-weight: bold;
}
#workers li .worker-name {
  position: relative;
  top: 110px;
  color: #000000;
}
table {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-spacing: 0;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-left: 1px solid #e4e4e4;
}
table th {
  border-bottom: 1px solid #e4e4e4;
}
table.pretty {
  margin-bottom: 20px;
}
table.pretty th {
  background: #3493e0;
  color: #ff0000;
  width: 20%;
  border: 0;
}
table.pretty td {
  border-top: 1px solid #e4e4e4;
}
table.centered-text th,
table.centered-text td {
  text-align: center;
}
a.button {
  background-color: #e4e4e4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e4e4e4));
  background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e4e4e4));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e4e4e4', GradientType=0);
  color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 2px #888888;
}
a.button:hover {
  background-color: #3493e0;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1e79c3), to(#3493e0));
  background-image: -moz-linear-gradient(top, #1e79c3, #3493e0);
  background-image: -ms-linear-gradient(top, #1e79c3, #3493e0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e79c3), color-stop(100%, #3493e0));
  background-image: -webkit-linear-gradient(top, #1e79c3, #3493e0);
  background-image: -o-linear-gradient(top, #1e79c3, #3493e0);
  background-image: linear-gradient(top, #1e79c3, #3493e0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e79c3', endColorstr='#3493e0', GradientType=0);
  color: #ff0000;
  text-decoration: none;
}
a.button + a.button {
  margin-left: 5px;
}
.right-float {
  float: right;
  margin-top: 10px;
}
h2 {
  margin: 15px 0px;
}
.breadcrumbs {
  list-style-type: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1f1f1;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
  background-image: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f1f1f1);
  background-image: -o-linear-gradient(top, #fcfcfc, #f1f1f1);
  background-image: linear-gradient(top, #fcfcfc, #f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1', GradientType=0);
  border: 1px solid #e4e4e4;
  padding: 7px 14px;
  margin-bottom: 20px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li:not(:last-child):after {
  content: "\00a0\00a0\00a0\00BB\00a0\00a0";
}
.left-float {
  float: left;
}
#job-lists {
  float: left;
  position: relative;
  left: 20px;
}
#job-lists ul {
  list-style-type: none;
  background: #e4e4e4;
}
#job-lists ul li {
  max-width: 400px;
  background: #eef6fc;
  padding: 10px;
  border-top: 1px solid #ff0000;
}
#job-lists ul li.full-height {
  line-height: 60px;
}
#job-lists ul li p {
  margin-bottom: 0;
}
#job-lists #available-jobs .edit-parameters,
#job-lists #available-jobs span {
  display: none;
}
.job-lists {
  width: 65%;
  margin: 0 10px;
  display: inline-block;
}
.job-lists th {
  width: 50%;
}
.job-lists td {
  vertical-align: top;
}
.job-lists td .message {
  text-align: center;
  margin: 10px 0;
}
.job-lists td .job {
  cursor: pointer;
  margin: 0 3px 3px 3px;
  padding: 5px;
  padding-left: 25px;
}
.job-lists td .job span {
  position: absolute;
  margin-left: -20px;
}
.job-lists td .job i {
  font-style: normal;
}
#job-grid li {
  position: relative;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  background: #e4e4e4;
  line-height: 50px;
}
#job-grid li.available {
  background: #3493e0;
}
#job-grid li.available:hover {
  background: #60abe7;
}
#job-grid li a {
  display: block;
  min-width: 160px;
  padding: 0 20px;
  height: 100%;
  color: #ff0000;
}
#job-grid li a:hover {
  text-decoration: none;
}
#job-grid li:hover {
  background: #f1f1f1;
}
hr {
  margin: 10px 0;
}
.images {
  margin: 10px 0;
}
ul.grid {
  list-style-type: none;
}
ul.grid li {
  display: inline-block;
  vertical-align: top;
}
.flash-message {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 55px;
  left: 145px;
  z-index: 100;
}
.flash-message span {
  background: #ffe936;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rotate-row > #image-preview {
  border: 1px solid;
  float: right;
}
.luminance-view > canvas {
  border: 2px solid;
  margin: -3px;
}
#upload-images li:hover img {
  border-color: #3493e0;
}
#upload-images li:hover .delete-button {
  display: block !important;
}
#upload-images li {
  position: relative;
}
#upload-images li .delete-button {
  border: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff0000;
  font-size: 15px;
  text-shadow: 1px 2px #000000;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#upload-images li .delete-button:hover {
  background: #000000;
}
.page-loading {
  background: url('../img/loading.gif') no-repeat;
  background-position: 67px 100px;
}
.image-border {
  border: 5px solid #e4e4e4;
  width: 150px;
  height: 235px;
}
.image-buttons li {
  background: url('../img/loading.gif') no-repeat;
  background-position: 67px 100px;
}
.image-buttons li.disabled {
  background: none;
}
.image-buttons input {
  display: none;
}
.image-buttons img {
  border: 5px solid #e4e4e4;
  cursor: pointer;
}
.image-buttons img.selected {
  border-color: #3493e0;
}
.image-buttons img.current {
  border-color: #000000;
}
.image-buttons img.disabled {
  opacity: 0.5;
}
.image-buttons .fake-img {
  border: 5px solid #e4e4e4;
  width: 150px;
  height: 235px;
}
.image-buttons .fake-img img,
.image-buttons .fake-img input {
  display: none;
}
#image-viewport {
  border: 1px solid;
  float: left;
  cursor: move;
}
#image-miniframe div {
  border: 1px solid;
  border-left: 0px;
  cursor: move;
}
.fixed-bar {
  position: fixed;
}
div.seg-view > #image-preview {
  margin-left: 130px;
}
.progress {
  height: 20px;
  margin: 5px 0;
  margin-right: 10px;
  background-color: #fcfcfc;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fcfcfc));
  background-image: -moz-linear-gradient(top, #f1f1f1, #fcfcfc);
  background-image: -ms-linear-gradient(top, #f1f1f1, #fcfcfc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #fcfcfc));
  background-image: -webkit-linear-gradient(top, #f1f1f1, #fcfcfc);
  background-image: -o-linear-gradient(top, #f1f1f1, #fcfcfc);
  background-image: linear-gradient(top, #f1f1f1, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#fcfcfc', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.progress .bar {
  line-height: 20px;
  height: 20px;
  color: #ff0000;
  text-align: right;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.progress .bar.none {
  background: #e4e4e4;
  color: #333333;
  padding-left: 5px;
}
.progress .bar.red {
  background: #f42323;
}
.progress .bar.orange {
  background: #f1a165;
}
.progress .bar.yellow {
  background: #ffe303;
  color: #333333;
}
.progress .bar.green {
  background: #2bc253;
}
#query-input {
  width: 200px;
}
.search-box {
  position: absolute;
  background: #3493e0;
  opacity: 0.5;
  z-index: 500;
}
dl dt {
  font-weight: bold;
}
span.error {
  color: #f42323;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
#modal div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -120px;
  width: 240px;
  height: 70px;
  background-color: #e4e4e4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0000), to(#e4e4e4));
  background-image: -moz-linear-gradient(top, #ff0000, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ff0000, #e4e4e4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0000), color-stop(100%, #e4e4e4));
  background-image: -webkit-linear-gradient(top, #ff0000, #e4e4e4);
  background-image: -o-linear-gradient(top, #ff0000, #e4e4e4);
  background-image: linear-gradient(top, #ff0000, #e4e4e4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#e4e4e4', GradientType=0);
}
#modal div p {
  text-align: center;
  padding: 20px 0;
}
