@import "../../stylesheets/variables";

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -1px;
  background: $gray1;
}

html, body, #app, #app > div {
  height: 100%;
}

#app > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-content-row {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
