{% extends "dunya/base.html" %}
{% block title %}General Info | {% endblock %}

{% block extra_head %}
<style type="text/css">
.centering {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
</style>
{% endblock %}

{% block wrap %}
<div class="centering">
    <h2>Developers</h2>
    <p>Dunya offers an API that allows other applications access the collections and the derived data. For more information go to <a href="{% url 'developers' %}">developers page</a>.</p>

    <h2>Contact us</h2>

    <p>You can learn more information about the CompMusic project and its researchers
    at our website, <a href="http://compmusic.upf.edu/">compmusic.upf.edu</a>.</p>
    <p>To contact a specific researcher, see their <a href="http://compmusic.upf.edu/node/3">contact information</a>.</p>
    <p>For information about Dunya, contact Alastair Porter: alastair.porter@upf.edu.</p>
    <p>For general information about the CompMusic project, contact mtg@upf.edu.</p>
</div>
{% endblock %}
