{% extends "dunya/base.html" %}
{% block title %}Terms and Conditions | {% endblock %}

{% block extra_head %}
<style type="text/css">
.centering {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
table {
    border-collapse: collapse;
}
table td {
    vertical-align: top;
}
table td:first-of-type {
    border-right: 1px solid black;
    width: 600px;
    padding-left: 0;
}

table td, table tr {
    padding: 5px;
}
</style>
{% endblock %}

{% block wrap %}

<div class="centering">
<h2>Dunya website terms of use</h2>

<h3>Legal Notice</h3>

<p>These general terms and conditions govern the use of and access to the website of Dunya ("Dunya"), a project of the Music Technology Group at Universitat Pompeu Fabra (UPF), Barcelona, Spain, and the services made available to users at <a href="http://dunya.compmusic.upf.edu/">http://dunya.compmusic.upf.edu/</a> ("this website" or the "Site"). They are supplemental to the general Terms and Conditions of use of sites managed by the UPF, <a href="https://www.upf.edu/avis-legal">available here.</a></p>

<p><b>Dunya is a research website which serves as a validation platform of the computational models for the automatic description of music by emphasizing its cultural specificity that are being developed in the frame of the Compmusic research project (<a href="http://compmusic.upf.edu">http://compmusic.upf.edu</a>), funded by the European Research Council. Dunya consists of a service for validating new features through analysing your (user) behaviour when browsing and also by sending and replying to posts. For this purpose, the project tracks your browsing behaviour, and greatly appreciates the feedback you are providing us with through comments / answering questions.</b><p>

<p>Universitat Pompeu Fabra ("UPF" or "we/us") is domiciled at Plaça de la Mercè, 10-12, Barcelona, Spain, with tax number (CIF) Q-5850017-D.</p>

<p><b>Contact.</b> Any questions regarding Dunya, the Site, our services or these terms should be addressed to mtg@upf.edu.</p>

<h3>General use of the website</h3>
<table>
<tr><td>Use of this website and corresponding services by any user ("you" or "User") entails full acceptance of these terms and any specific conditions published on the website. Accordingly, users are recommended to read carefully these terms and conditions and any instructions shown on the website each time they access the site.</td>
<td>By accessing the site, you agree to these terms.</td><tr>

<tr><td>We reserve the right to modify or delete at any time and without notice any content, services and information that are published in this website, as well as limit or modify these terms and conditions. Any modification will take effect as from the date of publishing and will bind any user accessing the page subsequent to publication. These terms may be saved and printed by the user using the "Print" function of the browser.</td>
<td>We may change these terms from time to time. </td></tr>
</table>

<h3>Intellectual Property Rights</h3>
<table>
<tr><td>Independently of any free or open source software or content license that may apply to any works, and except for works that are in the public domain, all the elements of this website - including each individual work and the structure, arrangement and selection of those works - are covered by intellectual or industrial property rights. The rights in content, source code, form, design and name of the products, applications, tools, pages, brands, commercial names, logotypes, images, sounds and graphics, belong to, or have been granted to or are the object of a license in the name of, UPF. Authorship and the right to use these works in any manner, including reproduction, modification, distribution or public communication, are protected by law.</td>
<td>The materials on Dunya are protected by copyright laws.  </td></tr>
</table>

<h3>User Account</h3>

<table>
<tr><td><b>Registration.</b> To listen music and/or to post content to Dunya, you must create an account by completing the corresponding form with your details and agreeing to these Terms. The passwords are confidential and are therefore your responsibility to safeguard and ensure their correct use. You agree to notify us immediately upon learning of any unauthorised use of your Account or any other breach of security known to you. On confirmation of the account, you are granted a limited, revocable, non-exclusive and non-transferable license to use the Dunya services in accordance with these Terms. The privacy policy applicable to personal data collected and processed by Dunya is set out below.</td>
<td>To listen music and/or to post content, you must register and create an account.</td></tr>
<tr><td><b>Term.</b> The account will be activated and remain in force unless terminated by either us or you hereunder. You may cancel your account at any time. All cancelations should be addressed to: mtg@upf.edu. We may suspend or cancel your registration immediately in case of breach by you of these Terms, by written notice. We may provide you 7 days' notice of termination in any other circumstance. On termination for any reason, your access to your account and all of its content will be disabled and your personal data will be deleted, except as maintained in backups (for back-up retrieval purposes only or for any contingency). The content you have posted to the site will be reviewed and, at your option, may be deleted or kept online. </td>
<td>Your account remains active, but we may suspend it if you breach these rules and your content may be removed.  </td></tr>


<tr><td><b>Responsibility and Use.</b> You are responsible for all activities undertaken under your account. In addition, by using the account to upload content to Dunya, or by using the Dunya service to send content, when available, you hereby expressly agree that other Dunya users and third parties may view and share your content according to these terms. You agree not to use the Dunya account for any illegal or unauthorized purpose or any activity that infringes third party rights. Unless otherwise agreed in writing with us, you may not use the Dunya website portal for commercial purposes. You must not use the service in any manner that may deteriorate it or violates any laws (including but not limited to copyright laws). You agree to indemnify and hold us harmless to the fullest extent allowed by law regarding all matters related to your use of your Dunya Account.</td>
<td>You are responsible for activity under your account, and you agree to comply with these terms and the law.</td></tr>


<tr><td><b>Security.</b> You understand that the Dunya account can be used for transmission of your content, and that during processing, your content, including username, metadata, and certain account information may be transferred unencrypted over the internet. </td>
<td>Note that transmissions to Dunya over the Internet are open.</td></tr>
</table>

<h3>Interactive services and User content</h3>

<table>
<tr><td>Dunya provides services to users that allow them to post content on the web site (e.g. opinions and metadata), distribution lists, chat rooms, newsgroups, forums, blogs, etc. ("interactive services"). Users must provide and use such content and services in accordance with current legislation, these terms and conditions, any specific conditions regarding the provision of these services, and ethical conduct. In particular but without limitation, users may not use this site in breach of any Intellectual and Industrial property rights (copyright, trademarks, trade secrets, etc.) nor of personal rights such as image, honour, and personal intimacy. Without limitation, you agree not to use such services to disclose, publish or disseminate any spam, illegal code/virus/malware, confidential or misleading information or advertising, or other harmful uses that may damage the systems, reputation and interests of UPF, its licensees or its users.</td>
<td>Users can post opinions, data, comments and other content on Dunya. You agree that your content and behaviour on the site will comply with these terms and the law. </td></tr>

<tr><td>Please note that Dunya is a user community and network and to develop this community certain of your user activity (listenings, comments,) is visible to others users. </td>
<td>Other users may see your activity on Dunya.</td></tr>

<tr><td>We do not control or supervise contributions made by users and other third parties to the web site, for example opinions, text, metadata, forum posts, user comments, etc., except when required to by applicable law or competent court or administrative decision or to remove spam and other irrelevant or harmful content. If users spot any illegal contributions, or any other content they consider may be illegal or infringe these conditions, they should contact mtg@upf.edu with a description of the issue and the URL of the content, or use the functionalities onsite for flagging content. </td>
<td>We do not review the opinions, critics, comments and other content and metadata posted to the site, but the community does, and may notify us. </td></tr>

<tr><td>All third party content, announcement, comment, opinion, declaration or recommendation made within the interactive services shall exclusively be attributable to the User/s expressing such points of view. In no circumstances shall such announcements, comments, opinions, declarations or recommendations be attributable to Dunya, which will be held harmless by the User from any claims that may arise in relation to such User using these interactive services for the purposes prohibited in these terms or otherwise by law.</td>
<td>Only you are responsible for your posted content.</td></tr>

<tr><td>We reserve the right to eliminate at any time any content or contribution that infringes or may infringe these conditions, or prevent the reproduction or public communication of any content/contribution until proof is provided of ownership of the material provided or the legality of the contribution. In particular, and for precautionary purposes, Dunya may eliminate or suspend publication of such content when any contribution is reported to be illegal, infringe third party rights or not be sufficiently documented (without prejudice to Dunya's right to retain and keep on file internally a copy of the content in question while the legal situation is being verified and for the duration that is prescribed by law).</td>
<td>We may remove content at any time if it breaches these rules.</td></tr>

<tr><td>We do not check the content submitted by our users. Even that, we also reserve the right to exclude any user from the interactive services and to suspend or close his/her account without prior warning should the user breach any of these terms or when the user has posted something considered by us as inappropriate.</td>
<td>We do not check the content submitted by our users. Even so, we may also exclude users who breach these rules or when the user has posted something considered by us as inappropriate.</td></tr>
</table>

<h3>IPR in the Interactive Services And User Content</h3>

<table>
    <tr><td><b>Inbound (general content).</b> Content to the website constitutes the grant in UPF’s favour (as operator of Dunya) to use such content under the terms of the <a href="http://creativecommons.org/publicdomain/zero/1.0/deed">Creative Commons Zero</a> license.   The User warrants to UPF (as operator of Dunya) that he/she has all necessary rights in the user contributions to grant such license to UPF and the public and that the posting for publishing does not infringe any third party rights of any nature. The User will indemnify and hold UPF, UPF’s licensees and users harmless against all loss or damage suffered by either or any of them, directly or indirectly, as a consequence of any breach of the above warranty and/or breach of third party intellectual property rights, trade secrets, privacy rights or other third party rights, by such posting.</td>
<td>You provide us your content under the CC-Zero content license You warrant that you legally can post the sound to Dunya.  You will cover any costs if you breach other people’s IPR or other rights</td></tr>

<tr><td><b>Outbound.</b> Content (other than audio) published by Dunya on the interactive services are distributed under the Creative Commons license indicated for each item and chosen by the author or User. Unless otherwise indicated in this way, all other content on Dunya site is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/es/deed.en">CC-BY-NC Spain 3.0 license</a>.</td>
<td>We indicate the license for the metadata. All other content is generally under the CC-BY license. </td></tr>

<tr><td><b>Claims:</b> Any claims notified to us by users in relation to infringements of intellectual or industrial property rights relating to any of the content contained on this web site must be sent to the following e-mail address: mtg@upf.edu. In addition, the site includes specific functionalities for flagging content a user considers inappropriate, offending or a breach of these terms (in particular, illegal).</td>
<td>Please notify us (or flag) if you seen any problems</td></tr>
</table>

<h3>Liabilities</h3>

<table>
<tr><td>We do not guarantee the user the continued availability of Dunya platform or the supply of information or of the various services offered through it. As a result, users will not hold us liable for any damage or expense in the event of interruptions in the service, delays, malfunctions and, in general, any inconvenience whose origin lies in causes beyond the control of Dunya.</td>
<td>Dunya may not always be online.</td></tr>

<tr><td>We do not guarantee the use, results or infallibility of the contents provided over the website which, in all cases, are of an orientative and informative nature. This information was obtained from Dunya users as well as sources deemed to be reasonably reliable but should not be deemed infallible. This is so specifically taking into account the fact that Dunya does not control, supervise nor makes itself responsible for third party content, including dynamic content which may change over time, linked to from this site. All opinions, measures, downloads or actions of any nature adopted by the user will be exclusively at their own account and risk.</td>
<td>We don’t warrant that all the data on the site is correct. We are not liable for information not posted by us on this site. </td></tr>

<tr><td>UPF does not assume any liability arising from (a) use made by the user of the content of Dunya's website and services; (b) the content and opinions published by  third parties herein; (c) any activity that constitutes breach by the user or third parties of these terms; or (d) for any damages that may be caused to the users' equipment due to possible computer viruses contracted by the user in browsing the website or for any other damages incurred due to their browsing.</td>
<td>We are not liable for third party users’ behaviour on the site. </td></tr>

<tr><td>The User shall hold Dunya harmless in the event of damages caused to third-parties as a result of the user's rightful or wrongful use of the products, services, contents or tools available on the website.</td>
<td>You will cover our costs caused by your incorrect behaviour </td></tr>

<tr><td>UPF, as operator of Dunya, will only be liable for loss or damages incurred by the user as a consequence of accessing the website or using the contents or tools on the platform when such damages are attributed to fraud or wilful misconduct on the part of UPF.</td>
<td>We will only be liable for fraud or misconduct on our part</td></tr>

<tr><td>We reserve the right to modify, replace, update, renew, impede or restrict access, interrupt, block, temporarily suspend or cancel definitively any service, supply of information or any other content, either with regard to a specific user or in general, in particular when notified by any third party or administrative or judicial authority of any actual or potential breach of third party rights. Any potential breach should be notified to mtg@upf.edu </td>
<td>We can change the site as and when we consider appropriate and we will notify you. </td></tr>
</table>

<h3>Privacy policy</h3>

<table>
<tr><td colspan="2" style="border-right: none;">
Personal data of users provided through using the Dunya website and services is processed in accordance with the following policy:</td></tr>

<tr><td><b>Responsibility.</b> The personal data provided will be stored in file called 'Projectes de recerca, desenvolupament i innovació', under the responsibility of Universitat Pompeu Fabra. </td>
<td>The UPF is responsible for the private data collected on Dunya.</td></tr>

<tr><td><b>Purposes:</b> The data is processed for the purpose of carrying out research development and innovation studies, works or projects within the context of the Compmusic project. In particular, but without limitation, the data is processed for the purpose of providing and managing the Dunya services, analysing user behaviour and feedback, communicating with Dunya users regarding activities of the site, managing the users’ accounts and Site activities, putting users in contact with each other, providing notices, newsletters and other electronic communications, and for any operational, administrative and legal / judicial purposes.</td>
<td>Data is processed for R&amp;D purposes, to manage your account and to contact you.</td></tr>

<tr><td><b>Collection.</b> We collect personal data on creating user accounts, on tracking browsing habits of the users including user name, date, page visits (for example with cookies) and/or via contact forms, including name, surname, and email address. Users may voluntarily add other data in their profile. Only the data marked with a star is obligatory. Users must provide and maintain true and accurate personal profile data. Users must NOT upload any sensitive data regarding racial origin, trade union membership, religion, ideology and sexual life, the user’s or third party’s health, or relative to the commission of criminal offences or proceedings and associated penalties or fines. </td>
<td>We expressly collect the data in the web forms (including cookies) only. You must not upload sensitive personal data.</td></tr>

<tr><td><b>Disclosure.</b> The data is kept confidential and not communicated to anyone. However, these data may be disclosed with your previous consent to entities that collaborate in the development of research activity and to third parties when such a disclosure is authorized by law. </td>
<td>We keep you data confidential</td></tr>

<tr><td><b>Confidentiality.</b> Technical and organizational measures have been adopted to preserve and protect users’ personal information from unauthorized use or access and from being altered, lost or misused, taking into account the technological state of art, the features of the information stored and the risks to which information is exposed. </td>
<td>We apply security measures to keep this confidentiality</td></tr>

<tr><td><b>User rights.</b> Rights to access, correct, cancel or object to data in these files may be exercised by applying in writing, including a photocopy of your identity card or equivalent to: Gerent. Universitat Pompeu Fabra. Pl. de la Mercè, 12. 08002 - Barcelona. </td>
<td>You may access and modify or delete your data by contacting us.</td></tr>

<tr><td><b>Consent.</b> By registering as user, users expressly agree to this policy, including the sending of electronic communications. </td>
<td>You agree to this processing of your data</td></tr>
</table>

<h3>Cookies and Analytics</h3>

<table>
<tr><td><b>Cookies.</b> This website uses “cookies”, small data files generated in your computer and associated to users. The cookies used cannot read data from the hard disk. Please read our <a href="{% url 'cookies' %}">Cookies Policy</a>, which is part of this policy </td>
<td>We use the cookies set out here on the site. Please read our <a href="{% url 'cookies' %}">Cookies Policy</a>.</td></tr>
</table>

<h3>Other</h3>

<table>
<tr><td><b>Links.</b> Our site contains links to third party Internet sites. We make no representation whatsoever nor accept any responsibility about such sites nor have any control over them. Any third-party content or a link to a third-party site is for informational purposes only. Unless otherwise expressly established in each case, Dunya does not intervene, participate in or assume any guarantee regarding the services or products offered by third party providers that may be accessible through hyperlinks or advertisements.</td>
<td>We link to other sites, but are not responsible for their content.</td></tr>

<tr><td><b>Contact and notifications.</b> You agree to receive our email notifications related to the website and services. We will not share your email with 3rd parties. We may contact you for information and service notifications relevant to your account or when required by law. You hereby acknowledge and consent that such notices will be effective upon our posting them on our Sites or delivering them to You through e-mail. If you do not provide us with accurate information, we cannot be held liable if we fail to notify you. </td>
<td>You agree to receive email notices from us. </td></tr>

<tr><td><b>Law and Jurisdiction.</b> These terms and conditions are governed by Spanish Law. The parties expressly accept that any conflict arising out of or in relation to the application, interpretation or performance of these terms and the use of the services will be submitted to the exclusive jurisdiction of the competent Courts of Barcelona, Spain.</td>
<td>If we have a dispute, these terms are subject to Spanish law and the dispute must be brought before the courts of Barcelona, Spain. </td></tr>
</table>
</div>

{% endblock %}
