@import "../../stylesheets/mixins";
@import "../../stylesheets/variables.json";

$entryHorizontalPadding: 2px;

.CategoryFilter__category-entry {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 3px solid transparent;
  padding: 4px $entryHorizontalPadding;
  margin-right: 3px;
  color: $blackText;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  @include styleSelectedEntry;
}

.CategoryFilter__category-catalogue {
  margin-bottom: 30px;
}

.CategoryFilter__category-all-entries-list {
  max-height: 180px;
  overflow-y: scroll;
  margin-bottom: 5px;
  pointer-events: all;
  -webkit-overflow-scrolling: touch;
  list-style: none;
  padding-left: 0;
}

.CategoryFilter__category-section-header {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $blackText;
  font-weight: bold;
  letter-spacing: 2px;
}

.CategoryFilter__selected-counter {
  float: right;
  margin-right: 10px;
}

.CategoryFilter__category-catalogue-search {
  position: relative;
}

.CategoryFilter__category-catalogue-search__input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 30px;
  border: $borderDefaultWidth solid $gray1;
  border-radius: 20px;
  transition: border 0.2s ease-in-out;
  &:focus {
    outline: none;
    border: $borderDefaultWidth solid $lightBlue;
  }
}

.CategoryFilter__category-catalogue-search__search-icon {
  position: absolute;
  top: 7px;
  left: 10px;
  color: $blackText;
}
