@use "sass:map";

$columnWidth: 60px;
$gridWidth: 800px;
$blackText: #333;
$midBlack: #555a55;
$blue: #3A8B8B;
$lightBlue: #4ba7c7;
$brownLight: #905442;
$brownDark: #41322D;
$orangeLight: #F1AB39;
$orangeRegular: #B3411E;
$orangeDark: #753522;
$green: #6D9A1A;
$yellowLight: #F9D56A;
$yellowRegular: #FCF02E;
$yellowSand: #F1E634;
$gray1: #E8E8E8;
$gray2: #F1F1F1;
$gray3: #C5C5C5;
$gray4: #EFEFEF;
$navbarHeightBig: 90px;
$navbarHeightSmall: 60px;
$breakpoints: (
  "small": 767px,
  "medium": 815px,
  "large": 1200px,
  "xlarge": 1600px,
);
$borderDefaultWidth: 2px;
$defaultBorderRadius: 5px;
$sidebarHorizontalPadding: 10px;
$searchFiltersOverviewWidth: 70px;
$bodyVerticalPadding: 20px;
$softShadowColor: rgba(210,210,210,0.95);
$searchIconWidth: 40px;

