{% load staticfiles %}
{% load inline %}

<div class="concert item">
      <div class="disc pict">
          <a href="{{concert.get_absolute_url}}"><img src="{{concert.get_image_url}}"></a>
      </div>
      <div class="desc">
        <div class="plus"></div>
        <a href="{{concert.get_absolute_url}}" class="title"><b>{{concert.title}}</b></a><span class="year">{{concert.year}}</span>
        {% if concert.artists.all %}
        <a href="{{concert.artists.all.0.get_absolute_url}}" class="belongs">{{concert.artists.all.0}}</a>
        {% endif %}
      </div>
      <div class="descOpen">
        <div class="meta">
          <label>DATE</label><span class="value">1969</span>
          <label>LENGTH</label><span class="value">02:26:57</span>
          <!-- <label>SOURCE</label><span class="value">MusicBrainz</span> -->
          <div class="clearer"></div>
        </div>
        <h3>DESCRIPTION</h3>
        <p class="value"></p>
      </div>
      <div class="lists">
        <div class="left">
          <h3>Tracks</h3>
            <div class="miniitem artist">
              <div class="colorCode shadow1"></div>
              <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/notrack.jpg"></a></div>
              <label><b>Track name 1</b>01:50:21</label>
            </div>
        </div>
        <div class="right">   
          <h3>Performers</h3>       
            <div class="miniitem instrument">
              <div class="colorCode shadow1"></div>
                <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noartist.jpg"></a></div>
                <label><b>Artist name 1</b>Instrument</label>
          </div>
            <div class="miniitem instrument">
              <div class="colorCode shadow1"></div>
            <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noartist.jpg"></a></div>
            <label><b>Artist name 2</b>Instrument</label>
          </div>            
        </div>
      </div>
    </div>
