{% load inline %}

  <div class="concert item">
        <div class="disc pict">
            <a href="{{concert.get_absolute_url}}"><img src="{{concert.get_image_url}}"></a>
    </div>
        <div class="desc"><div class="plus"></div>
            {% inline_concert concert 1 %}
        <p>{% inline_artist_list concert.artists.all %}</p>
        <p>{{concert.year}}</p>
    </div>
        
        <div class="lists similar">
            <div  class="left">
            
            </div>
            <div class="right">
            </div>
        </div> 
      </div>

