<div class="instrument item">
        <div class="smallPlay"></div> 
        <div class="disc pict">
        <a href="http://localhost:8001/carnatic/concert/4"><img src="./Dunya_files/noconcert.jpg"></a>
    </div>
        <div class="desc"><div class="plus"></div>
        <a href="http://localhost:8001/carnatic/concert/4"><b>M.S. Subbulakshmi concert at Naradaganasabha 1969</b></a>
        <p><a href="http://localhost:8001/carnatic/artist/10">M.S. Subbulakshmi</a></p>
        <p>1969</p>
    </div>
        <div class="descOpen">
    He learned music from Tiger Varadachariar, Sabesa Iyer, Ponniah Pillai, and Sathur Krishna Iyengar. He received a Ph.D. in ethnomusicology from Wesleyan University, Middletown, Connecticut, where he also taught.

He had disciples who have carved names for themselves such as P.UnniKrishnan, S. Sowmya, Savithri Sathyamurthy, Seetha Narayanan, Vasumathi Nagarajan...
    </div>
        <div class="lists">
    	<div  class="left">
    		
    		<div class="miniitem artist">
    		  <div class="colorCode shadow1"></div>
    		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
    		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
    		</div>
    		<div class="miniitem artist">
    		  <div class="colorCode shadow1"></div>
    		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
    		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
    		</div>
    	
    	</div>
    	<div class="right">
    	
    	  <div class="miniitem instrument">
    	    <div class="colorCode shadow1"></div>
    		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
    		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
    		</div>
    		<div class="miniitem instrument">
      		<div class="colorCode shadow1"></div>
    		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
    		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
    		</div>
    		
    	</div>
    </div>
      </div>
<!--
<div class="instrumentCell">
    <div class="photo">
        <img src="{{image}}">
    </div>
    <div class="desc">
        <a href="{{instrument.get_absolute_url }}">
            {{ instrument.name }}
        </a>
    </div>
</div>
-->
