{% load staticfiles %}
{% load inline %}
<div class="raaga item">
  <div class="disc pict">
    <a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noraaga.jpg"></a>
</div>
  <div class="desc">
    <div class="plus"></div>
    <a href="http://localhost:8001/carnatic/concert/1" class="title"><b>Raaga name</b></a>     
</div>
  <div class="descOpen">
He learned music from Tiger Varadachariar, Sabesa Iyer, Ponniah Pillai, and Sathur Krishna Iyengar. He received a Ph.D. in ethnomusicology from Wesleyan University, Middletown, Connecticut, where he also taught.

He had disciples who have carved names for themselves such as P.UnniKrishnan, S. Sowmya, Savithri Sathyamurthy, Seetha Narayanan, Vasumathi Nagarajan...
</div>
  <div class="lists">
  <div  class="left">
    <h3>Composers</h3>
    <div class="miniitem artist">
      <div class="colorCode shadow1"></div>
      <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noartist.jpg"></a></div>
      <label><b>M. D. Ramanathan</b>1969</label>
    </div>
    <div class="miniitem artist">
      <div class="colorCode shadow1"></div>
      <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noartist.jpg"></a></div>
      <label><b>M. D. Ramanathan</b>1969</label>
    </div>

</div>
  <div class="right">
  <h3>Works</h3>
  <div class="miniitem instrument">
    <div class="colorCode shadow1"></div>
      <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
      <label><b>Work title</b>1972</label>
    </div>
    <div class="miniitem instrument">
        <div class="colorCode shadow1"></div>
      <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
      <label><b>Work title</b>1972</label>
    </div>
    
</div>
</div>
</div>
