{% load staticfiles %}
{% load inline %}

<div class="track">
    <a href="{{recording.get_absolute_url}}"><h4>{{recording.title}}</h4></a>
       <div class="trackWave">
            <a href="{{recording.get_absolute_url}}">
           <img src="{{recording.waveform_image}}" width="246">
            </a>
       </div>
       <div class="trackMeta">
           <label>Raaga:</label>
           {% if recording.raaga %}
           <b><a href="{{recording.raaga.get_absolute_url}}">{{recording.raaga}}</a></b>
           {% else %}
           unknown
           {% endif %}

           <label>Taala:</label>
           {% if recording.taala %}
           <b><a href="{{recording.taala.get_absolute_url}}">{{recording.taala}}</a></b>
           {% else %}
           unknown
           {% endif %}
       </div>
</div>
