{% load inline %}
{% load badges %}

{% comment %} arguments: concert, works, similarworks, raaga, sraaga {% endcomment %}

<div class="concert item">
      <div class="smallPlay"></div>
        <div class="disc pict">
            <a href="{{concert.get_absolute_url}}"><img src="{{concert.get_image_url}}"></a>
    </div>
        <div class="desc"><div class="plus"></div>
            <a href="{{concert.get_absolute_url}}"><b>{{concert.name}}</b></a>
            <p>{%inline_artist_list concert.artistnames %}</p>
            {% if concert.year %}<p>{{concert.year}}</p>{% endif %}
    </div>
        <div class="descOpen">
    </div>
        <div class="lists">
        	<div  class="left">
        		<div class="similarity">
        		  <h2>Index of similarity</h2>
                  {% if artistsame|length or artistsimilar|length %}
        		  <div class="artist active" style="width:90px"><span>artist</span></div>
                  {% endif %}
                  {% if worksame|length or worksimilar|length %}
        		  <div class="work" style="width:90px"><span>work</span></div>
                  {% endif %}
                  {% if raagasame|length or raagasimilar|length %}
        		  <div class="raaga" style="width:90px"><span>raaga</span></div>
                  {% endif %}
                  {% if taalasame|length or taalasimilar|length %}
        		  <div class="taala" style="width:90px"><span>taala</span></div>
                  {% endif %}
        		</div>

        	</div>
        	<div class="right">
        	  <div class="similarList artist">
                {% if artistsame|length %}
                Albums share these same artists:<br>
                  {% for a in artistsame %}
                      {% badge_mini_artist a %}
                  {% endfor %}
                {% endif %}
                <div class="clearer"></div>
                {% if artistsimilar|length %}
                Albums share these similar artists:<br>
                  {% for a in artistsimilar %}
                      {% badge_mini_artist a %}
                  {% endfor %}
                {% endif %}
        	  </div>
        	  <div class="similarList work">
                {% if worksame %}
                Albums share these same works:<br>
                  {% for w in worksame %}
                      {% badge_mini_work w %}
                  {% endfor %}
                {% endif %}
                {% if worksimilar %}
                <div class="clearer"></div>
                Albums share these similar works:<br>
                  {% for w in worksimilar %}
                      {% badge_mini_work w %}
                  {% endfor %}
                {% endif %}
        	  </div>
        	  <div class="similarList raaga">
                {% if raagasame %}
                Albums share these same raagas:<br>
                  {% for w in raagasame %}
                      {% badge_mini_raaga w %}
                  {% endfor %}
                {% endif %}
                <div class="clearer"></div>
                {% if raagasimilar %}
                Albums share these similar raagas:<br>
                  {% for w in raagasimilar %}
                      {% badge_mini_raaga w %}
                  {% endfor %}
                {% endif %}
        	  </div>
        	  <div class="similarList taala">
                {% if taalasame %}
                Albums share these same taalas:<br>
                  {% for w in taalasame %}
                      {% badge_mini_taala w %}
                  {% endfor %}
                {% endif %}
                <div class="clearer"></div>
                {% if taalasimilar %}
                Albums share these similar taalas:<br>
                  {% for w in taalasimilar %}
                      {% badge_mini_taala w %}
                  {% endfor %}
                {% endif %}
        	  </div>
        	</div>
        </div>
      </div>
