{% load inline %}
{% load badges %}

  <div class="artist item">
        <div class="disc pict">
            <a href="{{artist.get_absolute_url}}"><img src="{{artist.get_image_url}}"></a>
    </div>
        <div class="desc"><div class="plus"></div>
            {% inline_artist artist %}
            <p>{% if artist.begin %}{{artist.begin}}{% else %}&nbsp;{% endif %}</p>
            {% if artist.main_instrument %}
        <p>Primary instrument: {% inline_instrument artist.main_instrument %}
        {% endif %}
    </div>
    <div class="descOpen">
                {% if guru %}
                    {{guru}}
                {% endif %}
                {% if concerts %}
                Concerts that these artists collaborate on<br>
                  {% for c in concerts %}
                      {% badge_mini_concert c %}
                  {% endfor %}
                {% endif %}
    </div>
<!--
        <div class="lists similar">
            <div class="left" style="padding:1em;">
            </div>
        </div>
-->
      </div>
