<div class="concert item">
      <div class="smallPlay"></div>
        <div class="disc pict">
        <a href="http://localhost:8001/carnatic/concert/2"><img src="./Dunya_files/noconcert.jpg"></a>
    </div>
        <div class="desc"><div class="plus"></div>
        <a href="http://localhost:8001/carnatic/concert/2"><b>K. V. Narayanaswami concert at Music Academy 1967</b></a>
        <p><a href="http://localhost:8001/carnatic/artist/5">K. V. Narayanaswami</a></p>
        <p>1967</p>
    </div>
        <div class="descOpen">
    He learned music from Tiger Varadachariar, Sabesa Iyer, Ponniah Pillai, and Sathur Krishna Iyengar. He received a Ph.D. in ethnomusicology from Wesleyan University, Middletown, Connecticut, where he also taught.

He had disciples who have carved names for themselves such as P.UnniKrishnan, S. Sowmya, Savithri Sathyamurthy, Seetha Narayanan, Vasumathi Nagarajan...
    </div>
        <div class="lists">
        	<div  class="left">
        		<div class="similarity">
        		  <h2>Index of similarity</h2>
        		  <div class="artist" style="width:80px"><span>artist</span></div>
        		  <div class="concert" style="width:50px"><span>concert</span></div>
        		  <div class="work" style="width:10px"><span>work</span></div>
        		  <div class="instrument active" style="width:170px"><span>instrument</span></div>
        		  <div class="raaga" style="width:90px"><span>raaga</span></div>
        		  <div class="taala" style="width:20px"><span>taala</span></div>
        		  <div class="recording" style="width:40px"><span>recording</span></div>
        		  <div class="composer" style="width:100px"><span>composer</span></div>
        		</div>
        	
        	</div>
        	<div class="right">
        	  <div class="similarList artist">
          	  <div class="miniitem artist">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem artist">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList concert">
          	  <div class="miniitem concert">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem concert">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList work">
          	  <div class="miniitem work">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem work">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList instrument active">
          	  <div class="miniitem instrument">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem instrument">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList raaga">
          	  <div class="miniitem raaga">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem raaga">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList taala">
          	  <div class="miniitem taala">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem taala">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList recording">
          	  <div class="miniitem recording">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem recording">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	  <div class="similarList composer">
          	  <div class="miniitem composer">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
          		<div class="miniitem composer">
          		  <div class="disco"><a href="http://localhost:8001/carnatic/concert/1"><img src="./Dunya_files/noconcert.jpg"></a></div>
          		  <label><b>M. D. Ramanathan Concert at Music Academy 1969</b></label>
          		</div>
        	  </div>
        	</div>
        </div> 
      </div>
