{% load inline %}
{% load badges %}

<div class="concert item">
      <div class="smallPlay"></div>
        <div class="disc pict">
            <a href="{{concert.get_absolute_url}}"><img src="{{concert.get_image_url}}"></a>
    </div>
        <div class="desc"><div class="plus"></div>
            <a href="{{concert.get_absolute_url}}"><b>{{concert.name}}</b></a>
            <p>{%inline_artist_list concert.artistnames %}</p>
            {% if concert.year %}<p>{{concert.year}}</p>{% endif %}
    </div>
        <div class="descOpen">
    </div>
        <div class="lists">
        	<div  class="left">
        		<div class="similarity">
        		  <h2>Index of similarity</h2>
        		  <div class="artist" style="width:80px"><span>artist</span></div>
        		  <div class="concert" style="width:50px"><span>concert</span></div>
        		  <div class="work" style="width:10px"><span>work</span></div>
        		  <div class="instrument active" style="width:170px"><span>instrument</span></div>
        		  <div class="raaga" style="width:90px"><span>raaga</span></div>
        		  <div class="taala" style="width:20px"><span>taala</span></div>
        		  <div class="recording" style="width:40px"><span>recording</span></div>
        		  <div class="composer" style="width:100px"><span>composer</span></div>
        		</div>

        	</div>
        	<div class="right">
        	  <div class="similarList artist">
                  {% for a in c.artists %}
                      {% badge_mini_artist a %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList concert">
                  {% for c in c.concerts %}
                      {% badge_mini_concert c %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList work">
                  {% for w in c.works %}
                      {% badge_mini_work w %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList instrument active">
                  {% for i in c.instruments %}
                      {% badge_mini_instrument i %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList raaga">
                  {% for r in c.raagas %}
                      {% badge_mini_raaga r %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList taala">
                  {% for t in c.taalas %}
                      {% badge_mini_taala t %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList recording">
                  {% for r in c.recordings %}
                      {% badge_mini_recording r %}
                  {% endfor %}
        	  </div>
        	  <div class="similarList composer">
                  {% for c in c.composers %}
                      {% badge_mini_composer c %}
                  {% endfor %}
        	  </div>
        	</div>
        </div>
      </div>
