{% load staticfiles %}
{% load inline %}
{% load badges %}

<div class="taala item">
  <div class="disc pict">
      <a href="{{taala.get_absolute_url}}"><img src="{{taala.get_image_url}}" width="297" style="vertical-align: middle"></a>
</div>
  <div class="desc">
    <div class="plus"></div>
    <a href="{{taala.get_absolute_url}}" class="title"><b>{{taala.name|title}} taala</b></a>
</div>
  <div class="descOpen">
</div>
  <div class="lists">
    <div class="left">
          <h3>Compositions</h3>
          {% for w in taala.works %}
          {% badge_mini_work w %}
          {% endfor %}
    </div>
    <div class="right">
          <h3>Artists</h3>
    {% for a in taala.percussion_artists %}
        {% badge_mini_artist a %}
    {% endfor %}
    </div>
  </div>
</div>
