{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{artist.name}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Artist {{artist.name}}</h1>

<p>Instrument(s): {% for i in instruments %} {% inline_instrument i %} {% endfor %}

<h3>External</h3>
<ul>
{% for r in artist.refs %}
<li><a href="{{r.url}}">{{r.title}}</a></li>
{% endfor %}
</ul>

{% if artist.description %}
<h3>Description</h3>
<p>{{artist.description.description|safe}}</p>
{% endif %}

<h3>Main releases</h3>
<ul>
    {% for r in main_releases %}
    <li>{% inline_release r %}</li>
    {% endfor %}
</ul>

    <h3>Accompanying releases</h3>
<ul>
    {% for r in other_releases %}
    <li>{% inline_release r %}</li>
    {% endfor %}
</ul>

    <h3>Collaborating artists</h3>
<ul>
    {% for a in collaborating_artists %}
    <li>{% inline_artist a %}</li>
    {% endfor %}
</ul>

    <div class="clearfix"></div>
</div>
{% endblock %}

