{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{composer.name}} - {% endblock %}

{% block wrap %}
<div id="detail">

    <h1>Composer {{composer.name}}</h1>

    <h3>Works</h3>
    {% for w in composer.worklist %}
    <li>{% inline_work w %}
    {% endfor %}

    <h3>Works where composed lyrics</h3>
    {% for w in composer.lyricworklist %}
    <li>{% inline_work w %}
    {% endfor %}

    <div class="clearfix"></div>
</div>
{% endblock %}

