<div class="modal-alphabet">
{% regroup elems by name|slugify|slice:":1"|upper as letter_list %}
{% for letter in letter_list %}
  <div><a href="#anchor-{{ letter.grouper }}">{{ letter.grouper }}</a></div>
{% endfor %}
</div>
<div class="modal-content-list">
    {% for letter in letter_list %}
        <div class="anchor" class="col-md-6" id="anchor-{{ letter.grouper }}" > 
          {% for item in letter.list %}
          <div class="modal-content-list-item" ><a href="{% url 'work-list' %}?{%for k,v in params.items%}{{v}}&{%endfor%}{{elem}}={{item.id}}">{{item.name}}</a></div>
          {% endfor %}
        </div>
    {% endfor %}
</div>

