{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{form.name}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Form {{form.name}}</h1>

    <h3>Works</h3>
    {% for w in form.worklist %}
    <li>{% inline_work w %}
    {% endfor %}

    <div class="clearfix"></div>
</div>
{% endblock %}

