{% extends "makam/base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'makam/css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'makam/css/normalize.css' %}" />
{% endblock %}
{% block title %}Makam index | {% endblock %}
{% block script %}
<script>
var examples = 7;
var exampleShown = 0;
function changeVisibleExample(newExample) {
  if (newExample < 0) {
    exampleShown = examples - 1;
  } else if (newExample < examples) {
    exampleShown = newExample;
  } else {
    exampleShown = 0;
  }
  var carousel = $('.carousel');
  carousel.removeClass();
  carousel.addClass('carousel');
  carousel.addClass('example-'+(exampleShown+1));
};

$.widget( "custom.catcomplete", $.ui.autocomplete, {
  _create: function() {
    this._super();
    this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
  },
  _renderMenu: function( ul, items ) {
    var that = this,
    currentCategory = "";
    var allitems = {};
    $.each( items, function( index, item ) {
      if ( !(item.category in allitems) ) {
        allitems[item.category] = [];
      }
      if (allitems[item.category].length < 5){
        allitems[item.category].push(item);
      }
    });
    $.each( allitems, function( index, catitems ) {
      ul.append( "<li class='ui-autocomplete-category " + index + "'><b>" + index + "</b></li>" );
      catitems.forEach(function(i){
        var li;
        li = that._renderItemData( ul, i );
        li.attr( "aria-label", index + " : " + i.label );
      });
    });
  },
  _renderItem: function( ul, item ) {
   return $( "<li>" )
   .addClass(item.category)
   .attr( "data-value", item.value )
   .append( $( "<a>" ).text( item.label ) )
   .appendTo( ul );
  }
});

$( document ).ready(function() {
  $('#display-filters').click(function(){
    $('.modal-container').addClass('active');
    $('.change-filter')[0].click();
    return false;
  });
$('.modal-background').click(function(){
  $('.modal-container').removeClass('active');
    return false;
  });
$('.modal-close').click(function(){
    $('.modal-container').removeClass('active');
    return false;
  });

  $(".change-filter").click(function() {
    $('.change-filter.active').removeClass('active');
    $(this).addClass('active');
    var url = $(this).attr('href');
     $.ajax(url, {dataType: "html", type: "GET",
       success: function(data, textStatus, xhr) {
         $(".modal-content").html(data);
         //$("#filterdialog").dialog("open");
       }, error: function(xhr, textStatus, errorThrown) {
         console.debug("xhr error " + textStatus);
         console.debug(errorThrown);

       }
     });

   return false;
  });
  $('.search-form>img').click(function(){
    $('#work-query').focus();
  });
  $('.left-arrow').click(function() {
    changeVisibleExample(exampleShown - 1);
  });
  $('.right-arrow').click(function() {
    changeVisibleExample(exampleShown + 1);
  });

$( "#work-query" ).catcomplete({
        delay: 0,
        source: function( request, response ) {
        $.ajax({
          url: "/makam/searchcomplete",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      select: function (e, ui) {
        var oid = ui.item.id;
        var cat = ui.item.category;
        var url = "/makam/works?"
        if (cat == "lyricist" || cat =="composer"){
          url += "artist="+oid;
          window.location.href = url;
        }else if(cat == "performer"){
          url += "performer="+oid;
          window.location.href = url;
        }else if (cat == "makam"){
          url += "makam=" + oid;
          window.location.href = url;
        }else if (cat =="usul"){
          url += "usul="+oid;
          window.location.href = url;
        }else if( cat == "form"){
          url += "form="+oid;
          window.location.href = url;
        }else if( cat == "recording"){
          url = "/makam/recording/"+ui.item.mbid;
          window.location.href = url;
        }else if( cat == "composition"){
          url += "work="+oid;
          window.location.href = url;
        }else{
          var name = ui.item.label.split(' - ')
          url += "q=" + encodeURIComponent(name[0]);
          window.location.href = url;
        }
      },
    });
});
</script>
<script src="{% static 'makam/js/works.js' %}"></script>
{% endblock%}

{% block wrap %}
<div id="app">
  <div >
    <div class="hero-container" >
      <div class="hero-title" >Dunya Makam</div>
      <div class="hero-description">Discover and analyze Turkish makam music with CompMusic technologies.</div>
    </div>
    <div class="search-container" >
      <div class="bg-image" >
      </div>
      <div class="search-form" >
        <img src="http://imgh.us/magnifying-glass.svg" >
        <form action="{% url 'makam-results' %}">
          <input type="text" name="q" id="work-query" placeholder="Search for music" >
        </form>
        <a id="display-filters" href="#">
          <img src="http://imgh.us/gear_3.svg" >
        </a>
      </div>
    </div>
    <div class="modal-container">
      <div class="modal-background"></div>
      <div class="modal" >
        <div class="modal-title" >Advanced filtering</div>
        <div class="modal-close" >X</div>
        <div class="modal-nav" >
          <div class="modal-tab" >
            <a class="change-filter" href="/makam/filter/popup?performer=&form=&artist=&q=&makam=&usul=&elem=form">Musical form</a>
          </div>
          <div class="modal-tab" >
            <a class="change-filter" href="/makam/filter/popup?performer=&form=&artist=&q=&makam=&usul=&elem=usul">Usul</a>
          </div>
          <div class="modal-tab" >
            <a class="change-filter" href="/makam/filter/popup?performer=&form=&artist=&q=&makam=&usul=&elem=makam">Makam</a>
          </div>
          <div class="modal-tab" >
            <a class="change-filter" href="/makam/filter/popup?performer=&form=&artist=&q=&makam=&usul=&elem=artist">Lyricist/Composer</a>
          </div>
          <div class="modal-tab" >
            <a class="change-filter" href="/makam/filter/popup?performer=&form=&artist=&q=&makam=&usul=&elem=performer">Performer</a>
          </div>
        </div>
        <div class="modal-content">
        </div>
      </div>
    </div>
    <section class="examples-container">
      <header>Examples</header>
      <nav class="examples-carousel">
        <a class="left-arrow"></a>
        <div class="carousel-content">
          <ol class="carousel">
            <li class="example"><a href="/makam/recording/37dd6a6a-4c19-4a86-886a-882840d59518" ><dt>Pençgah Solo</dt><dd>Niyazi Sayın</dd></a></li>
            <li class="example"><a href="/makam/recording/dfc16e22-0aae-4bd0-a32c-5c000130e96a" ><dt>Sevdi Gönlüm Ey Melek Sima Seni</dt><dd>Hafız Kemal Bey</dd></a></li>
            <li class="example"><a href="/makam/recording/4948c836-5485-4a69-8bdc-11fe4559e78f" ><dt>Muhayyer Sazsemaisi</dt><dd>Necati Çelik</dd></a></li>
            <li class="example"><a href="/makam/recording/727cff89-392f-4d15-926d-63b2697d7f3f" ><dt>Gel Güzelim Çamlıca'ya </dt><dd>Münir Nurettin Selçuk</dd></a></li>
            <li class="example"><a href="/makam/recording/5c14ad3d-a97a-4e04-99b6-bf27f842f909" ><dt>Rast Peşrev (Mansur Ney)</dt><dd>Salih Bilgin</dd></a></li>
            <li class="example"><a href="/makam/recording/9c26ff74-8541-4282-8a6e-5ba9aa5cc8a1" ><dt>Sakın Geç Kalma</dt><dd>Müzeyyen Senar</dd></a></li>
            <li class="example"><a href="/makam/recording/e72db0ad-2ed9-467b-88ae-1f91edcd2c59" ><dt>Uşşâk Saz Semâîsi</dt><dd>Derya Türkan, Murat Aydemir</dd></a></li>
          </ol>
        </div>
        <a class="right-arrow"></a>
      </nav>
    </section>
    <nav class="tabs-container">
      <div class="tab-title" >
        <a href="/makam/overview" >Overview</a>
      </div>
      <div class="tab-title">
        <a href="/makam/stats" >Statistics</a>
      </div>
      <div class="tab-title">
        <a href="/makam/results-stats" >Results</a>
      </div>
    </nav>
  </div>
</div>

<div id="detail" class="hero-container">

</div>
{% endblock %}

