{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{instrument.name}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Instrument {{instrument.name}}</h1>

    <h3>Performers</h3>
    {% for a in instrument.artists %}
    <li>{% inline_artist a %}
    {% endfor %}

    <div class="clearfix"></div>
</div>
{% endblock %}

