{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{makam.name}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Makam {{makam.name}}</h1>

    <h3>Works</h3>
    {% for w in makam.worklist %}
    <li>{% inline_work w %}
    {% endfor %}

    {% if makam.taksimlist %}
    <h3>Taksim recordings</h3>
    {% for r in makam.taksimlist %}
    <li>{% inline_recording r %}
    {% endfor %}
    {% endif %}

    {% if makam.gazellist %}
    <h3>Gazel recordings</h3>
    {% for r in makam.gazellist %}
    <li>{% inline_recording r %}
    {% endfor %}
    {% endif %}

    <div class="clearfix"></div>
</div>
{% endblock %}

