{% extends "makam/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}
{% block title %}Makam index | {% endblock %}
{% block script %}
<style>

  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
#one-column-emphasis th
{
  font-size: 14px;
  font-weight: normal;
  padding: 12px 15px;
  color: #039;
}
#one-column-emphasis td
{
  padding: 10px 15px;
  color: #669;
  border-top: 1px solid #e8edff;
  width: 300px;
vertical-align: top;
}
.oce-first
{
  background: #d0dafd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
  color: #339;
  background: #eff2ff;
}
#one-column-emphasis
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin-left: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
}
#one-column-emphasis th
{
  font-size: 14px;
  font-weight: bold;
  padding: 12px 15px;
  color: #039;
}
#one-column-emphasis td a
{
  color: #669;
  text-decoration: none;
  display:block;
  height:100%;
  width:100%;
}
#disp-filters{
  padding-left: 42px;
 /* color: #339;*/
  margin-top: 5px;
}
.pagination{
margin: 10px 0 25px 42px;
font-size: 14px;
}
.step-links{
border-top: 1px black solid;
}
#right-display{
  position: fixed;
  top: 100px;
  right: 100px;
  border: 1px #ccc solid;
  padding: 13px;
  border-radius: 9px;
  background-color: #FFFFD1;
}
#right-display ul{
list-style-type: none;
}
#right-display a{
  text-decoration: none;
  color: #339;
}
td.recodings{
width: 400px;
}
a:hover{
  text-decoration: underline !important;
}
h2{
  margin: 30px 0 0 20px;
  color: #46433a;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#results{
margin-left: 30px;
}
#initial, #loading, #no-results{
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 15px;
  color: #46433a;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f9f6f5;
  border: 1px solid #ebe2df;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
}
#initial a{
  color: #46433a;
}
#next-page{
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
margin: 20px;
}
.filter {
  display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    color: #565a5c;
    min-height: 20px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0px;
}
.filter-sel{
    background-color: #edefed;
    border: 1px solid #dce0e0;
}
.remove-param{
    margin-right: 5px;
    font-weight: bold;
}
.filter a{
    text-decoration: none;
    color: #039;
}
.table-front{
    display: inline-block;
    margin: 10px 56px;
    border: 1px solid #ddd;
  vertical-align:top;
}

.table-front th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-front td {
    padding: 15px;
    text-align: left;
}
.table-front tr:nth-child(even) {background-color: #f2f2f2}
.bold-text{
    font-weight: bold;
}
</style>
<script src="{% static 'makam/js/works.js' %}"></script>
<script>
$( document ).ready(function() {
  // WHEN CLICK SHOW THE RECORDINGS FOR A WORK
  $('#one-column-emphasis').on('click','div.recordings', function() {
   var work=$(this);
   $.ajax({
    method: "GET",
    url: "/api/makam/work/" +$(this).attr('data-id'),
    dataType: "json",
    }).done(function(data) {
     $('.recordings').each(function(){$(this).html('<a href="#"">Show</a>')});;
     work.html('<ul></ul>');
     for(var i=0; i<data['recordings'].length; i++){
       var art=data['recordings'][i]['artists'];
       var artists="";
       for(var j=0;j<art.length;j++){
         artists += " "+art[j]['name'];
       }
       work.parent().find('ul').append('<li><a href="/makam/recording/'+data['recordings'][i]['mbid'] +'">'+data['recordings'][i]['title'] + ' ('+ artists +')</li>');
     }
    });

  });
$(function() {
    $( "#combo-artist" ).combobox();
      $( "#toggle" ).click(function() {
          $( "#combo-artist" ).toggle();
     });
  });

$("#filterdialog").dialog({
  autoOpen: false,
  minWidth: 700,
  position: {
    my: "center",
    at: "center top"
  }
});
$(".change-filter").click(function() {
    var url = $(this).attr('href');
    $.ajax(url, {dataType: "html", type: "GET",
      success: function(data, textStatus, xhr) {
        $("#filterdialog").html(data);
        $("#filterdialog").dialog("open");
      }, error: function(xhr, textStatus, errorThrown) {
      console.debug("xhr error " + textStatus);
      console.debug(errorThrown);

      }});

  return false;
});


});
</script>
{% endblock%}
{%block extra-search%}
<form method="get" action=".">
    <label for="query">Work name</label>
    <input type="text" name="q" id="work-query" value="{% if q %}{{q}}{% endif %}"/>
    <input type="hidden" name="usul" value="{% if usul %}{{usul.id}}{% endif %}"/>
    <input type="hidden" name="makam" value="{% if makam %}{{makam.id}}{% endif %}"/>
    <input type="hidden" name="form" value="{% if form %}{{form.id}}{% endif %}"/>
    <input type="hidden" name="artist" value="{% if artist %}{{artist.id}}{% endif %}"/>
</form>
{% endblock%}

{% block wrap %}
<div id="detail"   style="min-height: 850px;">

    <div id="initial">


       <h1>Application Overview </h1>
<p>
Dunya-makam stores and processes musical data such as audio recordings, music scores and relevant metadata. In the background it performs various music analysis tasks and in the front-end it shows musically relevant representations computed automatically from the data. From the visual interface the user can play the audio recordings while visualizing different representations of the analysis obtained from the data. The most important analysis performed results in the synchronization between the audio recordings and the corresponding musical scores, thus resulting in a visualization of this synchronization.

</p>

       <span style="font-weight: 400;">We currently demonstrate the implementations of these methodologies proposed for the computational analysis of Turkish makam music:</span>
<ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Score section extraction [<a href="https://github.com/sertansenturk/symbtrdataextractor" target="_blank">Code</a>] </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Audio predominant melody extraction [1], [<a href="https://github.com/sertansenturk/predominantmelodymakam" target="_blank">Code</a>] </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Audio pitch distribution extraction [2], [<a href="https://github.com/sertansenturk/alignednotemodel" target="_blank">Code</a>] </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Score informed tonic identification [3]</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Score informed tempo estimation [4]</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Section-level audio-score alignment [5]</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Note-level audio-score alignment [6]</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Score-informed predominant melody correction [<a href="https://github.com/sertansenturk/alignedpitchfilter" target="_blank">Code</a>] </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Audio seyir modeling [7], [<a href="https://github.com/sertansenturk/seyiranalyzer" target="_blank">Code</a>] </span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Score-informed note modeling [<a href="https://github.com/sertansenturk/alignednotemodel" target="_blank">Code</a>] </span></li>
</ul>
<h4>References</h4>

<ol>
  <li>
    <span style="font-weight: 400;">Atlı, H. S., Uyar, B., Şentürk, S., Bozkurt, B., and Serra, X. (2014). <a href="http://mtg.upf.edu/node/3121"><strong>Audio feature extraction for exploring Turkish makam music.</strong></a> In Proceedings of 3rd International Conference on Audio Technologies for Music and Media, pages 142–153, Ankara, Turkey.</span></li>
  </li><br />
<li>

  <span style="font-weight: 400;">Bozkurt, B (2008). <a href="http://www.tandfonline.com/doi/abs/10.1080/09298210802259520"><strong>An Automatic Pitch Analysis Method for Turkish Maqam Music.</strong></a> Journal of New Music Research, 37:1, 1-13</span>
</li><br />

<li>

  <span style="font-weight: 400;">Şentürk, S., Gulati, S., and Serra, X. (2013). <a href="http://mtg.upf.edu/node/2794"><strong>Score informed tonic identification for makam music of Turkey.</strong></a> In Proceedings of 14th International Society for Music Information Retrieval Conference, pages 175–180, Curitiba, Brazil.</span>
</li><br />

<li>

  <span style="font-weight: 400;">Holzapfel, A., Şimşekli U., Şentürk S., and Cemgil A. T. (2015). <a href="http://mtg.upf.edu/node/3202"><strong>Section-level Modeling of Musical Audio for Linking Performances to Scores in Turkish Makam Music.</strong></a> In Proceedings of IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), pages 141–145, Brisbane, Australia.</span>
</li><br />

<li>

  <span style="font-weight: 400;">Şentürk, S., Holzapfel, A., and Serra, X. (2014). <a href="http://mtg.upf.edu/node/2877"><strong>Linking scores and audio recordings in makam music of Turkey.</strong></a> Journal of New Music Research, 43:34–52.</span>
</li><br />

<li>

  <span style="font-weight: 400;">Şentürk, S., Gulati, S., and Serra, X. (2014). <a href="http://mtg.upf.edu/node/2967"><strong>Towards alignment of score and audio recordings of Ottoman-Turkish makam music.</strong></a> In Proceedings of 4th International Workshop on Folk Music Analysis, pages 57–60, Istanbul, Turkey.</span>
</li><br />

<li>

  <span style="font-weight: 400;">B. Bozkurt (2015). <a href="http://compmusic.upf.edu/system/files/static_files/Bozkurt_SeyirAnalysis_BookChapter_2015.pdf"><strong>Computational analysis of overall melodic progression for Turkish Makam Music.</strong></a> In Penser l’improvisation, pages 289–298, Delatour France, Sampzon.</span>
</li><br />

<li>

  <span style="font-weight: 400;">M. Kemal Karaosmanoğlu. <a href="http://compmusic.upf.edu/system/files/static_files/KemalKaraosmanoglu_Ismir2012.pdf"><strong>A Turkish makam music symbolic database for music information retrieval: SymbTr.</strong></a> In Proceedings of 13th International Society for Music Information Retrieval Conference (ISMIR), pages 223–228, 2012.</span>
</li><br />

<li>

  <span style="font-weight: 400;">Uyar, B., Atlı, H. S., Şentürk, S., Bozkurt, B., and Serra, X. (2014). <a href="http://mtg.upf.edu/node/3030"><strong>A corpus for computational research of Turkish makam music.</strong></a> In Proceedings of 1st International Digital Libraries for Musicology Workshop, pages 57–63, London, United Kingdom.</span>
</li>
</ol>
    </div>
    <div class="clearfix"></div>
</div>
<div id="filterdialog" title="Filter">
</div>
{% endblock %}

