{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{recording.title}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Recording {{recording.title}}</h1>

    <h3>From release:</h3>
    x by y

    <h3>Works</h3>

    <h4>Additional items</h4>


    <h3>Musicians</h3>
    {% for ip in recording.instrumentperformance_set.all %}
    {% inline_artist ip.performer %} playing {% inline_instrument ip.instrument %}<br>
    {% endfor %}

    <div class="clearfix"></div>
</div>
{% endblock %}

