{% extends "carnatic/base.html" %}
{% load staticfiles %}
{% load makam.inline %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{release.title}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Release {{release.title}}</h1>

    <h3>External</h3>
    Musicbrainz: <a href="http://musicbrainz.org/release/{{release.mbid}}">http://musicbrainz.org/release/{{release.mbid}}</a>

    <h3>Tracks:</h3>
    <ul>
    {% for r in release.tracklist %}
    <li>{% inline_recording r %}</li>
    {% endfor %}
    </ul>


    <h3>Participating musicans</h3>
    <ul>
        {% for a, i in performers %}
        <li>{% inline_artist a %} ({% inline_instrument i %})</li>
        {% endfor %}
    </ul>

    <div class="clearfix"></div>
</div>
{% endblock %}

