{% extends "dunya/base.html" %}
{% load staticfiles %}

{% block title %}Makam statistics | {% endblock %}

{% block wrap %}
<div class="centering">

    <h2> CompMusic Turkish makam music corpus</h2>

    <p>To develop methodologies for the automatic analysis, discovery and exploration of the culture-specific characteristics of a music tradition, we need music collections, which are representative of the studied aspects of that music. For Turkish makam music, there are various resources available such as audio recordings, music scores, lyrics and editorial metadata. However, most of these resources are not typically suited for computational analysis, are hard to access, do not have sufficient quality or do not include adequate descriptive information.</p>

    <p>To satisfy this need of representative music collections suitable for computational research, we have created a corpus of Turkish makam music. The primary considerations during the creation of this corpus reflect some criteria, namely, purpose, coverage, completeness, quality and reusability.</p>

    <p>The CompMusic Turkish-makam corpus consists of around <strong>6500 audio recordings</strong>, adding up to 412 hours of playback duration; <a href="https://github.com/MTG/SymbTr"><strong>2200 music scores</strong></a> with lyrics encompassing 883,803 notes, 21536 sections and 100 hours of nominal playback duration; and <strong>13500 instances of editorial metadata</strong> in <a href="http://musicbrainz.org">Musicbrainz</a> related to the classical and folk repertoires of Turkish makam music. These statistics make the corpus the biggest corpus of Turkish makam music intended for computational research.</p>

    <img style="margin-left: 184px;width: 432px;" src="{% static 'makam/img/metadata.png'%}"/>
    <p style="font-style: italic; font-size: 13px; text-align: center;">The basic statistics of the CompMusic Turkish makam music corpus. <br />

    <p>We have compiled several test datasets from the corpus, providing a ground truth for specific computational tasks:</p>

    <p>
        <ul>
        <li><a href="https://github.com/MTG/turkish_makam_tonic_dataset">Tonic Identification dataset</a></li>
        <li><a href="https://github.com/MTG/makam-symbolic-phrase-segmentation-dataset">Symbolic phrase segmentation dataset</a></li>
        <li><a href="https://github.com/MTG/turkish_makam_partial_alignment_dataset">Partial audio alignment dataset</a></li>
        <li><a href="https://github.com/MTG/turkish_makam_section_dataset">Section dataset</a></li>
        <li><a href="https://github.com/MTG/turkish_makam_audio_score_alignment_dataset">Audio-score alignment dataset</a></li>
        <li><a href="https://github.com/MTG/turkish_makam_recognition_dataset">Makam recognition dataset</a></li>
        <li><a href="https://github.com/georgid/turkish-makam-lyrics-2-audio-test-data">Audio-lyrics alignment dataset</a></li>
        </ul>
    </p>

    <p>We have also started using the corpus to generate a knowledge base for a domain ontology describing Turkish makam music. We hope that this research corpus will facilitate academic studies in several fields such as music information retrieval and computational musicology.</p>

References
    <p>[1] Uyar, B., Atlı, H. S., Şentürk, S., Bozkurt, B., and Serra, X. (2014). <a href="http://mtg.upf.edu/node/3030">A corpus for computational research of Turkish makam music</a>. In Proceedings of 1st International Digital Libraries for Musicology Workshop, pages 57–63, London, United Kingdom.</p>

</div>
{% endblock %}

