{% extends "carnatic/base.html" %}
{% load staticfiles %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{work.title}} - {% endblock %}

{% block wrap %}
<div id="detail">
    <h1>Work {{work.title}}</h1>

    <h3>Composer</h3>
    <h3>Lyricist</h3>
    <h3>Makam</h3>
    <h3>Form</h3>
    <h3>Usul</h3>
    <h3>Recordings</h3>

    <div class="clearfix"></div>
</div>
{% endblock %}

