{% extends "makam/base.html" %}
{% block script %}

<style>
a[highlight-segm='1']>path{
    background-color: yellow;
    color: red;
    margin: 10px;
    box-shadow: 0 0 20px yellow;
}

</style>
<script>
var scoreurl = "{{scoreurl|safe}}";
var indexmapurl = "{{indexmapurl|safe}}";
var phraseurl = "{{phraseurl}}";

$.ajax(phraseurl, {dataType: "json", type: "GET",
    success: function(data, textStatus, xhr) {
        phrase = data[0]['boundary_noteIdx'];
        //console.log("Phrases: " + phrase.length);
        aligns = []; 
        $.ajax(indexmapurl, {dataType: "json", type: "GET",
              success: function(data, textStatus, xhr) {
                indexmap = data; 
                      
                for(var i=0; i<indexmap.length;i++){
                  aligns.push({'index':indexmap[i][0], "pos": indexmap[i][1], "line": indexmap[i][2]});
                }
        
                for(var i=0; i<10;i++){
                  score = scoreurl.replace(/part=[0-9]+/, "part="+i);
                  $.ajax(score, {dataType: "text", type: "GET", context:{"i":i},
                      success: function(data, textStatus, xhr) {
                          $("#score-"+this.i).prepend(data);
                            found = 0;
                          for (var p in phrase){
                            for(var j=0; j<aligns.length;j++){
                              if (aligns[j]['index'] == phrase[p][0]){
                                found++;
                                highlightPhraseSegm(j);
                                break;
                              }
                            }
                            
                          }
                          console.log("FOUND: "+found);
                       }
                  });
                }
              }
        });
      }
});
function highlightPhraseSegm(j){
  $("#score").find("a[id^=l" + aligns[j]['line'] + "-f]").each( function(){
    note = $(this);
    if(parseInt(note.attr('from')) <= aligns[j]['pos'] && parseInt(note.attr('to')) > aligns[j]['pos']){
      note.attr('highlight-segm','1');
    }
  });
}

</script>
{% endblock %}
{% block wrap %}
{{work.title}}
<div id="score">
  <div id="score-1"></div>
  <div id="score-2"></div>
  <div id="score-3"></div>
  <div id="score-4"></div>
  <div id="score-5"></div>
  <div id="score-6"></div>
</div>

{% endblock %}
