{% extends "hindustani/base.html" %}
{% load hindustaniinline %}
{% load hindustanibadges %}
{% load staticfiles %}

{% block script %}
<script>
var qartist = {{qartist}};
var qinstr = {{qinstr}};
var qraag = {{qraag}};
var qtaal = {{qtaal}};
var qrelease = {{qrelease}};
$(document).ready(function() {
    parseAllFilters({{ filter_items|safe }});

    // If we made a query, re-fill out the search
    if (qartist.length) {
        toggleCategory($("div#entitiesList .artist"), function() {
            var thelist = $("div.entity_1 div.filterList ul li");
            for (var i = 0; i < thelist.length; i++) {
                var theitem = $(thelist[i]);
                if (qartist.indexOf(theitem.data("id")) !== -1) {
                    theitem.toggleClass("selected");
                    getResults2(theitem, "eid1");
                }
            }
            for (var i = 0; i < thelist.length; i++) {
                var theitem = thelist[i];
                if ($(theitem).hasClass("selected")) {
                    theitem.offsetParent.scrollTop=theitem.offsetTop;
                }
            }
        });
        // Show artist bubble (minimised)
    }
    if (qrelease.length) {
        toggleCategory($("div#entitiesList .release"), function() {
            var thelist = $("div.entity_2 div.filterList ul li");
            for (var i = 0; i < thelist.length; i++) {
                var theitem = $(thelist[i]);
                if (qrelease.indexOf(theitem.data("id")) !== -1) {
                    theitem.toggleClass("selected");
                    getResults2(theitem, "eid2");
                }
            }
            for (var i = 0; i < thelist.length; i++) {
                var theitem = thelist[i];
                if ($(theitem).hasClass("selected")) {
                    theitem.offsetParent.scrollTop=theitem.offsetTop;
                }
            }
        });
    }
    if (qinstr.length) {
        toggleCategory($("div#entitiesList .instrument"), function() {
            var thelist = $("div.entity_3 div.filterList ul li");
            for (var i = 0; i < thelist.length; i++) {
                var theitem = $(thelist[i]);
                if (qinstr.indexOf(theitem.data("id")) !== -1) {
                    theitem.toggleClass("selected");
                    getResults2(theitem, "eid3");
                }
            }
            for (var i = 0; i < thelist.length; i++) {
                var theitem = thelist[i];
                if ($(theitem).hasClass("selected")) {
                    theitem.offsetParent.scrollTop=theitem.offsetTop;
                }
            }
        });
    }
    if (qraag.length) {
        toggleCategory($("div#entitiesList .raag"), function() {
            var thelist = $("div.entity_4 div.filterList ul li");
            for (var i = 0; i < thelist.length; i++) {
                var theitem = $(thelist[i]);
                if (qraag.indexOf(theitem.data("id")) !== -1) {
                    theitem.toggleClass("selected");
                    getResults2(theitem, "eid4");
                }
            }
            for (var i = 0; i < thelist.length; i++) {
                var theitem = thelist[i];
                if ($(theitem).hasClass("selected")) {
                    theitem.offsetParent.scrollTop=theitem.offsetTop;
                }
            }
        });
    }
    if (qtaal.length) {
        toggleCategory($("div#entitiesList .taal"), function() {
            var thelist = $("div.entity_5 div.filterList ul li");
            for (var i = 0; i < thelist.length; i++) {
                var theitem = $(thelist[i]);
                if (qtaal.indexOf(theitem.data("id")) !== -1) {
                    theitem.toggleClass("selected");
                    getResults2(theitem, "eid5");
                }
            }
            for (var i = 0; i < thelist.length; i++) {
                var theitem = thelist[i];
                if ($(theitem).hasClass("selected")) {
                    theitem.offsetParent.scrollTop=theitem.offsetTop;
                }
            }
        });
    }

    // TODO: Laya, form
});
</script>

<script src="{% static 'hindustani/js/browse.js' %}"></script>
{% endblock %}
{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/browse.less' %}" />
    {% if request.COOKIES.presentationMode == "on" %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/presentation.less' %}" />
    {% endif %}
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/browse.css' %}" />
    {% if request.COOKIES.presentationMode == "on" %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/presentation.css' %}" />
    {% endif %}
    {% endif %}
{% endblock %}

{% block title %}{% if querytext %}{{querytext}} - {% elif querybrowse %}Browsing - {% endif %}{% endblock %}

{% block wrap %}

<div class="main-container">

    <div id="filterMask">
        <div id="filterArea">

            <div id="entitiesList" class="filterList">
                <ul></ul>
            </div>

            <div id="breadcrumb">
            </div>

        </div>

     </div>

     <div id="tab">
         {% comment %} to make the search box pop up, don't need it yet{%endcomment%}
         <!--<div id="tabControl"></div>-->
    </div>

     <div id="resultsstats">
        <table>
            <tbody><tr>
                <td>
                    <div id="queryCont">
                            <span>Query</span>
                        <div id="query" class="shadow1">
                        </div>
                     </div>
                 </td>
                 <td class="artist" onClick="filterPackery('.artist');"><span>{{numartists}}</span> <b>Artist{{numartists|pluralize}}</b></td>
                 <td class="release" onClick="filterPackery('.release');"><span>{{numreleases}}</span> <b>Release{{numreleases|pluralize}}</b></td>
                 <td class="instrument" onClick="filterPackery('.instrument');"><span>{{numinstruments}}</span> <b>Instrument{{numinstruments|pluralize}}</b></td>
                 <td class="raag" onClick="filterPackery('.raag');"><span>{{numraags}}</span> <b>Raag{{numraags|pluralize}}</b></td>
                 <td class="taal" onClick="filterPackery('.taal');"><span>{{numtaals}}</span> <b>Taal{{numtaals|pluralize}}</b></td>
            </tr>
        </tbody></table>
     </div>
     {% if searcherror %}
        <h2 class="resultsTitle">Sorry, we are having trouble searching. Please try again.</h2>
     {% elif query %}
        <h2 class="resultsTitle">Query results:</h2>
     {% else %}
         <h2 class="resultsTitle">Some items from our collection:</h2>
     {% endif %}
     <div id="searchresults">
        {% for type, item in results %}
            {% if type == "release" %}
                {% badge_release item %}
            {% elif type == "artist" %}
                {% badge_artist item %}
            {% elif type == "instrument" %}
                {% badge_instrument item %}
            {% elif type == "raag" %}
                {% badge_raag item %}
            {% elif type == "taal" %}
                {% badge_taal item %}
            {% elif type == "laya" %}
                {% badge_laya item %}
            {% elif type == "form" %}
                {% badge_form item %}
            {% endif %}
        {% endfor %}
     </div>
    </div>

{% endblock %}
