{% extends "hindustani/base.html" %}
{% load hindustaniinline %}
{% load hindustanibadges %}
{% load staticfiles %}

{% block extra_css %}
    {% if debug %}
    {% load less %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/pages.less' %}" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{% less 'carnatic/css/recording.less' %}" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/recording.css' %}" />
    {% endif %}
{% endblock %}

{% block title %}{{recording.title}} - {% endblock %}

{% block script %}
<script>
    var pitchtrackurl = "{{pitchtrackurl|safe}}";
    var histogramurl = "{{histogramurl|safe}}";
    var rhythmurl = "{{rhythmurl|safe}}";
    var aksharaurl = {% if aksharaurl %}"{{aksharaurl|safe}}"{%else%}null{%endif%};
    var waveformurl = "{{waveform|safe}}";
    var specurl = "{{spectrogram|safe}}";
    var secondsPerView = 32;
    var pitchtrackdata = null;
    var histogramdata = null;
    var rhythmdata = null;
    var aksharadata = null;
    var audiourl = "{{audio|safe}}";
    var recordinglengthfmt = "{{recording.length_format}}";
    var recordinglengthseconds = "{{recording.length_seconds}}";

    {% if user.is_authenticated %}
    function playrecord(){
        if(plButton.hasClass("stop")){
            pause();
            plButton.removeClass("stop");
        }else{
            play();
            plButton.addClass("stop");
        }
    }
    {% else %}
    function playrecord(){
        $( "#playback_dialog" ).dialog( "open" );
    }
    {% endif %}

    widthOfChildren('.metaContainer');

</script>
<script src="{% static 'carnatic/js/recording.js' %}"></script>
{% endblock %}

{% block wrap %}

<div id="detail" class="recording">
     	<div id="header">
     	   <div id="scrollrec">
         <div id="summary">
     			<div id="innerSummary">
	     			<span>
		     			<h1>{{recording.title}}</h1>
		     			<h2> by {% inline_artist_list recording.release_set.get.artistnames %}</h2>
	     			</span>
     			</div>
     			<div id="summaryBack"></div>
     		</div>
         <div id="meta">
	     		<div class="metaBlock">
					<div class="metaMask">
				 		<div class="metaContainer">
							<div id="excerpt" class="metaDetails recordingDetails">
								<span class="list">
                                    {% if recording.release_set %}
									<label>From album</label><b>{% inline_release recording.release_set.get %}</b>
                                    {% endif %}
                                    {% if recording.works %}
									<label>Performing</label><b>{% inline_work_list recording.works.all %}</b>
                                    {% endif %}

									{% if tonic %}
                                    <label>Tonic</label><b>{{tonicname}} ({{tonic}} Hz)</b>
									{% endif %}
									{% if akshara %}
                                    <label>Mātrā period</label><b>{{akshara}} ms </b>
									{% endif %}

                               {% if recording.raags.exists %}
                               <label>Raag:</label>
                                 {% for raag in recording.raags.all %}
                                 <b>{% inline_raag raag %}</b>{% if not forloop.last %}, {% endif %}
                                 {% endfor %}
                               {% endif %}

                               {% if recording.forms.exists %}
                               <label>Form:</label><b>
                                 {% for form in recording.forms.all %}
                                     {% inline_form form %}
                                 {% endfor %}
                             </b>
                               {% endif %}

                                {% if recording.taals.exists %}
									<label>Taal</label><b>
										{% for t in recording.taals.all %}
										    {% inline_taal t %}
		    							{% endfor %}
		    						</b>
									{% endif %}

									{% if recording.layas.exists %}
									<label>Laya</label><b>
					     				{% for r in recording.layas.all %}
											{% inline_raag r %}
		    							{% endfor %}
									</b>
									{% endif %}

								</span>
							</div>
				 		</div>
					</div>
	     		</div>
     		</div>
     	   </div>
         <div id="totalcontrol">
          <div id="control">
              {% if prevrecording %}
                  <a href="{{prevrecording.get_absolute_url}}"><div class="revButton active"></div></a>
              {% else %}
                  <div class="revButton"></div>
              {% endif %}
              <div class="plButton" onclick="playrecord();"></div>
              {% if nextrecording %}
                  <a href="{{nextrecording.get_absolute_url}}"><div class="folButton active"></div></a>
              {% else %}
                  <div class="folButton"></div>
              {% endif %}
          </div>
         </div>
         <div class="graph">
             <canvas id="histogramcanvas" style="height:256px; width:200px;"></canvas>
         </div>
	     	<div class="clearfix"></div>
     	</div><!-- HEADER END -->

	 	<div class="alldata">
	 	    <div class="container">
	     	<div class="thedata">
	     		<div id="rendersMask">
	     			<div id="renders">
	     				<div id="capcal"></div>
		     			<div id="bigWave">
                            <canvas id="rhythmcanvas" style="width:900px; height:256px;"></canvas>
                            <!--<img src="{{waveform}}">-->
		     			   <div id="zooms">
                  <a class="zoom zoom1 selected" data-length="32" href="#">x1</a>
                  <a class="zoom zoom2" data-length="16" href="#">x2</a>
                  <a class="zoom zoom3" data-length="8" href="#">x3</a>
                  <a class="zoom zoom4" data-length="4" href="#">x4</a>
                </div>
              </div>
		     			<div id="renderTotal">
		     			   <div id="capcalTotal"></div>
		     			   <div id="timepoint"></div>
		     			   <div id="miniviewHighlight"></div>
                           <img src="{{smallimage}}">
              </div>
		     			<div id="bigPitch" style="height:286px;">
                            <canvas id="pitchcanvas" style="width:900px; height:256px;"></canvas>
                            <!--<img src="{{spectrogram}}">-->
		     			 <div id="zooms" style="bottom: 34px;">
                  <a class="zoom zoom1 selected" data-length="32" href="#">x1</a>
                  <a class="zoom zoom2" data-length="16" href="#">x2</a>
                  <a class="zoom zoom3" data-length="8" href="#">x3</a>
                  <a class="zoom zoom4" data-length="4" href="#">x4</a>
                </div>
                    <div id="timecodes">
                    <span class="timecode1"></span>
                    <span class="timecode2"></span>
                    <span class="timecode3"></span>
                    <span class="timecode4"></span>
                    <span class="timecode5"></span>
                </div>
		     			</div>
	     			</div>
	     		</div>
	     		<div class="container2">
	     		  <div class="waveLabel">
	     		    <h1>rhythm</h1>
                  {% if drawtempo %}
                  <span class="tempoup"></span>
                  <span class="tempodown"></span>
                  {% endif %}
	     		  </div>
	     		  <div id="totalcontrol2">
                      <div id="timecode">00:00<span>{{recording.length_format}}</span></div>

            </div>
            <div class="pitchLabel">
              <h1>melody</h1>
              <span class="sao">Ṡ</span>
              <span class="sa">S</span>
            </div>
	     		</div>
	     	</div>
	     	</div>
		 	<div class="clearfix"></div>
	 	</div>
	 	<div class="clearfix"></div>
</div>

{% endblock %}
