{% extends "carnatic/base.html" %}
{% load hindustani.inline %}
{% load hindustani.badges %}
{% load staticfiles %}

{% block script %}
<script>
$(document).ready(function() {
    widthOfChildren('.inforight');
    widthOfChildren('.tracklist');
	$(".inforight .desc .plus").click(function() {
		$(this).parent().parent().toggleClass("open");
        widthOfChildren('.inforight');
	});
	$( ".player" ).click(function() {
      $( "#playback_dialog" ).dialog( "open" );
    });
	$('.item .similarity div').click(function(){
        $('.item .similarity div').removeClass('active');
        theparent = $(this).parent();
        buscar = ".right ."+$(this).attr('class');
        theparent.parent().parent().find(".right .similarList").removeClass('active');
        theparent.parent().parent().find(buscar).addClass('active');
        theparent.parent().parent().find(".right").fadeIn('slow');
        $(this).addClass("active");
        widthOfChildren('.inforight');
    });
});
</script>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}

{% block title %}{{release.title}} - {% endblock %}

{% block wrap %}
             <div id="detail" class="concert">
                <div id="header">
                    <div id="summary">
                        <div id="innerSummary">
                            <span>
                                <h1>{{release.title}}</h1>
                                <h2>Release by {%inline_artist_list release.artistnames %}</h2>
                            </span>
                        </div>

                        <div id="summaryBack"></div>
                        {% if user.is_authenticated %}
                        <div id="previewicon" class="enabled">
                                <div class="ui360"><a href="{{sample.absolute_mp3_url}}">{{sample.title}}</a></div>
                        </div>
                        {% else %}
                        <div id="previewicon" class="disabled"></div>
                        {% endif %}
                    </div>
                    <div class="bigImage"><img src="{{release.get_image_url}}" /></div>
                    <div id="meta">
                        <div class="metaBlock">
                            <div class="metaMask">
                                <div class="metaContainer">
                                    <div  class="splitMeta">
                                        <div id="editorial" class="metaDetails">
                                            <h3>Editorial Metadata</h3>
                                            <div class="inner">
                                                <span class='list info'>
                                                    {% if release.year %}
                                            <span class="title">Year: </span>
                                            <span class="data">{{release.year}}</span>
                                            {% endif %}
                                            <span class="title">Length: </span>
                                            <span class="data">{{release.length}}</span>
                                            <span class="title">Data source: </span>
                                            <span class="data"><a href="{{release.get_musicbrainz_url}}">MusicBrainz</a></span>
                                        </span>
									</div>
								</div>
							</div>

			 			</div>
			 		</div>
			 	</div>
     		</div>

	     	<div class="clearfix"></div>

     	</div><!-- HEADER END -->
	 	<div class="alldata">
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>List of tracks</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
	                    <div class="tracklist">
                            {% for t in release.tracklist %}
                            {% badge_recording t %}
                            {% endfor %}
	                    </div>
	     			</div>
	     		</div>
	     	</div>

	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Artists</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
                        {% if release.performers %}
                        <div class="scrollblock inforight" style="height: 290px;">
	                    {% for artist in release.performers %}
	                        {% badge_performance release artist %}
	                    {% endfor %}
                        </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin: 10px;">Sorry, we have no information for this section yet.</span>
                        </div>
                        {% endif %}
		     			<div class="clearfix"></div>
	     			</div>
	     		</div>
	     	</div>
	     	<div class="thedata">
	     		<div class="leftdata">
		     		<h3>Similar releases</h3>
	     		</div>
	     		<div class="rightdata">
	     			<div class="innerrightdata scrolldata nopad">
                        {% if similar %}
	                    <div class="scrollblock inforight" style="height: 290px; width:3000px;">
                            {% for release, similarity in similar %}
                                {% badge_similar_release release similarity %}
                            {% endfor %}
	                    </div>
                        {% else %}
                        <div style="height: 290px;">
                            <span style="font-size: 14px; margin: 10px;">Sorry, we have no information for this section yet.</span>
                        </div>
                        {% endif %}
	     			</div>
	     		</div>
	     	</div>

		 	<div class="clearfix"></div>
	 	</div>
</div>

{% endblock %}
