@import "../../stylesheets/mixins";
@import "../../stylesheets/variables.json";

.Results__header {
  @include styled-section-header;
}

.Results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Results__fetch-errors {
  text-align: center;
  color: $orangeRegular;
  font-size: 1.4em;
}
