{% extends "dashboard/base.html" %}
{% block title %}New accounts{% endblock %}

{% block wrap %}
<div class="row mb-4">
    <div class="col">
        <h1 class="display-4">New accounts</h1>
        <p class="lead">These are new (inactive) accounts. If you approve an account the user will get sent an email telling them
        that their account has been activated. If you select Delete then the user will be deleted and
        no notification will be sent. For more detailed account management use <a href="/admin/auth/user" class="text-decoration-none">the django admin</a></p>
    </div>
</div>

<form method="post" class="mb-5">
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Affiliation</th>
                    <th>Approve?</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{user_formset.management_form.as_p}}
                {% for f in user_formset.forms %}
                    {{f.id.as_hidden}}
                    <tr>
                        <td>{{f.username}}</td>
                        <td>{{f.email}}</td>
                        <td>{{f.first_name}}</td>
                        <td>{{f.last_name}}</td>
                        <td>{{f.affiliation}}</td>
                        <td>{{f.is_active.as_widget}}</td>
                        <td>{{f.delete.as_widget}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="submit" name="submit" value="Approve accounts" class="btn btn-primary">Approve accounts</button>
</form>

<div class="row mb-4">
    <div class="col">
        <h1 class="display-4">Restricted data requests</h1>
        <p class="lead">These are users who have requested access to restricted datasets (commercial audio).
        You can approve or decline the request. The user will receive an email informing them of the decision</p>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Affiliation</th>
                    <th>Justification</th>
                    <th>Approve?</th>
                </tr>
            </thead>
            <tbody>
                {{access_formset.management_form.as_p}}
                {% for f in access_formset.forms %}
                    {{f.id.as_hidden}}
                    <tr>
                        <td>{{f.username}}</td>
                        <td>{{f.affiliation}}</td>
                        <td>{{f.justification}}</td>
                        <td>{{f.decision}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="submit" name="submit" value="Approve requests" class="btn btn-primary">Approve requests</button>
</form>
{% endblock %}

