{% extends "dashboard/base.html" %}
{% block title %}Add collection{% endblock %}

{% block wrap %}
<div class="row mb-4">
    <div class="col">
        <h2 class="display-5">Add new collection</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
