{% extends "dashboard/base.html" %}
{% block title %}Edit Artist{% endblock %}

{% block wrap %}
{% if resp_msg %}<div class="topbox"><li>{{ resp_msg }}</li></div>{% endif %}
<h1>Edit Artist {{ artist.name }} Description</h1>

<p><a href="{{artist.get_musicbrainz_url}}">Musicbrainz</a><br>
Once the description is edited, it won't be automatically updated on import.</p>

<form method="post" action="{% url entityurl artist.id%}">
{% csrf_token %}
<textarea rows="15" cols="150" name="description">{%if description%}{{description}}{%endif%}</textarea>
<input type="submit" name="submit" value="Send edits"/>
</form>


{% endblock %}
