{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google" value="notranslate">
    <title>{% block title %}{% endblock %} - Dunya</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
    {% block js %}
    {% endblock %}
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'dashboard-home' %}">
            Dunya</a>
        </div>
      </div>
    </div>
    <div class="container">
        {% block wrap %}
        {% endblock %}
    </div>
</body>
</html>
