{% extends "dashboard/base.html" %}
{% block title %}Edit Collections Access{% endblock %}

{% block wrap %}
<div class="row mb-4">
    <div class="col">
        <h1 class="display-4">Edit Collections Access</h1>
        <p class="lead">Select the Collection to change user groups access.</p>
    </div>
</div>

<div class="mb-4">
    <div class="btn-group" role="group" aria-label="Collection navigation">
        {% regroup collections by name|slice:":1" as letter_list %}
        {% for letter in letter_list %}
            <a href="#anchor-{{ letter.grouper }}" class="btn btn-outline-primary">{{ letter.grouper }}</a>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h2 class="h3 mb-4">Collections</h2>
    </div>
</div>

<div class="row">
    {% for letter in letter_list %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <a name="anchor-{{ letter.grouper }}"></a>
                    <h3 class="card-title h4">{{ letter.grouper }}</h3>
                    <ul class="list-unstyled">
                        {% for item in letter.list %}
                            <li class="mb-2">
                                <a href="{% url 'dashboard-access-collections-edit' item.collectionid %}" class="text-decoration-none">
                                    {{item.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
