{% extends "dashboard/base.html" %}
{% block title %}Directory {{directory.short_path}}{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">Directory
    <li><a href="{{directory.collection.get_absolute_url}}">{{directory.collection.name}}</a></li>
    <li>{{directory.short_path}}</li>
</ul>

<div class="topbox">
    <div class="topheader">Info</div>
    <li>Directory: {{directory.full_path}}
    {% if got_release_id %}
        <li>Musicbrainz release: <a href="http://musicbrainz.org/release/{{releaseid}}">{{releasename}}</a>
        {% if got_artist %} by <a href="http://musicbrainz.org/artist/{{artistid}}">{{artistname}}</a>{% endif %}
    {% else %}
        <li>This release doesn't have any Musicbrainz tags set.
    {% endif %}
    {% if matched_release %}
    <li>Matched to a release: <a href="{{matched_release.get_absolute_url}}">{{matched_release.title}}</a>
    {% endif %}

</div>

<div class="topbox">
    <div class="topheader">Actions</div>
    <li><a href="?rematch">Rematch directory to releases</a>
</div>

<table class="table">
    <tr><th>File</th></tr>
    {% for f in files %}
    <tr><td>{{f}}
    </td></tr>
    {% endfor %}
</table>

{% endblock %}
