{% extends "dashboard/base.html" %}
{% block title %}File {{file.name}}{% endblock %}

{% block wrap %}

<h2>
    <span class="breadcrumbs">File
        <li><a href="{{file.directory.collection.get_absolute_url}}">{{file.directory.collection.name}}</a></li>
        <li><a href="{{file.directory.musicbrainzrelease.get_absolute_url}}">{{file.directory.musicbrainzrelease.title}}</a></li>
        <li>{{file.name}}</li>
    </span>
</h2>

<div class="topbox">
    <div class="topheader">Current state</div>
    {{file.get_current_state.state_name}} ({{file.get_current_state.state_date|timesince}} ago)
</div>


<div class="topbox">
    <div class="topheader">File-specific checks</div>
<table>
    <tr><th>Checker</th><th>Status</th></tr>
    {% for r in results %}
    <tr><td>{{r.latest.checker.name}}</td><td>
            <img src="/static/dashboard/img/{{r.latest.get_result_icon}}" title="{{r.latest.get_result_display}}" /> ({{r.latest.datetime|timesince}} ago) </td></tr>
            {% if r.latest.checker.templatefile %}
    <tr><td colspan="2">
            {% with "dashboard/jobs/"|add:r.latest.checker.templatefile as template %}
            {% include template with data=r.latest.data_object only %}
            {% endwith %}
            {% endif %}
    </td></tr>
    {% if r.others %}
    <tr><td>there are more</td></tr>
    {% endif %}
    
    {% endfor %}
</table>
</div>

{% endblock %}
