{% extends "dashboard/base.html" %}

{% block wrap %}

<h1>Dunya Dashboard</h1>

<p> Add new collection
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% if collections %}
<table><tr><th>Collection</th><th>Current status</th><th>Last status at</th></tr>
    {% for c in collections %}
        <tr><td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
            <td>
                <span class="{{c.state_colour}}"></span>
                {{c.get_current_state.state_name}}
            </td>
            <td>
                {{c.get_current_state.state_date}}
        </td></tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
