{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block wrap %}

<h1>Dunya Dashboard</h1>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
{% endfor %}

<p><a href="{% url 'dashboard-addcollection' %}">Add collection</a>
{% if collections %}
<table class="table"><tr><th>Collection</th><th>Current status</th><th>Last status at</th></tr>
    {% for c in collections %}
        <tr><td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
            <td>
                <span class="{{c.state_colour}}"></span>
                {{c.get_current_state.state_name}}
            </td>
            <td>
                {{c.get_current_state.state_date}}
        </td></tr>
    {% endfor %}
</table>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <h2>User management</h2>
        <li><a href="{% url 'dashboard-accounts' %}">New accounts</a>
    </div>

    <div class="col-md-6">
        <h2>Essentia module management</h2>
        <li><a href="{% url 'docserver-manager' %}">Manager</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Carnatic</h2>
        <li><a href="{% url 'dashboard-carnatic-stats' %}">Statistics</a>

        <h3>Data management</h3>
        <li><a href="{% url 'dashboard-carnatic-raagas' %}">Raagas</a>
        <li><a href="{% url 'dashboard-carnatic-taalas' %}">Taalas</a>
        <li><a href="{% url 'dashboard-carnatic-instruments' %}">Instruments</a>
        <li><a href="{% url 'dashboard-carnatic-forms' %}">Forms</a>
        <li><a href="{% url 'dashboard-carnatic-artists' %}">Edit artist description</a>

        <h3>Reports</h3>
        <li><a href="{% url 'dashboard-carnatic-releases' %}">Release cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-coverart' %}">Release coverart cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-artists' %}">Artist cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-recordings' %}">Recording cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-raagataala' %}">Raaga/Taala cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-works' %}">Work cleanup</a>
        <li><a href="{% url 'dashboard-carnatic-workraagataala' %}">Works with many attributes</a>
        <li><a href="{% url 'dashboard-carnatic-thillanas' %}">Thillanas</a>

    </div>

    <div class="col-md-6">

        <h2>Hindustani</h2>
        <li><a href="{% url 'dashboard-hindustani-stats' %}">Statistics</a>

        <h3>Data management</h3>
        <li><a href="{% url 'dashboard-hindustani-raags' %}">Raags</a>
        <li><a href="{% url 'dashboard-hindustani-taals' %}">Taals</a>
        <li><a href="{% url 'dashboard-hindustani-layas' %}">Layas</a>
        <li><a href="{% url 'dashboard-hindustani-forms' %}">Forms</a>
        <li><a href="{% url 'dashboard-hindustani-instruments' %}">Instruments</a>
        <li><a href="{% url 'dashboard-hindustani-artists' %}">Edit artist description</a>

        <h3>Reports</h3>
        <li><a href="{% url 'dashboard-hindustani-releases' %}">Release cleanup</a>
        <li><a href="{% url 'dashboard-hindustani-coverart' %}">Release coverart cleanup</a>
        <li><a href="{% url 'dashboard-hindustani-artists' %}">Artist cleanup</a>
        <li><a href="{% url 'dashboard-hindustani-recordings' %}">Recording cleanup</a>
        <li><a href="{% url 'dashboard-hindustani-raagtaal' %}">Raag/Taal/Form/Laya cleanup</a>
        <li><a href="{% url 'dashboard-hindustani-works' %}">Work cleanup</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Makam</h2>
        <li><a href="{% url 'dashboard-makam-stats' %}">Statistics</a>

        <h3>Data management</h3>
        <li><a href="{% url 'dashboard-makam-makams' %}">Makams</a>
        <li><a href="{% url 'dashboard-makam-forms' %}">Forms</a>
        <li><a href="{% url 'dashboard-makam-usuls' %}">Usuls</a>
        <li><a href="{% url 'dashboard-makam-instruments' %}">Instruments</a>

        <h3>Reports</h3>
        <li><a href="{% url 'dashboard-makam-artists' %}">Artist cleanup</a>
        <li><a href="{% url 'dashboard-makam-recordings' %}">Recording cleanup</a>
        <li><a href="{% url 'dashboard-makam-tags' %}">Makam/Usul/Form tags</a>
        <li><a href="{% url 'dashboard-makam-works' %}">Work cleanup</a>
        <li><a href="{% url 'dashboard-makam-missing-instruments' %}">Instrument cleanup</a>
    </div>

    <div class="col-md-6">
        <h2>Other statistics</h2>
        <li><a href="{% url 'dashboard-beijing-stats' %}">Beijing</a>
        <li><a href="{% url 'dashboard-andalusian-stats' %}">Andalusian</a>
    </div>
</div>

{% endblock %}
