{% extends "dashboard/base.html" %}

{% block css %}
<style type="text/css">
    .aliasrm {
        display: none;
    }
    .add img {
        vertical-align: text-bottom;
    }
    table td {
        display: table-cell;
        vertical-align: top;
    }
</style>
{% endblock %}

{% block js %}
<script>
    {% if newraaga %}
    var newraaganame = "{{newraaga}}";
    {% else %}
    var newraaganame = undefined;
    {% endif %}
    $(document).ready(function() {
        $(".add img").click(function(e) {
            var li = $("<li>")
            var rid = $(this).parents("span.add").data("raaga");
            var existing = $("#raaga-"+rid+"-alias");
            // Can only add 1 alias at a time
            if (existing.length == 0) {
                var input = $("<input>", {type: "text", name: "raaga-"+rid+"-alias" , id: "raaga-"+rid+"-alias"});
                if (newraaganame) {
                    console.debug(input);
                    input.val(newraaganame);
                    $("#newraaga").val("")
                }
                var span = $("<span>");
                var rm = $("<img>", {src: "/static/dashboard/img/delete.png"});
                rm.on("click", function(e) {
                    $(this).parents("li").remove();
                });
                span.append(input);
                span.append(rm);
                li.append(span);
                $(this).parents("td").children(":first").append(li);
            }
            // TODO: Bind the new element to a remove event

        });
        $(".alias").hover(function(e) {
            $(this).children(".aliasrm").show();
            }, function(e) {
            $(this).children(".aliasrm").hide();
        });
        // When you click "delete" next to an alias
        $(".aliasrm a").click(function(e) {
            var aliasid = $(this).parents("span.alias").data("alias");
            console.debug("alias id "+ aliasid);
            // If we have a hidden input to remove this alias, then it's
            // been clicked again and we want to undo the 'todelete'
            var rm = $("#alias-rm-"+aliasid);
            if (rm.length > 0) {
                $(this).parents("span").css("text-decoration", "none");
                rm.remove();
                $(this).html("[delete]");
            } else {
                // Otherwise we want to delete it
                $(this).parents("span").css("text-decoration", "line-through");
                var rm = $("<input>", {type: "hidden", name: "alias-rm-"+aliasid, id: "alias-rm-"+aliasid, value: "1"});
                $("form").append(rm);
                $(this).html("[undelete]");
            }
            e.preventDefault();
        });
        // When you click a delete checkbox
        $(".delete-raaga").click(function(e) {
            if ($(this).is(":checked")) {
                $(this).parents("tr").css("background-color", "red");
            } else {
                $(this).parents("tr").css("background-color", "white");
            }
        });
    });
</script>
{% endblock %}

{% block wrap %}

<h2>Carnatic Raagas</h2>

{% if newraaga %}
<p>Adding new Raaga {{newraaga}}
{% endif %}

<form method="post" action="{% url 'dashboard-raagas' %}">
{% csrf_token %}
<table style="width:auto">
    <tr><th>Raaga</th><th>Aliases</th><th><img src="/static/dashboard/img/delete.png" /></th></tr>
    {% for r in raagas %}
    <tr><td>
            <div data-raaga="{{r.id}}">{{r.name}}</div>
        </td>
        <td>
            <ul>
                {% for a in r.aliases.all %}
                <li><span class="alias" data-alias="{{a.id}}">{{a.name}}
                    <span class="aliasrm"><a>[delete]</a></span>
                </span>
                {% endfor %}
            </ul>
            <span class="add" data-raaga="{{r.id}}">Add alias <img src="/static/dashboard/img/add.png"/></span>
        </td>
        <td>
            <span class="delete"><input type="checkbox" name="delete-raaga-{{r.id}}" class="delete-raaga"></span>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>Add Raaga<br>
            <input type="text" id="newraaga" name="newraaga" {% if newraaga %} value="{{newraaga}}"{% endif %}>
        </td><td></td><td></td>
    </tr>
</table>
<input type="submit" name="submit" value="Send edits"/>
</form>

{% endblock %}
