<tr {% if hide and not more %}class="tohide tohide{{hide}}"{% endif %}>
    <td>{{item.checker.name}}<br>
    {% if more and not item.checker.templatefile %}
    <a href="" data-tohide="{{pk}}" class="showhidden">Show older checks</a>
    {% endif %}
        </td><td>
            <img src="/static/dashboard/img/{{item.get_result_icon}}" title="{{item.get_result_display}}" /> ({{item.datetime|timesince}} ago) </td></tr>
            {% if item.checker.templatefile %}
    <tr {% if hide and not more %}class="tohide tohide{{hide}}"{% endif %}><td colspan="2">
            {% with "dashboard/jobs/"|add:item.checker.templatefile as template %}
            {% include template with data=item.data_object only %}
            {% endwith %}
    {% if more %}
    <p><a href="" data-tohide="{{pk}}" class="showhidden">Show older checks</a>
    {% endif %}
            {% endif %}
    </td></tr>

