{% extends "dashboard/base.html" %}
{% block title %}Release {{release.title}}{% endblock %}

{% block wrap %}

<h2>
    <span class="breadcrumbs">Release
        <li><a href="{{release.collection.get_absolute_url}}">{{release.collection.name}}</a></li>
        <li>{{release.title}}</li>
    </span>
</h2>

<div class="topbox">
    <div class="topheader">Info</div>
    <li>Directory: 
    {% for d in release.collectiondirectory_set.all %}
    {{d.full_path}}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% if release.mbid %}
    <li><a href="http://musicbrainz.org/release/{{release.mbid}}">View release on Musicbrainz</a>
    {% endif %}
</div>

<div class="topbox">
    <div class="topheader">Actions</div>
    <li><a href="?reimport">Reimport release</a>
</div>

<div class="topbox">
    <div class="topheader">Current state</div>
    {{release.get_current_state.state_name}} ({{release.get_current_state.state_date|timesince}} ago)
    {% if release.has_previous_state %}
    <div id="morestate">
        <span id="statehandle"><a href="">Show old states</a></span>
            <div id="statebox">
                {% for s in release.get_previous_states %}
                <li>{{s.state_name}} ({{s.state_date|timesince}} ago)
                {% endfor %}
            </div>
    </div>
    {% endif %}
</div>

<table><tr><th>File</th><th>Recording ID</th><th>Status</th></tr>
    {% for d in files %}
    <tr><th colspan="3">{{d.path}}</th><th></th></tr>
    {% for f in d.get_file_list %}
    <tr>
        <td><a href="{{f.get_absolute_url}}">{{f.name}}</a></td>
        <td>{% if f.recordingid %}
            <a href="http://musicbrainz.org/recording/{{f.recordingid}}">{{f.recordingid}}</a>
        {% endif %}</td>     
    <td>
        {% with s=f.get_current_state %}
        {{s.state_name}} ({{s.state_date|timesince}} ago)
        {% endwith %}
    </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

<div class="topbox">
    <div class="topheader">Release-specific checks</div>
<table>
    <tr><th>Checker</th><th>Status</th></tr>
    {% for r in results %}
    {% include "dashboard/release_check_stub.html" with item=r.latest more=r.others hide=False only %}
    {% if r.others %}
        {% for item in r.others %}
        {% include "dashboard/release_check_stub.html" with item=item more=False hide=r.latest.pk only %}
        {% endfor %}
    {% endif %}
    
    {% endfor %}
</table>
</div>

{% include "dashboard/log.html" with logs=log_messages %}

{% endblock %}

