{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% comment %}
This template is generic to allow editing of raagas, taalas, and instruments
{% endcomment %}

{% block css %}
<style type="text/css">
    .aliasrm {
        display: none;
    }
    .add img {
        vertical-align: text-bottom;
    }
</style>
{% endblock %}

{% block js %}
<script>
    {% if newname %}
    var newname = "{{newname}}";
    {% else %}
    var newname = undefined;
    {% endif %}

    $(document).ready(function() {
        $(".add img").click(function(e) {
            var li = $("<li>")
            var rid = $(this).parents("span.add").data("itemid");
            var existing = $("#item-"+rid+"-alias");
            // Can only add 1 alias at a time
            if (existing.length == 0) {
                var input = $("<input>",
                    {type: "text",
                        name: "item-"+rid+"-alias",
                        id: "item-"+rid+"-alias",
                        class: "form-control"
                    });
                if (newname) {
                    input.val(newname);
                    $("#newitem").val("")
                }
                var span = $("<span>");
                var rm = $("<img>", {src: "{% static 'dashboard/img/delete.png' %}"});
                rm.on("click", function(e) {
                    var li = $(this).parents("li");
                    li.slideUp(function(e) {
                        $(this).remove();
                    });
                });
                span.append(input);
                span.append(rm);
                li.append(span);
                li.hide();
                $(this).parents("td").children(":first").append(li);
                li.slideDown();
            }
        });

        $(".alias").hover(function(e) {
            $(this).children(".aliasrm").show();
            }, function(e) {
            $(this).children(".aliasrm").hide();
        });

        // When you click "delete" next to an alias
        $(".aliasrm a").click(function(e) {
            var aliasid = $(this).parents("span.alias").data("alias");
            // If we have a hidden input to remove this alias, then it's
            // been clicked again and we want to undo the 'todelete'
            var rm = $("#alias-rm-"+aliasid);
            if (rm.length > 0) {
                $(this).parents("span").css("text-decoration", "none");
                rm.remove();
                $(this).html("[delete]");
            } else {
                // Otherwise we want to delete it
                $(this).parents("span").css("text-decoration", "line-through");
                var rm = $("<input>", {type: "hidden", name: "alias-rm-"+aliasid, id: "alias-rm-"+aliasid, value: "1"});
                $("form").append(rm);
                $(this).html("[undelete]");
            }
            e.preventDefault();
        });

        // When you click a delete checkbox
        $(".delete-item").click(function(e) {
            if ($(this).is(":checked")) {
                $(this).parents("tr").addClass("table-danger");
            } else {
                $(this).parents("tr").removeClass("table-danger");
            }
        });
    });
</script>
{% endblock %}

{% block wrap %}
<div class="row mb-4">
    <div class="col">
        <h2 class="display-5">{{style}} {{entitynpl}}</h2>
        {% if newname %}
        <p class="lead">Adding new {{entityn}}: {{newname}}</p>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form method="post" action="{% url entityurl %}">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{entityn}}</th>
                            {% if common_name %}<th>Common name</th>{% endif %}
                            {% if alias %}<th>Aliases</th>{% endif %}
                            <th><img src="{% static 'dashboard/img/delete.png' %}" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in items %}
                        <tr>
                            <td>
                                <div data-itemid="{{r.id}}">{{r.name}}</div>
                            </td>
                            {% if common_name %}
                            <td>{{r.common_name}}</td>
                            {% endif %}
                            {% if alias %}
                            <td>
                                <ul class="list-unstyled mb-2">
                                    {% for a in r.aliases.all %}
                                    <li>
                                        <span class="alias" data-alias="{{a.id}}">
                                            {{a.name}}
                                            <span class="aliasrm"><a href="#" class="text-danger">[delete]</a></span>
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <span class="add" data-itemid="{{r.id}}">
                                    Add alias <img src="{% static 'dashboard/img/add.png' %}" class="ms-1"/>
                                </span>
                            </td>
                            {% endif %}
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" name="delete-item-{{r.id}}" class="form-check-input delete-item">
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Add {{entityn}}</label>
                                    <input type="text" id="newname" name="newname" class="form-control" {% if newname %} value="{{newname}}"{% endif %}>
                                </div>
                            </td>
                            {% if common_name %}
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Common name</label>
                                    <input type="text" id="newcommon" name="newcommon" class="form-control" {% if newcommon %}value="{{newcommon}}"{% endif %}>
                                </div>
                            </td>
                            {% endif %}
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Send edits</button>
        </form>
    </div>
</div>
{% endblock %}
