@import "../../stylesheets/variables";
@import "../../stylesheets/mixins";

.RefineSeach {
  overflow-y: auto;
  margin: 0 #{-$sidebarHorizontalPadding};
}

.RefineSearch__category-name-header {
  @include styled-section-header;
  padding: 0 $sidebarHorizontalPadding;
  margin-bottom: 6px;
}

.RefineSearch__categories-list {
  list-style: none;
  padding-left: 0;
}
