{% load carnatic.inline %}
  <div class="concert item">
        <div class="disc pict">
            <a href="{{concert.get_absolute_url}}"><img src="{{concert.get_image_url}}"></a>
    </div>
    {% comment %} TODO: Show track listing {% endcomment %}
        <div class="desc">
            {% inline_concert concert 1 %}
        <p>{% inline_artist_list concert.artists.all %}</p>
        {% if concert.year %}<p>{{concert.year}}</p>{% endif %}
    </div>

        <div class="lists similar">
            <div  class="left">

            </div>
            <div class="right">
            </div>
        </div>
      </div>

