{% load staticfiles %}
{% load carnatic.inline %}
{% load carnatic.badges %}

<div class="work item">
  <div class="disc pict">
    <a href="{{work.get_absolute_url}}"><img src="{{work.get_image_url}}"></a>
</div>
  <div class="desc">
    <div class="plus"></div>
    {% inline_work work %}<br>
        <b>Raaga:</b>&nbsp;{% inline_raaga work.single_raaga %} <b>Taala:</b>&nbsp;{% inline_taala work.single_taala %}
</div>
  <div class="descOpen">
      {% if work.recording_set %}
      Recordings of this composition<br>
      {% for r in work.recording_set.all %}
      {% badge_mini_recording r %}
      {% endfor %}
      {% endif %}
</div>
</div>
