{% load staticfiles %}
{% load carnatic.inline %}
{% load carnatic.badges %}

<div class="work item">
  <div class="disc pict">
    <a href="{{work.get_absolute_url}}"><img src="{{work.get_image_url}}"></a>
</div>
  <div class="desc">
    <div class="plus"></div>
    {% inline_work work %}<br>
        <b>Raaga:</b>&nbsp;{% inline_raaga work.raaga %} <b>Taala:</b>&nbsp;{% inline_taala work.taala %}
</div>
  <div class="descOpen">
      {% work_recordings_with_restricted work request.show_bootlegs as recordings %}
      {% if recordings.recordings|length %}
      Recordings of this composition<br>
      {% for r in recordings.recordings %}
      {% badge_mini_recording r %}
      {% endfor %}
      {% if recordings.restricted %}
      And {{recordings.restricted }} others
      {% endif %}
      {% endif %}
</div>
</div>
