{% load staticfiles %}
{% load carnatic.inline %}

<div class="track">
    <a href="{{recording.get_absolute_url}}"><h4>{{recording.title}}</h4></a>
       <div class="trackWave">
            <a href="{{recording.get_absolute_url}}">
           <img src="{{recording.waveform_image}}" height="70" width="246">
            </a>
       </div>
       <div class="trackMeta">
           <label>Raaga:</label>
           {% if recording.get_raaga %}
           <b>{% inline_raaga_list recording.get_raaga %}</b>
           {% else %}
           unknown
           {% endif %}

           <label>Taala:</label>
           {% if recording.get_taala %}
           <b>{% inline_taala_list recording.get_taala %}</b>
           {% else %}
           unknown
           {% endif %}
       </div>
</div>
