{% extends "dashboard/base.html" %}
{% block title %}{{mode|capfirst}} filetype{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li><a href="{% url 'docserver-manager' %}">Module manager</a></li>
    <li><a href="{% url 'docserver-filetypes' %}">Filetypes</a></li>
    <li>{{mode|capfirst}} Filetype</li>
</ul>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
{% endfor %}

<h2>{{mode|capfirst}} filetype</h2>
<form method="post">{% csrf_token %}
    <table style="border-spacing: 0.5em; border-collapse: separate;">
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}

