{% extends "dashboard/base.html" %}

{% load docserver %}

{% block title %}Collection {{collection.name}}{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li><a href="{% url 'docserver-manager' %}">Module manager</a></li>
    <li>Collection {{collection.name}}</li>
</ul>

<div class="topbox">
    <div class="topheader">Documents Collection Relation</div>
    {% for d in collection.rel_documents.all %}
        <li>{{d.name}}: {{d.root_directory}} <a href="{% url 'docserver-doc-collectionedit' d.id %}">Edit relation</a></li>
    {% endfor %}
    <li><a href="{% url 'docserver-add-doc-collection' collection.slug %}">Add relation</a></li>
</div>

<div class="topbox">
    <div class="topheader">Actions</div>
    <li><a href="{% url 'docserver-editcollection' collection.slug %}">Edit collection</a>
    <li><a href="{% url 'docserver-delete-collection' collection.slug %}">Delete collection and all files</a>
</div>

<h3>Files</h3>
<p><a href="{% url 'docserver-collectionfiles' collection.slug %}">View all source files in this collection</a></p>

<h3>Extractors</h3>

<table class="table">
    <tr><th>Module</th><th>Latest version</th><th>Processed files</th><th>Unprocessed files</th><th>Process</th></tr>
    {% for m in collection.module_set.all %}
    <tr><td colspan="4">{{m}}</td>
        <td>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="run" value="{{m.pk}}">
                <input type="submit" {% if m.disabled %}disabled="disabled" {% endif %}value="Run this extractor">
            </form>
        </td>
    </tr>
    {% for v in m.versions.all %}
    <tr>
        <td></td>
        <td>{{v.version}}</td>
        <td><a href="{% url 'docserver-collectionversion' 'processed' collection.slug v.pk %}">
                {% processed_count_for_collection v collection %}</a></td>
        <td><a href="{% url 'docserver-collectionversion' 'unprocessed' collection.slug v.pk %}">
                {% unprocessed_count_for_collection v collection %}</a></td>
        <td></td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>


{% endblock %}


