{% extends "dashboard/base.html" %}
{% block title %}{{mode|capfirst}} Documents collection{% endblock %}

{% block wrap %}
<ul class="breadcrumbs">
    <li><a href="{% url 'docserver-manager' %}">Module manager</a></li>
    <li>{{mode|capfirst}} Documents collection</li>
</ul>

{% ifequal mode 'edit' %}
<div>
You are about to edit a Relation Element that is linked to the following collections:
{%for c in doc_coll.collections.all %}
<li>{{c.name}}</li>
{% endfor %}
</div>
{% endifequal %}

<h2>{{mode|capfirst}} Document relation with collection</h2>
{% ifequal mode 'add' %}
<form method="post" action="{% url 'docserver-add-doc-collection' collection.slug %}">{% csrf_token %}
    {{ form_add.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endifequal %}

<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}


