{% extends "dashboard/base.html" %}
{% block title %}Essentia manager{% endblock %}

{% block css %}
<style type="text/css">
.activenumber {
    color: grey;
}
.img-thumbnail {
    width: 100% !important;
    padding: 1em !important;
}
input[disabled] {
    color: grey;
}
</style>
{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li>Module manager</li>
</ul>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
{% endfor %}

<h2>Workers</h2>

  <div class="row placeholders">
        {% for w in workers %}
    <div class="col-xs-6 col-sm-3 placeholder">
<div class="info img-thumbnail">
    {% if w.number %}<span class="h1 activenumber">{{w.number}}</span><br><span class="h3">{{w.state}}</span>
{% else %}
<span class="h3">{{w.state}}</span>
    {% endif %}
    <p class="text-left">
    {% if w.worker.essentia.commit_date < latestessentia.commit_date %}
    <span data-toggle="tooltip" data-placement="right" class="label label-danger" title="This version of essentia is older than the most recent in the cluster"> Essentia: {{w.worker.essentia.short_link|safe}}</span>
    {% elif w.worker.essentia %}
    <span class="label label-default">Ess: {{w.worker.essentia.short_link|safe}}</span>
    {% endif %}
    <br>
    {% if w.worker.pycompmusic.commit_date < latestpycm.commit_date %}
    <span data-toggle="tooltip" data-placement="right" class="label label-danger" title="This version of pycompmusic is older than the most recent in the cluster"> Pcm: {{w.worker.pycompmusic.short_link|safe}}</span>
    {% elif w.worker.pycompmusic %}
    <span class="label label-default">Pcm: {{w.worker.pycompmusic.short_link|safe}}</span>
    {% endif %}
    </p>
</div>
      <h4><a href="{% url 'docserver-worker' w.host %}">{{w.host}}</a></h4>
    </div>
        {% endfor %}
  </div>

{% if newworkers %}
<div class="topbox">
    <div class="topheader">New workers</div>
    <ul>
        {% for w in newworkers %}
        <li>{{w}} <a href="?register={{w}}">Register</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if inactiveworkers %}
<div class="topbox">
    <div class="topheader">Inactive workers</div>
    <ul>
        {% for w in inactiveworkers %}
        <li>{{w}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="">
    Press this once to update essentia and pycompmusic from git and restart all workers<br>
    {% csrf_token %}
    <input type="hidden" name="updateall" value="yes">
    <input type="submit" value="Update all workers" onclick="return confirm('Do you want to update and restart all workers?');">
</form>

<h2>Extractor modules</h2>

{% if modules %}
<table class="table table-condensed "><tr><th>Module</th><th>Latest version</th><th>Processed files</th><th>Unprocessed files</th><th>Actions</th></tr>
    {% for m in modules %}
    <tr {% if m.disabled %}class="warning"{% endif %}>
        <td><a href="{{m.get_absolute_url}}">{{m.name}}</a> ({{m.module}})
            {% if m.disabled %}<br><b>Disabled due to error</b>{% endif %}<br>
           {% for c in m.collections.all %}
           <li>{{c}}
           {% endfor %}</td>
        <td>{{m.latest_version_number}}</td>
        {% with proccount=m.processed_files.distinct|length %}
        <td>{{proccount}}</td>
        {% endwith %}
        {% with unproccount=m.unprocessed_files.distinct|length %}
        <td {% if unproccount > 0 %}class="warning"{% endif %}>{{unproccount}}</td>
        {% endwith %}
        <td>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="run" value="{{m.pk}}">
                <input type="submit" {% if m.disabled %}disabled="disabled" {% endif %}value="Process files">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>(none)
{% endif %}
<p><a href="{% url 'docserver-addmodule' %}">Add new module</a><br>

<h2>Filetypes</h2>
<p><a href="{% url 'docserver-addfiletype' %}">Add filetype</a></p>
<p><a href="{% url 'docserver-filetypes' %}">List Filetypes</a><br>

<h2>Collection files</h2>
<p><a href="{% url 'docserver-addcollection' %}">Add collection</a></p>
{% if collections %}
<table class="table table-condensed"><tr><th>Collection</th></tr>
    {% for c in collections %}
    <tr><td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td></tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
