{% extends "dashboard/base.html" %}
{% block title %}Essentia manager{% endblock %}

{% block css %}
<style type="text/css">
.activenumber {
    color: grey;
}
.img-thumbnail {
    width: 100% !important;
    padding: 1em !important;
}
input[disabled] {
    color: grey;
}
</style>
<script>
function renderWork(dat){
  var html = '';
  for(var i=0;i<dat.workers.length;i++){
    var w = dat.workers[i];  
    html += '<div class="col-xs-6 col-sm-3 placeholder"><div class="info img-thumbnail">';
    if( w.number){
      html += '<span class="h1 activenumber">' +  w.number + '</span><br><span class="h3">' + w.state + '</span>';
    }else{
      html += '<span class="h3">' + w.state + '</span>';
    }
    html += '<p class="text-left">';
    if(w.worker.essentia.version != dat.latestessentia){
      html += '<span data-toggle="tooltip" data-placement="right" class="label label-danger" title="This version of essentia is older than the most recent in the cluster"> Essentia: ' + w.worker.essentia.link + '</span>';
    } else if (w.worker.essentia){
      html += '<span class="label label-default">Ess: ' + w.worker.essentia.link + '</span>';
    } else {
      html += '<br>';
    }
    if(w.worker.pyc.version != dat.latestpycm){
      html += '<span data-toggle="tooltip" data-placement="right" class="label label-danger" title="This version of pycompmusic is older than the most recent in the cluster"> Pcm: ' + w.worker.pyc.link + '</span>';
    } else if (w.worker.pyc ){
     html += ' <span class="label label-default">Pcm: ' + w.worker.pyc.link + '</span>';
    } 
    html += '</p></div><h4><a href="/document/manager/worker/' + w.host + '">' + w.host + '</a></h4></div>';
  }
  $('#workers').html(html);
  html = '';
  if( dat.newworkers.length ){
    html += '<div class="topbox"><div class="topheader">New workers</div><ul>'  
    for(var i=0;i<dat.newworkers.length;i++){
        var w = dat.newworkers[i];  
        html +='<li>' + w + '<a href="?register=' + w + '">Register</a></li>';
    }
    html += '</ul></div>';
    $(html).insertAfter('#workers');
  }

  html = '';
  if( dat.inactiveworkers.length ){
    html += '<div class="topbox"><div class="topheader">Inactive workers</div><ul>'  
    for(var i=0;i<dat.inactiveworkers.length;i++){
        var w = dat.inactiveworkers[i];  
        html +='<li>' + w + '</li>';
    }
    html += '</ul></div>';
    $(html).insertAfter('#workers');
  }

}
$( document ).ready(function() {
  $.ajax({
      method: "GET",
      url: "/document/manager/workers",
      dataType: "json"
  }).done(function(dat) {
      renderWork(dat);
  });
});
</script>
{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li>Module manager</li>
</ul>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
{% endfor %}

<h2>Workers</h2>

  <div id="workers" class="row placeholders">
  <span>Loading Workers status....</span>
  </div>

<form method="post" action="">
    Press this once to update essentia and pycompmusic from git and restart all workers<br>
    {% csrf_token %}
    <input type="hidden" name="updateall" value="yes">
    <input type="submit" value="Update all workers" onclick="return confirm('Do you want to update and restart all workers?');">
</form>

<p><a href="{% url 'docserver-addmodule' %}">Add new module</a><br>

<h2>Filetypes</h2>
<p><a href="{% url 'docserver-addfiletype' %}">Add filetype</a></p>
<p><a href="{% url 'docserver-filetypes' %}">List Filetypes</a><br>

<h2>Collection files</h2>
<p><a href="{% url 'docserver-addcollection' %}">Add collection</a></p>
{% if collections %}
<table class="table table-condensed"><tr><th>Collection</th></tr>
    {% for c in collections %}
    <tr><td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td></tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
