{% extends "dashboard/base.html" %}
{% block title %}Module {{module.name}}{% endblock %}

{% block css %}
<style>
pre.stacktrace {
  overflow-x: scroll;
  word-wrap: normal;
  white-space: pre;
}
</style>
{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li><a href="{% url 'docserver-manager' %}">Module manager</a></li>
    <li>Module {{module.name}}</li>
</ul>

<h2>Module {{module.name}}</h2>

{% if module.disabled %}
<div class="alert alert-warning">Module is disabled due to an error loading.
    Check that the class exists and can be imported on the server.
    Click <i>Scan for new versions</i> below to update</div>
{% endif %}

{% if confirmversion %}
Are you sure you want to delete this module version? ({{module.name}}, v{{versions.0.version}})
<form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="version" value="{{confirmversion}}">
        <input type="hidden" name="confirmversion" value="yes">
        <input type="submit" value="Yes, delete"></form>

{% elif confirmmodule %}
Are you sure you want to delete this module? ({{module.name}}, and all {{module.versions.count}} version{{module.versions.count|pluralize}})
<form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="module" value="{{confirmmodule}}">
        <input type="hidden" name="confirmmodule" value="yes">
        <input type="submit" value="Yes, delete"></form>

{% else %}

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update collections">
    <input type="hidden" name="update" value="1">
</form>
<p>
<form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="newversion" value="yes">
    <input type="submit" value="Scan for new versions">
</form>
<table class="table"><tr><th>Version</th><th>Processed files</th><th>Unprocessed files</th><th>Actions</th></tr>
    {% for v in versions %}
    <tr>
        <td>{{v.version}}</td>
        <td>{{v.processed_files.distinct|length}}</td>
        <td>{{v.unprocessed_files.distinct|length}}</td>
        <td>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="deleteversion" value="yes">
                <input type="hidden" name="version" value="{{v.pk}}">
                <input type="submit" value="Delete version"></form>
            {% if v.is_latest %}
            <p><form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="runversion" value="{{v.pk}}">
                <input type="submit" value="Process this version"></form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

    <div class="topbox">
        <div class="topheader">Recent log messages</div>
    <table class="table table-condensed">
        <tr>
            <th style="width:180px;">Date</th>
            <th style="width:180px;">Module</th>
            <th style="width:100px;">Level</th>
            <th>Document</th>
        </tr>
        {% for l in logs.all %}
        <tr>
            <td>{{l.datetime}}</td>
            <td>{{l.moduleversion.module.name}} ({{l.moduleversion.version}})</td>
            <td>{{l.level}}</td>
            <td><a href="{% url 'docserver-file' l.document.collections.all.0.slug l.document.external_identifier l.moduleversion.pk %}">{{l.document}}</a></td>
        </tr>
        <tr>
            <td style="padding-bottom: 15px;" colspan="4">
                {% if l.is_exception %}<pre class="stacktrace">{% endif %}
                {{l.message.strip}}
                {% if l.is_exception %}</pre>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

<form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="deletemodule" value="yes">
    <input type="hidden" name="module" value="{{module.pk}}">
    <input type="submit" value="Delete module and all versions">
</form>

{% endif %}

{% endblock %}

