{% extends "dashboard/base.html" %}
{% block title %}Worker {{worker.hostname}}{% endblock %}

{% block wrap %}

<ul class="breadcrumbs">
    <li><a href="{% url 'docserver-manager' %}">Module manager</a></li>
    <li>Worker &ldquo;{{worker.hostname}}&rdquo;</li>
</ul>

<h2>Worker &ldquo;{{worker.hostname}}&rdquo;</h2>

<h2><small>Essentia version 
        <a href="https://github.com/MTG/essentia/tree/{{worker.essentia.sha1}}">{{worker.essentia.short}}</a> ({{worker.essentia.commit_date|date:"DATETIME_FORMAT"}})</small></h2>
<h2><small>PyCompMusic version 
        <a href="https://github.com/MTG/pycompmusic/tree/{{worker.pycompmusic.sha1}}">{{worker.pycompmusic.short}}</a> ({{worker.pycompmusic.commit_date|date:"DATETIME_FORMAT"}})</small></h2>

<h3>State: {{state}}</h3>
{% if uptime %}
<h3>Uptime: {{uptime|timesince}}</h3>
{% endif %}

<h3>Current jobs:</h3>
{% for j in active %}
   {% include "docserver/workerjob.html" with j=j only %}
{% endfor %}

<h3>Queued jobs:</h3>
{% for r in reserved %}
   {% include "docserver/workerjob.html" with j=r only %}
{% endfor %}

<h2>Actions</h2>
<ul>
    <li><a href="?updateessentia">Update essentia</a></li>
    <li><a href="?updatepcm">Update pycompmusic</a></li>
    <li><a href="?restart">Restart</a></li>
</ul>

{% endblock %}

