{% extends "dashboard/base.html" %}

{% block title %}Upload K/V Json{% endblock %}

{% block wrap %}

{% if message %}
    <div class="topbox"><li>{{ message }}</li>
    {% if success_cat %}
        <li><a href="{% url "kvedit-items" success_cat.id %}">List of items: {{success_cat.name}}</a></li>
    {% endif %}
    </div>
{% endif %}

<h3>Edit Item</h3>

<p> Select a Category</p>
<div class="row">
    {% for cat in categories %}
        <div class="col-md-6"> 
          <li><a href="{%url "kvedit-items" cat.id %}">{{cat.name}}</a></li>
        </div>
    {% endfor %}
</div>

<h3>Upload Json file</h3>

<form method="post" action="{% url "kvedit-categories" %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{form}}</div>
    <input type="submit" value="Upload">
</form>

{% endblock %}


