{% extends "andalusian/base.html" %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'carnatic/css/pages.css' %}" />
{% endblock %}
{% block title %}Andalusian index | {% endblock %}
{% block script %}
<style>
#one-column-emphasis th
{
  font-size: 14px;
  font-weight: normal;
  padding: 12px 15px;
  color: #039;
}
#one-column-emphasis td
{
  padding: 10px 15px;
  color: #669;
  border-top: 1px solid #e8edff;
  width: 300px;
vertical-align: top;
}
.oce-first
{
  background: #d0dafd;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
  color: #339;
  background: #eff2ff;
}
#one-column-emphasis
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin-left: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
}
#one-column-emphasis th
{
  font-size: 14px;
  font-weight: bold;
  padding: 12px 15px;
  color: #039;
}
#one-column-emphasis td a
{
  color: #669;
  text-decoration: none;
  display:block;
  height:100%;
  width:100%;
}
#disp-filters{
  padding-left: 42px;
 /* color: #339;*/
  margin-top: 5px;
}
.pagination{
margin: 10px 0 25px 42px;
font-size: 14px;
}
.step-links{
border-top: 1px black solid;
}
td.recodings{
width: 400px;
}
a:hover{
  text-decoration: underline !important;
}
h2{
  margin: 30px 0 0 20px;
  color: #46433a;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#results{
margin-left: 30px;
}
#initial, #loading, #no-results{
  font-family: 'Sintony', sans-serif;
  font-size: 14px;
  margin-left: 30px;
  margin-top: 15px;
  color: #46433a;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f9f6f5;
  border: 1px solid #ebe2df;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
}
#initial a{
  color: #46433a;
}
#next-page{
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
margin: 20px;
}
.filter {
  position: relative;
  display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    color: #565a5c;
    min-height: 20px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0px;
    max-width: 360px;
}
.filter-sel{
    background-color: #edefed;
    border: 1px solid #dce0e0;
}
.remove-param{
    margin-right: 5px;
    font-weight: bold;
}
.filter a{
    text-decoration: none;
    color: #039;
}
.table-front{
    display: inline-block;
    margin: 10px 56px;
    border: 1px solid #ddd;
}

.table-front th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-front td {
    padding: 15px;
    text-align: left;
}
.bold-text{
    font-weight: bold;
}
.two-column-filter{
    float: left;
    width: 50%;
}
a.selected{
    color: #46433a;
    font-weight: bold;
}
</style>
<script src="{% static 'makam/js/works.js' %}"></script>
<script>
$( document ).ready(function() {
$("#logindialog").dialog({
  autoOpen: false,
});
});
</script>
{% endblock%}

{% block wrap %}
<div id="detail"   style="min-height: 850px;">

       <div id="disp-filters">
         <div class="filter">
           <div class="two-column-filter"><b><span>Mizan:</span></b></div>
           {% for m in mizans.all %}
           <div class="two-column-filter"><a class="change-filter {% if m.id|slugify == mizan %}selected{%endif%}" href="/andalusian/?mizan={{m.id}}{% if nawba %}&nawba={{nawba}}{%endif%}">{{m.transliterated_name}}</a></div>
           {% endfor %}
         </div>
         <div class="filter">
           <div class="two-column-filter"><b><span>Nawba:</span></b></div>
           {% for n in nawbas.all %}
           <div class="two-column-filter"><a class="change-filter {% if n.id|slugify == nawba %}selected{%endif%}" href="/andalusian/?nawba={{n.id}}{% if mizan %}&mizan={{mizan}}{%endif%}">{{n.transliterated_name}}</a></div>
           {% endfor %}
         </div>
       </div>

    {% if recordings|length %}
    <div id="results">
        <h2>Results</h2>
        <table  style="margin-left:30px;  min-width: 1200px;" id="one-column-emphasis">
        <tr><th scope="col">Recording name</th><th scope="col">Orchestra</th><th scope="col">Album</th></tr>
        {% for r in recordings %}
        <tr class="work"><td height="30"><a href="/andalusian/recording/{{r.mbid}}">{{ r.title }}</a></td>
          <td ><a href="/andalusian/recording/{{r.mbid}}">{{ r.album_set.all.0.artists.all.0 }}</a></td>
          <td><a href="/andalusian/recording/{{r.mbid}}">{{ r.album_set.all.0 }}</a></td></a></tr>
        {% endfor %}
        </table>
        {% if recordigns.has_next %}
            <div id="next">
              <a id="next-page" href="?s_mizan={{mizan}}&s_nawba={{nawba}}&page={{ works.next_page_number }}">next</a>
            </div>
        {% endif %}
    </div>
    {% endif%}
    {% if results == False %}
    <div id="no-results" >
        <h3> There are no results for this search.
        </h3>
    </div>
    {% endif %}

    {% if recordings|length == 0 %}

    <div id="initial" >
            <h1>Welcome to Dunya Andalusí</h1>
      <p>
Dunya is a web application for the analysis and discovery of traditional music, aimed to showcase various technologies developed within the CompMusic project.
</p>

You can navigate the analyzed collection using <strong>the search bar and the filters</strong> at the top of the page. If you want a quick preview of the application, you can jump to the examples below:
      </p>
      <h2>Some Examples</h2>
      <ul>
        <li><a href="andalusian/recording/ec15c3e3-f58b-4073-8e1e-82620f488745">بسيط رصد الذيل</a> by <em>عبد الصادق اشقارة, محمد العربي التمسماني </em></li>
      </ul>

</p>
    {% endif%}
    <div class="clearfix"></div>
</div>
<div id="filterdialog" title="Filter">
</div>
<div id="logindialog" title="Login required">
  <p>You need to log in to play a recording</p>
</div>
{% endblock %}

