{% extends "makam/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'makam/css/pages.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'makam/css/recording.css' %}" />
{% endblock %}

{% block title %}{{recording.title}} - {% endblock %}

{% block script %}
<style type="text/css">
#capcal{
    background: url('/static/carnatic/img/capcal.png') 0 0 repeat-y !important;
}
  #capcalTotal {
      height: 94% !important;
  }
  #detail.recording #header #scrollrec #meta .metaBlock .metaMask .metaContainer .metaDetails span label {
      width: 14% !important;
  }
  #detail.recording #header #scrollrec #summary #innerSummary span h1 {
      font-size: 14px !important;
  }
  #detail.recording .alldata .container .thedata #renderTotal #smallcanvas {
      opacity: 1;
  }
  #detail.recording .alldata .container .thedata #renderTotal #miniviewHighlight {
      background: none;
      height: 64px;
      z-index: 4;
  }
  #banshis {
      position: relative;
      height: 25px;
      font-size: 15px;
  }
  #banshis .banshi {
      position: absolute;
      height: 25px;
      margin: 2px;
  }
  #percussions {
      position: relative;
      height: 25px;
      font-size: 15px;
  }
  #percussions .percussion {
      position: absolute;
      height: 25px;
      margin: 2px;
  }
  #excerpt{
      padding-top:0 !important;
  }
  svg a {
      color: #000000 !important;
  }
  a[highlight='1']>path {
      background-color: yellow;
      color: red;
      margin: 10px;
      box-shadow: 0 0 20px yellow;
  }
  #score{
      overflow: hidden;
  }
  #score-cont{
      position: relative;
  }
  #no-score{
      margin: 30px 0 0 20px;
      color: #46433a;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
  }
  #overlap-pitch, #overlap-histogram, #histogram-current-note{
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2;
  }
  .works-info{
      cursor: pointer;
      float: left;
  }
  .work-head{
     width: 85%;
  }
  .work-name{
      text-align: center;
      position: absolute;
      top: 70;
      display: none;
      border-radius: 5px;
      border-top: 1px solid #ccc;
  }
  .work-box{
      background-color: #f9f6f5;
      border: 1px solid #ebe2df;
      border-radius: 2px;
      float: left;
      width: 90%;
  }
  .work-box a{
      font-size: 14px;
      text-decoration: none;
  }
  .metaDetails{
      font-size: 14px !important;
  }
  .metaDetails span{
    margin-top: 16px !important;
  }
  .works-info:after {
      content: "\039e";
      position: relative;
      right: -156px;
      top: -22px;
  }
  .work-mb{
      display: inline;
      margin-left: 0;
  }
  .no-close .ui-dialog-titlebar-close {
      display: none;
  }
  #next-score, #prev-score{
      color: #D71F00;
  }
  #next-score:hover, #prev-score:hover{
      cursor: hand;
      cursor: pointer;
      opacity: .9;
  }
</style>

<script>
var waveformurl = "{{waveform|safe}}";
var scoreurl = "{{scoreurl|safe}}";
var smallurl = "{{smallimageurl|safe}}";
var audiourl = "{{audio|safe}}";
var recordinglengthfmt = "{% if recording.length %}{{recording.length_format}}{% endif %}";
var recordinglengthseconds = "{%if recording.length %}{{recording.length}}{% endif %}";
var worksurl = "{{worksurl}}";
var secondsPerView = 8;

{% if user.is_authenticated %}
function playrecord(){
    if(plButton.hasClass("stop")){
        pause();
        plButton.removeClass("stop");
    }else{
        play();
        plButton.addClass("stop");
    }
}

{% else %}
$(function() {
    $( "#playback_dialog" ).dialog( "open" );
  });
{% endif %}

widthOfChildren('.metaContainer');
</script>
<script src="{% static 'andalusian/js/recording.js' %}"></script>
{% endblock %}

{% block wrap %}
{% if bootleg %}
<div id="bootleg-bar">
    <div style="float:left">
        <p>This is a bootleg recording only visible to CompMusic researchers.
        <br>Do not share.</p>
    </div>
    <div style="float:right; margin-top:10px;margin-right:10px;">
        <button onclick='$("#bootleg-bar").hide()'>Ok</button>
    </div>
</div>
{% endif %}
<div id="detail" class="recording">
    <div id="header">
        <div id="scrollrec">
            <div id="summary">
                <div id="innerSummary">
                    <span>
                        <h1>{{recording.title}}</h1>
                        <h2> by {{recording.artists.all|join:", " }} </h2>
                    </span>
                </div>
                <div id="summaryBack"></div>
            </div>
            <div id="meta">
                <div class="metaBlock">
                    <div class="metaMask">
                        <div class="metaContainer">
                            <div id="excerpt" class="metaDetails recordingDetails">
                                <span class="list">
                                    {% for w in  recording.releaselist%}
                                        <label>Album</label><b><span>{{ w }}</span></b>
                                    {% endfor %}
                                    <label>Compositions</label><b><span>&nbsp;</span></b>
                                    {% for w in recording.works.all %}
                                    <div class="work-box">
                                        <span class="works-info">
                                          <div class="work-head">
                                            <a class="work-ref" href="#" ref="#work-{{w.mbid}}">{{w}}</a>
                                            <a class="work-mb" href="http://musicbrainz.org/work/{{w.mbid}}"><img width='16px' src="{% static 'makam/img/mb.png' %}" /></a>
                                          </div>
                                        </span>
                                        <div class="work-info" id="work-{{w.mbid}}" style="display:none">
                                            {% for c in w.composerlist.all %}
                                            <label>Composer</label><b><span><a href="{% url "makam-main" %}?artist={{c.id}}">{{c}}</a></span></b>
                                            {% endfor %}
                                            {% for c in w.lyricistlist.all %}
                                            <label>Lyricist</label><b><span><a href="{% url "makam-main" %}?artist={{c.id}}">{{c}}</a></span></b>
                                            {% endfor %}
                                            {% for m in w.makam.all %}
                                            <label>Makam</label><b><span><a href="{% url "makam-main" %}?makam={{m.id}}">{{m}}</a></span></b>
                                            {% endfor %}
                                            {% for f in w.form.all %}
                                            <label>Form</label><b><span><a href="{% url "makam-main" %}?form={{f.id}}">{{f}}</a></span></b>
                                            {% endfor %}
                                            {% for u in w.usul.all %}
                                            <label>Usul</label><b><span><a href="{% url "makam-main" %}?usul={{u.id}}">{{u}}</a></span></b>
                                            {% endfor %}
                                        </div>
                                     </div>
                                    {% endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="totalcontrol">
            <div id="control">
                <div class="revButton"></div>
                <div class="plButton" onclick="playrecord();"></div>
                <div class="folButton"></div>
            </div>
        </div>
        <div style="padding-top:6px; margin-right:1em;">
        </div>
        <div class="clearfix"></div>
    </div><!-- HEADER END -->

    <div class="alldata">
        <div class="container">
            <div class="thedata">
                <div id="rendersMask" style="height:680px;">
                    <div id="renders">
                        <div>
                            <div id="score" style="height:577px; width:900px;">
                                <div id="no-score" style="display:none">
                                    There is no score to show.
                                </div>
                                <div id="score-cont">
                                </div>
                            </div>
                        </div>
                        <div id="renderTotal">
                            <div id="capcalTotal"></div>
                            <div id="timepoint"></div>
                            <div id="miniviewHighlight"></div>
                            <canvas id="smallcanvas"></canvas>
                            {% for w in recording.works.all %}
                                <div class="work-name" id="work-name-{{w.mbid}}"><a href="#" class="work-ref" ref="#work-{{w.mbid}}">{{w}}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="container2">
                    <div class="waveLabel">
                      <canvas id="overlap-histogram" style="width:200px; height:256px;"></canvas>
                      <canvas id="histogram-current-note" style="width:200px; height:256px;"></canvas>
                      <canvas id="histogramcanvas" style="height:256px; width:200px;"></canvas>
                      <div><span id="next-score">Next Page</span></div>
                      <div><span id="prev-score">Previous Page</span></div>
                      <div id="freq-info"></div>
                      <div id="current-note"></div>
                    </div>
                    <div id="totalcontrol2">
                        <div id="timecode">00:00<span>{% if recording.length %}{{recording.length_format}}{% endif %}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}

