.bg-image {
  background-image: url("http://dunya.compmusic.upf.edu/static/makam/img/front.png");
  background-size: cover;
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: -1;
}
.bg-image:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.elastic-hover a, .modal-tab a, .modal-content-list-item a, .tab-title a {
  color: #5f3423;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.elastic-hover a:hover, .modal-tab a:hover, .modal-content-list-item a:hover, .tab-title a:hover {
  color: #1f210f;
}
.elastic-hover a:after, .modal-tab a:after, .modal-content-list-item a:after, .tab-title a:after {
  content: '';
  position: absolute;
  right: auto;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0%;
  -webkit-transition: width, 0.3s, ease-out;
  transition: width, 0.3s, ease-out;
  background-color: #1f210f;
}
.elastic-hover a.active:after, .modal-tab a.active:after, .modal-content-list-item a.active:after, .tab-title a.active:after, .elastic-hover a:hover:after, .modal-tab a:hover:after, .modal-content-list-item a:hover:after, .tab-title a:hover:after {
  width: 100%;
}

.modal-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(44, 22, 45, 0.9);
  z-index: -2;
  opacity: 0;
  -webkit-transition: opacity, 0.3s, ease-in;
  transition: opacity, 0.3s, ease-in;
}
.modal-container.active {
  opacity: 1;
  z-index: 1000;
}
.modal-container.active .modal {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-container .modal {
  width: 80%;
  max-width: 700px;
  height: 500px;
  background-color: white;
  margin: auto;
  -webkit-transform: translate3d(0, -200px, 0);
          transform: translate3d(0, -200px, 0);
  border-radius: 10px;
  -webkit-transition: 0.3s, ease-in, -webkit-transform;
  transition: 0.3s, ease-in, -webkit-transform;
  transition: transform, 0.3s, ease-in;
  transition: transform, 0.3s, ease-in, -webkit-transform;
  position: relative;
  padding: 20px 15px;
  box-shadow: 2px 2px 30px 4px rgba(23, 12, 28, 0.9);
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 2em;
}

.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-alphabet {
  -webkit-flex-basis: 5%;
      -ms-flex-preferred-size: 5%;
          flex-basis: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  margin: 20px 0;
  text-align: center;
  border: #5f3423;
  background-color: #ffeaf2;
  height: 400px;
}
.modal-alphabet a{
    color: #222;
    text-decoration: none;
    font-size: 16px;
}
.modal-alphabet .modal-letter {
  text-transform: uppercase;
  padding: 5px;
}

.modal-tab {
  color: #5f3423;
  display: inline-block;
  padding-right: 30px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
}
.modal-tab.active, .modal-tab:hover {
  color: #1f210f;
}

.modal-content-list {
  margin: 20px 0 20px 50px;
  padding: 5px 0;
  overflow-x: hidden;
  width: 700px;
  height: 380px;
}

.modal-content-list-item {
  font-size: 2em;
  line-height: 1.3em;
}

.search-form {
  color: white;
  margin-top: 100px;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search-form img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.search-form form {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.search-form input {
  background: none;
  border: none;
  box-shadow: none;
  color:white;
  vertical-align: middle;
  font-size: 16px;
}
.search-form input:focus {
  outline: none;
}

.search-container {
  text-align: center;
  height: 200px;
  width: 100%;
  position: relative;
  margin: 50px 0;
  overflow-y: hidden;
}

.hero-container {
  text-align: center;
  margin-top: 50px;
}

.hero-title {
  font-weight: bold;
  font-size: 6em;
  line-height: 2em;
}

.hero-description {
  max-width: 650px;
  margin: 0 auto;
  font-size: 2em;
  line-height: 1.3em;
}

.tab-title {
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  text-align: center;
  font-size: 24px;
}

.tabs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0 60px;
}

body {
  font-family: Lato, sans-serif;
}

a {
  cursor: pointer;
}

