.shadow1 {
  box-shadow: 1px 1px 3px #666;
}
/** This goes at the top right of a 4x4 box or right on a 1x2 box. */
/* A regular box */
div.item {
  float: left;
  width: 218px;
  height: 270px;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  background: #f6f6f6;
  box-shadow: 1px 1px 3px #666;
  /* The photo */

  /* The description at the bottom */

}
div.item .descOpen,
div.item .lists {
  display: none;
}
div.item.open .descOpen {
  display: block;
  height: 205px;
  left: 213px;
  overflow-y: auto;
  padding: 13px 21px 21px;
  position: absolute;
  top: 6px;
  width: 231px;
  background: rgba(256, 256, 256, 0.4);
  box-shadow: inset 0px 0px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.item.open .descOpen h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}
div.item.open .descOpen p {
  margin-top: 0px;
}
div.item .pict {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 207px !important;
  height: 207px !important;
  line-height: 207px;
  overflow: hidden;
}
div.item .pict a {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: block;
  background: #fff;
}
div.item .pict img {
  width: 100%;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}
div.item.taala.widetaala .pict {
  line-height: 207px;
}
div.item.taala.widetaala .pict img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}
div.item.taala.widetaala.open .pict {
  position: absolute;
  top: 6px;
  left: 25px;
  width: 400px !important;
  height: 207px !important;
  overflow: hidden;
}
div.item.taala.widetaala.open .pict a {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: block;
  background: #fff;
}
div.item.taala.widetaala.open .pict img {
  width: 100%;
}
div.item.open .desc {
  font-size: 13px;
  line-height: 15px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}
div.item.open .desc .plus {
  background: url("../img/lessIcon.png") 0 0 no-repeat;
}
div.item .desc {
  overflow: hidden;
  bottom: 0;
  height: 57px;
  padding: 6px;
  position: absolute;
  width: 100%;
  font-size: 11px;
  line-height: 12px;
}
div.item .desc .title {
  font-weight: bold;
  text-decoration: none;
}
div.item .desc a {
  text-decoration: none;
}
div.item .desc .plus {
  position: relative;
  float: right;
  margin-top: 8px;
  width: 23px;
  height: 23px;
  background: url("../img/plusIcon.png") 0 0 no-repeat;
  cursor: pointer;
}
div.item .desc p {
  margin: 0px;
  color: #666;
}
div.item .desc .belongs {
  color: #000;
  opacity: 0.6;
  text-decoration: none;
}
div.item .desc a:hover {
  text-decoration: underline;
}
div.item .smallPlay {
  position: absolute;
  left: 200px;
  top: 2px;
  width: 23px;
  height: 23px;
  background: url("../img/smallPlay.png") 0 0 no-repeat;
  z-index: 10;
}
div.item.concert,
div.item.release {
  background: #5fbdb8;
}
div.item.concert .desc,
div.item.release .desc {
  background: #a7dbd8;
}
div.item.work {
  background: #b7c189;
}
div.item.work .desc {
  background: #e0e4cc;
}
div.item.instrument {
  background: #b3550a;
}
div.item.instrument .desc {
  background: #f38630;
}
div.item.raaga,
div.item.raag {
  background: #943e00;
}
div.item.raaga .desc,
div.item.raag .desc {
  background: #fa6900;
}
div.item.taala,
div.item.taal {
  background: #dfb01f;
}
div.item.taala .desc,
div.item.taal .desc {
  background: #ecd078;
}
div.item.composer {
  background: #ab253b;
}
div.item.composer .desc {
  background: #c02942;
}
div.item.artist {
  background: #20adca;
}
div.item.artist .desc {
  background: #69d2e7;
}
div.item.form {
  background: #2a3c3d;
}
div.item.form .disc {
  background: #e1eaeb;
}
div.item.form .desc {
  background: #53777a;
}
div.item.laya {
  background: #0d0508;
}
div.item.laya .desc {
  background: #542437;
}
/* ==========================================================================
   DETAIL 
   ========================================================================== */
#detail {
  border-bottom: 30px solid #333;
  /* Specifics for taala image */

}
#detail .missingdata {
  width: 100%;
  text-align: center;
  font-size: x-large;
  height: 500px;
  padding-top: 50px;
  background: url("../img/cloth_alike.png") 0 0 repeat;
}
#detail.taala #header .bigImage {
  position: relative;
  float: left;
  width: 296px;
  height: 296px;
  line-height: 296px;
  background: #eee;
  z-index: 2;
}
#detail.taala #header .bigImage img {
  vertical-align: middle;
  width: 297px;
}
#detail #header {
  background: #fff;
  border-bottom: 1px solid #dddddd;
}
#detail #header .widetaala .bigImage {
  width: 500px;
}
#detail #header .widetaala .bigImage img {
  width: 490px;
}
#detail #header .widetaala #meta {
  float: none;
  margin-left: none;
}
#detail #header #summary {
  position: relative;
  float: left;
  width: 220px;
  height: 296px;
  padding: 10px;
}
#detail #header #summary #previewicon {
  position: absolute;
  bottom: 3px;
  left: 3px;
  z-index: 4;
}
#detail #header #summary #previewicon.disabled {
  width: 87px;
  height: 90px;
  background: url("../img/playButtonBig.png") 0 0 no-repeat;
  cursor: pointer;
}
#detail #header #summary #innerSummary {
  position: absolute;
  z-index: 3;
  display: table;
  width: 100%;
  height: 100%;
}
#detail #header #summary #summaryBack {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url("../img/noisy.png") 0 0 repeat;
  opacity: 0.15;
}
#detail #header #summary #summaryBack2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#detail #header #summary span {
  z-index: 2;
  vertical-align: middle;
  display: table-cell;
  text-align: right;
}
#detail #header #summary span h1 {
  font-size: 22px;
  line-height: 22px;
  margin: 0px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}
#detail #header #summary span h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  line-height: 16px;
  margin-top: 7px;
}
#detail #header #summary span h2 a {
  text-decoration: none;
}
#detail #header #summary span h3 {
  color: #fff;
  margin: 0px;
  font-weight: normal;
}
#detail #header #summary span h3 a {
  color: #fff;
  text-decoration: none;
}
#detail #header .bigImage {
  position: relative;
  float: left;
  width: 296px;
  height: 296px;
  overflow: hidden;
  background: #333;
  z-index: 2;
}
#detail #header .bigImage img {
  width: 297px;
}
#detail #header #image {
  background: url("../img/artistImage.jpg") 0 0 no-repeat;
}
#detail #header #meta {
  position: relative;
  float: left;
  width: 100%;
  margin-left: -516px;
  height: 296px;
}
#detail #header #meta .metaBlock {
  position: relative;
  height: 100%;
  margin-left: 516px;
}
#detail #header #meta .metaBlock .metaMask {
  position: relative;
  width: auto;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#detail #header #meta .metaBlock .metaMask .metaContainer {
  position: relative;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails {
  display: inline-block;
  float: left;
  width: 300px;
  height: 297px;
  border-right: 1px solid #dddddd;
  font-size: 11px;
  padding-top: 24px;
  position: relative;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails .inner {
  overflow-y: auto;
  height: 100%;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails h3 {
  top: 0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #dddddd;
  background: #f6f6f6;
  color: #aaaaaa;
  margin: 0px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: normal;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails span {
  display: block;
  margin: 10px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails span .player {
  background: url("../img/playButton.png") 0 50% no-repeat;
  padding-left: 38px;
  padding-top: 10px;
  padding-bottom: 11px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails span a {
  color: #d71f00;
  display: block;
  margin-bottom: 8px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails span.list label {
  float: left;
  width: 28%;
  text-align: right;
  clear: left;
  margin-right: 4px;
  font-weight: bold;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails span.list b {
  float: left;
  font-weight: normal;
  width: 68%;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails.narrow {
  width: 450px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .metaDetails.close {
  width: 150px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta {
  display: inline-block;
  float: left;
  width: 300px;
  height: 297px;
  border-right: 1px solid #dddddd;
  font-size: 11px;
  position: relative;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta.narrow {
  width: 450px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta.close {
  width: 150px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails {
  display: inline-block;
  float: left;
  width: 100%;
  height: 142px;
  padding-top: 24px;
  position: relative;
  border: none;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails .inner {
  overflow-y: auto;
  height: 100%;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails h3 {
  top: 0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #dddddd;
  background: #f6f6f6;
  color: #aaaaaa;
  margin: 0px;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span {
  display: block;
  margin: 10px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span .player {
  background: url("../img/playButton.png") 0 50% no-repeat;
  padding-left: 38px;
  padding-top: 10px;
  padding-bottom: 11px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span a {
  color: #d71f00;
  display: block;
  margin-bottom: 8px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span.list label {
  float: left;
  width: 28%;
  text-align: right;
  clear: left;
  margin-right: 4px;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span.list b {
  float: left;
  font-weight: normal;
  width: 68%;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span.list2 label {
  display: block;
}
#detail #header #meta .metaBlock .metaMask .metaContainer .splitMeta .metaDetails span.list2 b {
  display: block;
}
.similarList {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  display: none;
  padding: 15px;
}
.similarList.active {
  display: block;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.similarList .miniitem:first-child {
  margin-top: 15px !important;
}
.similarList .miniitem {
  padding-left: 13px !important;
}
.similarList.artist {
  background: #69d2e7 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.concert,
.similarList.release {
  background: #c02942 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.work {
  background: #e0e4cc url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.instrument {
  background: #f38630 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.raaga,
.similarList.raag {
  background: #fa6900 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.taala,
.similarList.taal {
  background: #ecd078 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.recording {
  background-: #d95b43 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.composer {
  background: #c02942 url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.form {
  background: #53777a url("../img/cloth_alikeTrans2.png") repeat;
}
.similarList.laya {
  background: #542437 url("../img/cloth_alikeTrans2.png") repeat;
}
/** For example, tag/comment input box */
.rightdata textarea {
  margin-bottom: 10px;
  box-shadow: inset 0px 1px 5px #ddd, 2px 2px 2px #888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
.similarity h2 {
  font-weight: normal;
  color: #fff;
  font-size: 11px;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 4px;
}
.similarity div {
  float: right;
  text-align: right;
  right: 0px;
  clear: right;
  display: block;
  height: 27px;
  margin-bottom: 5px;
  position: relative;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 5px;
  border-left: 6px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.similarity div.artist {
  background: #69d2e7;
  color: #1d9bb4;
}
.similarity div.concert,
.similarity div.release {
  background: #c02942;
  color: #4db6b0;
}
.similarity div.work {
  background: #e0e4cc;
  color: #adb879;
}
.similarity div.instrument {
  background: #f38630;
  color: #9b4909;
}
.similarity div.raaga,
.similarity div.raag {
  background: #fa6900;
  color: #7a3300;
}
.similarity div.taala,
.similarity div.taal {
  background: #ecd078;
  color: #c89f1c;
}
.similarity div.recording {
  background: #d95b43;
  color: #822b1a;
}
.similarity div.composer {
  background: #c02942;
  color: #57131e;
}
.similarity div.laya {
  background: #542437;
  color: #000000;
}
.similarity div.form {
  background: #53777a;
  color: #1f2d2e;
}
.similarity div span {
  position: absolute;
  right: 4px;
  font-weight: bold;
}
.thedata {
  border-bottom: 1px solid #a7a8ac;
  display: block;
  clear: both;
}
.thedata .leftdata {
  width: 220px;
  float: left;
}
.thedata .leftdata h3 {
  font-weight: normal;
  text-align: right;
  font-size: 14px;
  margin: 10px;
}
.thedata .rightdata {
  float: left;
  width: 100%;
  margin-left: -220px;
}
.thedata .rightdata .scrolldata {
  overflow-x: auto;
  overflow-y: hidden;
}
.thedata .rightdata .scrolldata .scrollblock {
  width: 100%;
}
.thedata .rightdata .innerrightdata {
  padding: 10px;
  margin-left: 220px;
  border-left: 1px solid #a7a8ac;
  min-height: 40px;
}
.thedata .rightdata .innerrightdata .recording {
  float: left;
  height: 100px;
}
.thedata .rightdata .innerrightdata .recording .disc {
  float: left;
  width: 127px;
  height: 90px;
  margin-right: 10px;
}
.thedata .rightdata .innerrightdata .recording .desc p {
  margin: 0px;
  color: #888;
}
.thedata .rightdata .innerrightdata .recording .desc b {
  font-weight: normal;
  display: block;
  color: #000;
}
.thedata .rightdata .innerrightdata .track {
  float: left;
  padding: 10px;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: -1px;
  margin-top: 1px;
  width: 300px;
}
.thedata .rightdata .innerrightdata .track h4 {
  margin: 0px;
  margin-bottom: 4px;
}
.thedata div.open {
  width: 450px;
  height: 270px;
}
.thedata div.open.similar {
  width: auto;
}
.thedata div.open .pict {
  position: relative;
  display: inline-block;
  float: left;
}
.thedata div.open .lists {
  display: block !important;
  height: 207px;
  left: 0;
  position: relative;
  top: 6px;
  width: auto;
  padding-left: 6px;
  padding-right: 6px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
.thedata div.open .lists.similar .left {
  overflow: visible;
  border-right: none;
}
.thedata div.open .lists .left {
  position: relative;
  top: 0px;
  left: 0px;
  width: 207px;
  height: 100%;
  float: left;
  border-right: 1px dashed rgba(256, 256, 256, 0.5);
  overflow-y: auto;
}
.thedata div.open .lists .left .similarity > div {
  height: 20px !important;
  float: right;
  margin-bottom: 2px;
  padding-top: 3px;
}
.thedata div.open .lists .left .similarity div.active:after {
  content: "";
  height: 21px;
  position: absolute;
  right: -14px;
  top: 0px;
  width: 16px;
  z-index: 10;
  background: url("../img/simiMark.png") -8px -3px no-repeat;
}
.thedata div.open .lists .right {
  position: relative;
  top: 0px;
  left: 0px;
  width: 231px;
  height: 100%;
  float: left;
  padding-left: 5px;
  overflow-y: auto;
  display: none;
}
#detail.artist a,
#detail.artist .title {
  color: #19889e !important;
}
#detail.artist a {
  color: #19889e !important;
}
#detail.concert a,
#detail.release a {
  color: #44a5a0 !important;
}
#detail.work a {
  color: #a3af68 !important;
}
#detail.instrument a {
  color: #823e08 !important;
}
#detail.raaga a,
#detail.raag a {
  color: #612900 !important;
}
#detail.taala a,
#detail.taal a {
  color: #b28d19 !important;
}
#detail.composer a {
  color: #420e17 !important;
}
#detail.form a {
  color: #151e1f !important;
}
#detail.laya a {
  color: #000000 !important;
}
.artist #summary {
  background: #69d2e7;
  border-bottom: 10px solid #20adca;
}
.concert #summary,
.release #summary {
  background: #a7dbd8;
  border-bottom: 10px solid #44a5a0;
}
.work #summary {
  background: #e0e4cc;
  border-bottom: 10px solid #b7c189;
}
.instrument #summary {
  background: #f38630;
  border-bottom: 10px solid #b3550a;
}
.raaga #summary,
.raag #summary {
  background: #fa6900;
  border-bottom: 10px solid #943e00;
}
.taala #summary,
.taal #summary {
  background: #ecd078;
  border-bottom: 10px solid #dfb01f;
}
.recording #summary {
  background: #d95b43;
  border-bottom: 10px solid #97321f;
}
.composer #summary {
  background: #c02942;
  border-bottom: 10px solid #6c1725;
}
.form #summary {
  background: #53777a;
  border-bottom: 10px solid #2a3c3d;
}
.laya #summary {
  background: #542437;
  border-bottom: 10px solid #0d0508;
}
#summary.artist h1 {
  color: #0f4f5c;
}
#summary.concert h1,
#summary.release h1 {
  color: #2d6f6b;
}
#summary.work h1 {
  color: #7a8446;
}
#summary.instrument h1 {
  color: #3a1c03;
}
#summary.raaga h1,
#summary.raag h1 {
  color: #140900;
}
#summary.taala h1,
#summary.taal h1 {
  color: #6f5810;
}
#summary.recording h1 {
  color: #2d0f09;
}
#summary.composer h1 {
  color: #030101;
}
#summary.form h1 {
  color: #000000;
}
#summary.laya h1 {
  color: #000000;
}
#detail.artist #header #summary span h2,
#detail.artist #header #summary span h2 a {
  color: #126272;
}
#detail.concert #header #summary span h2,
#detail.concert #header #summary span h2 a,
#detail.release #header #summary span h2,
#detail.release #header #summary span h2 a {
  color: #35817d;
}
#detail.work #header #summary span h2,
#detail.work #header #summary span h2 a {
  color: #89954f;
}
#detail.instrument #header #summary span h2,
#detail.instrument #header #summary span h2 a {
  color: #522705;
}
#detail.raaga #header #summary span h2,
#detail.raaga #header #summary span h2 a #detail.raag #header #summary span h2,
#detail.raag #header #summary span h2 a {
  color: #2e1300;
}
#detail.taala #header #summary span h2,
#detail.taala #header #summary span h2 a #detail.taal #header #summary span h2,
#detail.taal #header #summary span h2 a {
  color: #856a13;
}
#detail.recording #header #summary span h2,
#detail.recording #header #summary span h2 a {
  color: #43160d;
}
#detail.composer #header #summary span h2,
#detail.composer #header #summary span h2 a {
  color: #180508;
}
#detail.form #header #summary span h2,
#detail.form #header #summary span h2 a {
  color: #000101;
}
#detail.laya #header #summary span h2,
#detail.laya #header #summary span h2 a {
  color: #000000;
}
